.breadcrumb {
	margin: 0px;
	padding: 16px 45px;

	.breadcrumb-item {
		&::before {
			color: #D1D1D1;
		}

		&:not(.active) {
			font-family: 'OpenSans';
			font-weight: 400;
			font-size: 12px;

			a {
				text-decoration: none;
				color: #A9A9A9;
			}
		}

		&.active {
			margin-top: auto;
			color: #151515;
			font-family: 'OpenSans';
			font-weight: 400;
			font-size: 12px;
		}
	}
}