@import '../../../variables';

.breadcrumb {
	margin: 0px;
	padding: 16px 45px;

	.breadcrumb-item {
		&::before {
			color: $input-text-color;
		}

		& + .breadcrumb-item {
			&::before {
				content: '\\';
			}
		}

		&:not(.active) {
			font-family: $secondary-english-font;
			font-weight: 400;
			font-size: 12px;

			a {
				text-decoration: none;
				color: $input-text-color;
			}
		}

		&.active {
			margin-top: auto;
			color: $dark-color;
			font-family: $secondary-english-font;
			font-weight: 400;
			font-size: 12px;
		}
	}

	&.rtl {
		.breadcrumb-item {
			&::before {
				float: right;
			}

			& + .breadcrumb-item {
				padding: 0px 8px 0px 0px;

				&::before {
					padding: 0px 0px 0px 8px;
					content: '/';
				}
			}

			&:not(.active),
			&.active {
				font-family: $secondary-arabic-font;
			}
		}
	}
}