<div class="container" [ngClass]="{ 'rtl': rtl }">
	<div class="header">
		<h2 class="heading">{{ 'translate.components.cart.shoppingCart' | translate }}</h2>
		<button class="btn close-button" (click)="close($event)">
			<svg width="16" height="16" class="close-icon">
				<use xlink:href="assets/icons/close.svg#close"></use>
			</svg>
		</button>
	</div>

	<ng-scrollbar [autoHeightDisabled]="false" [position]="rtl ? 'invertY' : 'native'" *ngIf="cart.products.length > 0; else noProducts">
		<div class="products">
			<div class="product" *ngFor="let product of cart.products">
				<app-product-tiny [product]="product"></app-product-tiny>
			</div>
		</div>
	</ng-scrollbar>
	<ng-template #noProducts>
		<div class="no-products">{{ 'translate.components.cart.noProducts' | translate }}</div>
	</ng-template>

	<div class="subtotal">
		<h3 class="heading">{{ 'translate.components.cart.subtotal' | translate }}</h3>
		<div class="price">{{ cart.subtotal }} {{ cart.currency }}</div>
	</div>

	<div class="footer">
		<button class="btn continue-button" (click)="close($event)">{{ 'translate.components.cart.continue' | translate }}</button>
		<a class="btn checkout-button" routerLink="/checkout">{{ 'translate.components.cart.checkout' | translate }}</a>
	</div>
</div>