<div class="input-group" [ngClass]="{ 'large': large, 'rtl': rtl }">
	<div class="input-group-prepend">
		<input class="form-control" type="text" [placeholder]="'1' + selectedPack.pack" [(ngModel)]="quantity.quantity" [disabled]="readonly">
	</div>
	<div class="vertical-splitter"></div>
	<div ngbDropdown class="d-inline-block">
		<button ngbDropdownToggle class="btn dropdown-button">
			<div class="selected-item">{{ selectedPack.pack }}</div>
			<svg width="8" height="4" class="arrow-icon">
				<use xlink:href="../../../assets/icons/arrow.svg#arrow"></use>
			</svg>
		</button>
		<div ngbDropdownMenu class="dropdown-menu">
			<button ngbDropdownItem class="dropdown-item" (click)="onPackSelected(pack)" *ngFor="let pack of availablePacks">{{ pack.pack }}</button>
		</div>
	</div>
</div>