@import '../../../variables';

.input-group {
	input {
		width: 45px;
		padding: 5px 6px;
		border-radius: $default-border-radius 0px 0px $default-border-radius;
		border: 1px solid $secondary-border-color;
		border-right: none;
		background-color: $input-background-color;
		color: $input-text-color;
		font-family: $secondary-english-font;
		font-weight: 400;
		font-size: 14px;

		&::placeholder {
			color: $input-placeholder-color;
		}
		&:focus {
			box-shadow: 0 0 0 4px $secondary-box-shadow-color;
		}

		@media (max-width: 575.98px) {
			width: 35px;
		}
	}

	.vertical-splitter {
		width: 1px;
		margin: 6px 0px;
		background-color: $secondary-border-color;
		z-index: 4;
	}

	.dropdown-button {
		padding: 6.5px 6px;
		border-radius: 0px $default-border-radius $default-border-radius 0px;
		border: 1px solid $secondary-border-color;
		border-left: none;
		background-color: $input-background-color;
		color: $dark-color;
		font-family: $primary-english-font;
		font-weight: 600;
		font-size: 12px;

		&::after {
			display: none;
		}
		&:focus {
			box-shadow: 0 0 0 4px $secondary-box-shadow-color;
		}

		.selected-item {
			max-width: 60px;
			display: inline-block;
			vertical-align: top;
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
		}

		.down-arrow-icon {
			margin-left: 4px;
			display: inline-block;
		}
	}

	.dropdown-menu {
		background-color: $input-background-color;

		.dropdown-item {
			color: $dark-color;
			font-family: $primary-english-font;
			font-weight: 400;
			font-size: 12px;

			&:hover,
			&:focus
			&.active,
			&:active {
				background-color: $dropdown-item-background-color;
			}
		}
	}

	&.large {
		input {
			width: 75px;
			padding: 13.5px 16px;
		}

		.dropdown-button {
			padding: 15px 16px;
		}
	}

	&.rtl {
		input {
			border-radius: 0px $default-border-radius $default-border-radius 0px;
			border: 1px solid $secondary-border-color;
			border-left: none;
			font-family: $secondary-arabic-font;
		}

		.dropdown-button {
			border-radius: $default-border-radius 0px 0px $default-border-radius;
			border: 1px solid $secondary-border-color;
			border-right: none;
			font-family: $primary-arabic-font;

			.down-arrow-icon {
				margin: 0px 4px 0px 0px;
			}
		}

		.dropdown-menu {
			text-align: right;

			.dropdown-item {
				font-family: $primary-arabic-font;
			}
		}
	}
}