.input-group {
	input {
		width: 45px;
		padding: 5px 6px;
		border-radius: 12px 0px 0px 12px;
		border: 1px solid #D1D1D1;
		border-right: none;
		background-color: #F9F9F9;
		color: #D1D1D1;
		font-family: 'OpenSans';
		font-weight: 400;
		font-size: 14px;

		&::placeholder {
			color: #D1D1D1;
		}

		@media (max-width: 575.98px) {
			width: 35px;
		}
	}

	.vertical-splitter {
		width: 1px;
		margin: 6px 0px;
		background-color: #D1D1D1;
		z-index: 4;
	}

	.dropdown-button {
		padding: 6.5px 6px;
		border-radius: 0px 12px 12px 0px;
		border: 1px solid #D1D1D1;
		border-left: none;
		background-color: #F9F9F9;
		color: #151515;
		font-family: 'Poppins';
		font-weight: 600;
		font-size: 12px;

		&::after {
			display: none;
		}

		.down-arrow-icon {
			margin-left: 4px;
		}
	}

	.dropdown-menu {
		background-color: #F9F9F9;

		.dropdown-item {
			font-family: 'Poppins';
			font-weight: 400;
			font-size: 12px;
		}
	}

	&.large {
		input {
			width: 75px;
			padding: 13.5px 16px;
		}

		.dropdown-button {
			padding: 15px 16px;
		}
	}

	&.rtl {
		input {
			border-radius: 0px 12px 12px 0px;
			border: 1px solid #D1D1D1;
			border-left: none;
			font-family: 'Cairo';
		}

		.dropdown-button {
			border-radius: 12px 0px 0px 12px;
			border: 1px solid #D1D1D1;
			border-right: none;
			font-family: 'NotoSansArabic';

			.down-arrow-icon {
				margin: 0px 4px 0px 0px;
			}
		}

		.dropdown-menu {
			text-align: right;

			.dropdown-item {
				font-family: 'NotoSansArabic';
			}
		}
	}
}