<div class="container" [ngClass]="{ 'rtl': rtl }">
	<div class="chat" [ngClass]="{ 'visible': isChatVisible }">
		<div class="header">
			<svg width="14" height="14" class="close-icon" (click)="isChatVisible = false">
				<use xlink:href="../../../assets/icons/close.svg#close"></use>
			</svg>
		</div>
		<ng-scrollbar [autoHeightDisabled]="false" [position]="rtl ? 'invertY' : 'native'">
			<div class="content" #content>
				<div class="messages">
					<div class="message" *ngFor="let message of messages; let isOdd = odd" #messagesList>
						<app-message [message]="message" [from-other]="isOdd"></app-message>
					</div>
				</div>
				<div class="typing" *ngIf="isTyping">
					<div class="circle"></div>
					<div class="circle"></div>
					<div class="circle"></div>
				</div>
			</div>
		</ng-scrollbar>
		<div class="footer">
			<app-text-input-group [placeholder]="'translate.components.chat.message' | translate" [button]="'translate.components.chat.send' | translate" (onApply)="onSent($event)"></app-text-input-group>
		</div>
	</div>
	<div class="icon" (click)="isChatVisible = !isChatVisible">
		<svg width="40" height="40" class="chat-icon">
			<use xlink:href="../../../assets/icons/chat.svg#chat"></use>
		</svg>
	</div>
</div>