<div class="container">
	<app-header></app-header>
	<app-menu></app-menu>

	<app-breadcrumb [breadcrumb]="breadcrumb"></app-breadcrumb>

	<div class="header">
		<h2 class="heading">Wishlist</h2>
		<div class="view">
			<div [class]="{ 'item': true, 'grid-view': true, 'active': isGridView }" (click)="isGridView = true">
				<img class="grid-icon" src="../../../assets/icons/grid-view-green.svg" alt="" *ngIf="isGridView">
				<img class="grid-icon" src="../../../assets/icons/grid-view-gray.svg" alt="" *ngIf="!isGridView">
				<span class="text">Grid view</span>
			</div>
			<div [class]="{ 'item': true, 'list-view': true, 'active': !isGridView }" (click)="isGridView = false">
				<img class="list-icon" src="../../../assets/icons/list-view-green.svg" alt="" *ngIf="!isGridView">
				<img class="list-icon" src="../../../assets/icons/list-view-gray.svg" alt="" *ngIf="isGridView">
				<span class="text">List view</span>
			</div>
			<div class="item products">
				<span class="count">{{ wishlist.products.length }}</span>
				<span class="text">Products</span>
			</div>
		</div>
	</div>

	<div class="content">
		<div class="products">
			<div class="row">
				<div [class]="{ 'col-xl-3': isGridView, 'col-lg-4': isGridView, 'col-md-6': isGridView, 'product': true }" *ngFor="let product of wishlist.products">
					<app-product [size]="isGridView ? 'small' : 'large'" [product]="product" [show-wishlist]="false"></app-product>
				</div>
			</div>
		</div>
	</div>

	<div class="footer">
		<div class="products">
			<span class="count">{{ wishlist.products.length }}</span>
			<span class="text">Products</span>
		</div>
	</div>

	<app-footer></app-footer>
</div>