<div class="container" [ngClass]="{ 'rtl': rtl }">
	<app-header></app-header>
	<app-menu></app-menu>

	<app-breadcrumb [breadcrumb]="breadcrumb"></app-breadcrumb>

	<div class="header">
		<h2 class="heading">{{ 'translate.pages.wishlist.wishlist' | translate }}</h2>
		<div class="view">
			<div class="item grid-view" [ngClass]="{ 'active': isGridView }" (click)="isGridView = true">
				<svg width="16" height="16" class="grid-icon">
					<use xlink:href="../../../assets/icons/grid-view.svg#grid-view"></use>
				</svg>
				<span class="text">{{ 'translate.pages.wishlist.grid' | translate }}</span>
			</div>
			<div class="item list-view" [ngClass]="{ 'active': !isGridView }" (click)="isGridView = false">
				<svg width="16" height="16" class="list-icon">
					<use xlink:href="../../../assets/icons/list-view.svg#list-view"></use>
				</svg>
				<span class="text">{{ 'translate.pages.wishlist.list' | translate }}</span>
			</div>
			<div class="item products">
				<span class="count">{{ wishlist.products.length }}</span>
				<span class="text">{{ 'translate.pages.wishlist.products' | translate }}</span>
			</div>
		</div>
	</div>

	<div class="content">
		<div class="products">
			<div class="row">
				<div class="product" [ngClass]="{ 'col-xl-3': isGridView, 'col-lg-4': isGridView, 'col-md-6': isGridView }" *ngFor="let product of wishlist.products">
					<app-product [size]="isGridView ? 'small' : 'large'" [product]="product" [show-wishlist]="false"></app-product>
				</div>
			</div>
		</div>
	</div>

	<div class="footer">
		<div class="products">
			<span class="count">{{ wishlist.products.length }}</span>
			<span class="text">{{ 'translate.pages.wishlist.products' | translate }}</span>
		</div>
	</div>

	<app-footer></app-footer>
</div>