@import '../../../../variables';

.container {
	padding: 53px 0px 16px;

	.header {
		display: flex;
		justify-content: space-between;
		margin-bottom: 33.5px;
		padding: 0px 45px;

		.heading {
			margin: auto 0px;
			color: $dark-color;
			font-family: $primary-english-font;
			font-weight: 600;
			font-size: 18px;
		}

		.goto-button {
			border-radius: $default-border-radius;
			color: $dark-color;
			font-family: $primary-english-font;
			font-weight: 700;
			font-size: 15px;

			&:focus {
				box-shadow: 0 0 0 4px $secondary-box-shadow-color;
			}

			.arrow-icon {
				margin-left: 7px;
				transform: rotate(-90deg);
				--color: #{$primary-color};
			}
		}
	}

	.blogs {
		margin: 0px;
		padding: 0px 30px;

		.blog {
			margin-bottom: 32px;
			padding: 0px 16px;

			@media (max-width: 1199.98px) {
				margin-bottom: 24px;
			}
		}
	}

	&.rtl {
		.header {
			.heading {
				font-family: $primary-arabic-font;
			}

			.goto-button {
				font-family: $primary-arabic-font;

				.arrow-icon {
					margin: 0px 7px 0px 0px;
					transform: rotate(90deg);
				}
			}
		}
	}
}