<div class="footer-container">
	<div class="row links">
		<div class="col-lg-3 col-md-6 column">
			<h2 class="heading">Get in touch</h2>
			<div class="link">
				<a href="#">About Us</a>
			</div>
			<div class="link">
				<a href="#">Careers</a>
			</div>
			<div class="link">
				<a href="#">Press Releases</a>
			</div>
			<div class="link">
				<a href="#">Blog</a>
			</div>
		</div>
		<div class="col-lg-3 col-md-6 column">
			<h2 class="heading">Connections</h2>
			<div class="link">
				<a href="#">Facebook</a>
			</div>
			<div class="link">
				<a href="#">Twitter</a>
			</div>
			<div class="link">
				<a href="#">Instagram</a>
			</div>
			<div class="link">
				<a href="#">Youtube</a>
			</div>
			<div class="link">
				<a href="#">LinkedIn</a>
			</div>
		</div>
		<div class="col-lg-3 col-md-6 column">
			<h2 class="heading">Earnings</h2>
			<div class="link">
				<a href="#">Become an Affiliate</a>
			</div>
			<div class="link">
				<a href="#">Advertise your product</a>
			</div>
			<div class="link">
				<a href="#">Sell on Market</a>
			</div>
		</div>
		<div class="col-lg-3 col-md-6 column">
			<h2 class="heading">Account</h2>
			<div class="link">
				<a href="#">Your account</a>
			</div>
			<div class="link">
				<a href="#">Returns Centre</a>
			</div>
			<div class="link">
				<a href="#">100 % purchase protection</a>
			</div>
			<div class="link">
				<a href="#">Chat with us</a>
			</div>
			<div class="link">
				<a href="#">Help</a>
			</div>
		</div>
	</div>
	<div class="tags">
		<h2 class="heading">Product tags</h2>
		<div class="tag"><a routerLink="/shop">Beans</a></div>
		<div class="tag"><a routerLink="/shop">Carrots</a></div>
		<div class="tag"><a routerLink="/shop">Apples</a></div>
		<div class="tag"><a routerLink="/shop">Garlic</a></div>
		<div class="tag"><a routerLink="/shop">Mushrooms</a></div>
		<div class="tag"><a routerLink="/shop">Tomatoes</a></div>
		<div class="tag"><a routerLink="/shop">Chilli peppers</a></div>
		<div class="tag"><a routerLink="/shop">Broccoli</a></div>
		<div class="tag"><a routerLink="/shop">Watermelons</a></div>
		<div class="tag"><a routerLink="/shop">Oranges</a></div>
		<div class="tag"><a routerLink="/shop">Bananas</a></div>
		<div class="tag"><a routerLink="/shop">Grapes</a></div>
		<div class="tag"><a routerLink="/shop">Cherries</a></div>
		<div class="tag"><a routerLink="/shop">Meat</a></div>
		<div class="tag"><a routerLink="/shop">Seo tag</a></div>
		<div class="tag"><a routerLink="/shop">Fish</a></div>
		<div class="tag"><a routerLink="/shop">Seo tag</a></div>
		<div class="tag"><a routerLink="/shop">Fresh food</a></div>
		<div class="tag"><a routerLink="/shop">Lemons</a></div>
	</div>
	<div class="copyright">Copyright &copy; {{ year }} petrbilek.com</div>
</div>