@import '../../../variables';

.container {
	padding: 64px 45px;

	.links {
		margin-bottom: 48px;
		padding: 0px 15px;

		@media (max-width: 991.98px) {
			margin-bottom: 32px;
		}

		.in-touch,
		.connections,
		.policies,
		.account {
			padding: 0px;

			@media (max-width: 991.98px) {
				margin-bottom: 16px;
			}

			.heading {
				margin-bottom: 16px;
				color: $dark-color;
				font-family: $primary-english-font;
				font-weight: 600;
				font-size: 18px;
			}

			.link {
				margin-bottom: 16px;

				&:last-of-type {
					margin: 0px;
				}

				a {
					text-decoration: none;
					color: $primary-color;
					font-family: $secondary-english-font;
					font-weight: 400;
					font-size: 14px;
					cursor: pointer;
				}
			}
		}
	}

	.tags {
		margin-bottom: 48px;

		.heading {
			margin-bottom: 16px;
			color: $dark-color;
			font-family: $primary-english-font;
			font-weight: 600;
			font-size: 18px;
		}

		.tag {
			margin: 0px 16px 16px 0px;
			padding: 1px 10px;
			display: inline-block;
			border-radius: $default-border-radius;
			background-color: $image-background-color;

			a {
				text-decoration: none;
				vertical-align: text-bottom;
				color: $dark-color;
				font-family: $primary-english-font;
				font-weight: 600;
				font-size: 12px;
			}
		}
	}

	.copyrights {
		color: $dark-color;
		font-family: $secondary-english-font;
		font-weight: 400;
		font-size: 14px;
	}

	&.rtl {
		.links {
			.in-touch,
			.connections,
			.policies,
			.account {
				.heading {
					font-family: $primary-arabic-font;
				}

				.link {
					a {
						font-family: $secondary-arabic-font;
					}
				}
			}
		}

		.tags {
			.heading {
				font-family: $primary-arabic-font;
			}

			.tag {
				margin: 0px 0px 16px 16px;

				a {
					font-family: $primary-arabic-font;
				}
			}
		}

		.copyrights {
			font-family: $secondary-arabic-font;

			.website {
				font-family: $secondary-english-font;
			}
		}
	}
}