<div class="container">
	<div class="row links" *ngIf="showLinks">
		<div class="col-lg-3 col-md-6 in-touch">
			<h2 class="heading">Get in touch</h2>
			<div class="link">
				<a href="#">About Us</a>
			</div>
			<div class="link">
				<a href="#">Careers</a>
			</div>
			<div class="link">
				<a href="#">Press Releases</a>
			</div>
			<div class="link">
				<a routerLink="/blogs">Blog</a>
			</div>
		</div>
		<div class="col-lg-3 col-md-6 connections">
			<h2 class="heading">Connections</h2>
			<div class="link">
				<a href="#">Facebook</a>
			</div>
			<div class="link">
				<a href="#">Twitter</a>
			</div>
			<div class="link">
				<a href="#">Instagram</a>
			</div>
			<div class="link">
				<a href="#">Youtube</a>
			</div>
			<div class="link">
				<a href="#">LinkedIn</a>
			</div>
		</div>
		<div class="col-lg-3 col-md-6 earnings">
			<h2 class="heading">Earnings</h2>
			<div class="link">
				<a href="#">Become an Affiliate</a>
			</div>
			<div class="link">
				<a href="#">Advertise your product</a>
			</div>
			<div class="link">
				<a href="#">Sell on Market</a>
			</div>
		</div>
		<div class="col-lg-3 col-md-6 account">
			<h2 class="heading">Account</h2>
			<div class="link">
				<a href="#">Your account</a>
			</div>
			<div class="link">
				<a href="#">Returns Centre</a>
			</div>
			<div class="link">
				<a href="#">100 % purchase protection</a>
			</div>
			<div class="link">
				<a href="#">Chat with us</a>
			</div>
			<div class="link">
				<a href="#">Help</a>
			</div>
		</div>
	</div>

	<div class="tags" *ngIf="showTags">
		<h2 class="heading">Product tags</h2>
		<div class="tag" *ngFor="let tag of tags">
			<a [routerLink]="['/tags', tag.slug]">{{ tag.name }}</a>
		</div>
	</div>

	<div class="copyright">Copyright &copy; {{ year }} petrbilek.com</div>
</div>