<div class="header" [ngClass]="{ 'rtl': rtl }">
	<h3 class="heading">{{ title | translate }} {{ 'translate.pages.profile.addressesSection.create.lowercaseAddress' | translate }}</h3>
	<a class="btn back-button" routerLink="/profile/addresses">
		{{ 'translate.pages.profile.addressesSection.create.back' | translate }}
		<svg width="12" height="15" class="back-icon">
			<use xlink:href="assets/icons/back.svg#back"></use>
		</svg>
	</a>
</div>

<form [ngClass]="{ 'rtl': rtl }">
	<div class="row">
		<div class="col-12 form-group">
			<label for="title">{{ 'translate.pages.profile.addressesSection.create.title' | translate }}</label>
			<input class="form-control" name="title" id="title" type="text" placeholder="{{ 'translate.pages.profile.addressesSection.create.title' | translate }}" [(ngModel)]="address.title">
		</div>
		<div class="col-12 form-group">
			<label for="address">{{ 'translate.pages.profile.addressesSection.create.address' | translate }}</label>
			<textarea class="form-control" name="address" id="address" rows="4" placeholder="{{ 'translate.pages.profile.addressesSection.create.addressDetails' | translate }}" [(ngModel)]="address.address"></textarea>
		</div>
		<div class="col-12 form-group">
			<label for="city">{{ 'translate.pages.profile.addressesSection.create.city' | translate }}</label>
			<input class="form-control" name="city" id="city" type="text" placeholder="{{ 'translate.pages.profile.addressesSection.create.city' | translate }}" [(ngModel)]="address.city">
		</div>
		<div class="col-12 form-group">
			<label for="country">{{ 'translate.pages.profile.addressesSection.create.country' | translate }}</label>
			<select class="form-select" name="country" id="country" [(ngModel)]="address.country.id">
				<option [value]="0">{{ 'translate.pages.profile.addressesSection.create.selectCountry' | translate }}</option>
				<option *ngFor="let country of countries" [value]="country.id">{{ country.name }}</option>
			</select>
		</div>
		<div class="col-12 form-group">
			<label for="postal">{{ 'translate.pages.profile.addressesSection.create.postal' | translate }}</label>
			<input class="form-control" name="postal" id="postal" type="text" placeholder="{{ 'translate.pages.profile.addressesSection.create.postal' | translate }}" [(ngModel)]="address.postal">
		</div>
		<div class="col-12 form-group">
			<div class="maps">
				<google-map width="100%" height="400" [center]="mapCenter" [zoom]="15" (mapClick)="mapClicked($event)" *ngIf="googleMapsLoaded | async">
					<map-marker [position]="address.position"></map-marker>
				</google-map>
			</div>
		</div>
		<div class="col-12 form-group">
			<button class="btn button">{{ title | translate }}</button>
		</div>
	</div>
</form>