<div class="container" [ngClass]="{ 'right-position': rightPosition, 'rtl': rtl }">
	<div class="avatar-image" *ngIf="!rightPosition">
		<img src="{{ message.author.image }}" alt="">
	</div>
	<div class="message">
		<div class="content">{{ message.content }}</div>
		<button class="btn date" placement="top" ngbTooltip="{{ message.date.toLocaleString(language, { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric', hour: 'numeric', minute: 'numeric', second: 'numeric' }) }}">{{ moment(message.date).fromNow() }}</button>
	</div>
</div>