@import '../../../variables';

.container {
	padding: 0px;
	background-color: $page-background-color;
	box-shadow: $page-box-shadow;

	.header {
		padding: 8px 45px;

		.heading {
			margin-bottom: 12px;
			color: $dark-color;
			font-family: $primary-english-font;
			font-weight: 600;
			font-size: 32px;

			@media (max-width: 767.98px) {
				font-size: 24px;
			}

			@media (max-width: 575.98px) {
				font-size: 20px;
			}
		}

		.date {
			color: $input-text-color;
			font-family: $primary-english-font;
			font-weight: 500;
			font-size: 14px;
		}

		.caution {
			color: $dark-color;
			font-family: $primary-english-font;
			font-weight: 500;
			font-size: 36px;
			direction: ltr;
		}
	}

	.content {
		padding: 30px 45px;

		.table-of-contents {
			margin-bottom: 30px;

			.heading {
				margin-bottom: 20px;
				color: $dark-color;
				font-family: $secondary-english-font;
				font-weight: 500;
				font-size: 26px;
			}

			.list {
				margin: 0px;
				padding: 0px;
				list-style: none;

				.list-item {
					a {
						color: $dark-color;
						font-family: $secondary-english-font;
						font-weight: 400;
						font-size: 14px;
					}
				}
			}
		}

		.contents {
			.section {
				margin-bottom: 30px;

				&:last-of-type {
					margin: 0px;
				}

				.heading {
					margin-bottom: 20px;
					color: $dark-color;
					font-family: $secondary-english-font;
					font-weight: 500;
					font-size: 26px;
				}

				.table-content {
					color: $dark-color;
					font-family: $secondary-english-font;
					font-weight: 400;
					font-size: 14px;

					::ng-deep {
						p {
							margin-bottom: 8px;

							&:last-child {
								margin: 0px;
							}

							.bold {
								font-weight: 700;
							}

							.phone {
								direction: ltr;
							}
						}

						ul {
							margin: 0px 0px 8px 36px;
							padding: 0px;
						}

						.contact {
							color: $table-text-color;
							font-weight: 700;

							.phone,
							.fax {
								display: inline-block;
								direction: ltr;
							}

							.heading {
								margin-bottom: 4px;
								padding-bottom: 16px;
								display: inline-block;
								border-bottom: 1px solid $table-text-color;
							}
						}
					}
				}
			}
		}
	}

	&.rtl {
		direction: rtl;

		.header {
			.heading,
			.date {
				font-family: $primary-arabic-font;
			}
		}

		.content {
			.table-of-contents {
				.heading {
					font-family: $secondary-arabic-font;
				}

				.list {
					.list-item {
						a {
							font-family: $secondary-arabic-font;
						}
					}
				}
			}

			.contents {
				.section {
					.heading {
						font-family: $secondary-arabic-font;
					}

					.table-content {
						font-family: $secondary-arabic-font;

						::ng-deep {
							p {
								.phone {
									unicode-bidi: bidi-override;
								}
							}

							ul {
								margin: 0px 36px 8px 0px;
							}

							.contact {
								.phone,
								.fax {
									text-align: right;
									unicode-bidi: bidi-override;
								}
							}
						}
					}
				}
			}
		}
	}
}