<div class="container" [ngClass]="{ 'rtl': rtl }">
	<app-header></app-header>
	<app-menu></app-menu>

	<app-breadcrumb [breadcrumb]="breadcrumb"></app-breadcrumb>

	<div class="header">
		<h2 class="heading">{{ 'translate.pages.termsAndConditions.termsAndConditions' | translate }}</h2>
		<div class="date">{{ 'translate.pages.termsAndConditions.lastUpdated' | translate }} {{ termsAndConditions.date.toLocaleDateString(language, { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' }) }}</div>
		<!-- Remove caution on production -->
		<div class="caution">THIS PAGE FOR DEVELOPMENT PURPOSE ONLY!</div>
	</div>

	<div class="content">
		<div class="table-of-contents">
			<h3 class="heading">{{ 'translate.pages.termsAndConditions.tableOfContents' | translate }}</h3>
			<ul class="list">
				<li class="list-item" *ngFor="let content of termsAndConditions.tableOfContents; let index = index;">
					<a href="terms#{{ content.link }}" (click)="scrollToContent($event, contents)">{{ index + 1 }}. {{ content.name }}</a>
				</li>
			</ul>
		</div>
		<div class="contents" #contents>
			<div class="section" [id]="content.link" *ngFor="let content of termsAndConditions.tableOfContents; let index = index;">
				<h3 class="heading">{{ index + 1 }}. {{ content.name }}</h3>
				<div class="table-content" [innerHtml]="content.content"></div>
			</div>
		</div>
	</div>

	<app-footer></app-footer>
</div>