<div class="container" [ngClass]="{ 'rtl': rtl }">
	<div class="header">
		<div class="info">
			<div class="chat">
				<a (click)="openChatWindow($event)">{{ 'translate.components.header.chat' | translate }}</a>
			</div>
			<div class="phone">
				<a href="tel:+420 336 775 664">+420 336 775 664</a>
			</div>
			<div class="email">
				<a href="mailto:info@freshnesecom.com">info@freshnesecom.com</a>
			</div>
			<div class="language">
				<div ngbDropdown class="d-inline-block">
					<button ngbDropdownToggle class="btn dropdown-button">
						{{ selectedLanguage.name }}
						<svg width="7" height="4.2" class="arrow-icon">
							<use xlink:href="../../../assets/icons/arrow.svg#arrow"></use>
						</svg>
					</button>
					<div ngbDropdownMenu class="dropdown-menu">
						<button ngbDropdownItem class="dropdown-item" (click)="onLanguageSelected(language)" *ngFor="let language of languages">{{ language.name }}</button>
					</div>
				</div>
			</div>
		</div>
		<div class="links">
			<div class="link">
				<a routerLink="/blogs">{{ 'translate.components.header.blog' | translate }}</a>
			</div>
			<div class="link">
				<a routerLink="/compare">{{ 'translate.components.header.compare' | translate }}</a>
			</div>
			<div class="link">
				<a routerLink="/about">{{ 'translate.components.header.about' | translate }}</a>
			</div>
		</div>
	</div>

	<div class="horizontal-splitter"></div>

	<div class="row content">
		<div class="cart" [ngClass]="{ 'visible': isCartVisible }">
			<app-cart [cart]="cart" (onClose)="onCartClosed()"></app-cart>
		</div>
		<div class="col-3 brand">
			<a routerLink="/">
				<img class="brand-image" src="../../../assets/images/brand.svg" alt="">
			</a>
		</div>
		<div class="col-6 search">
			<app-category-search-input-group [categories]="categories" (onSearch)="onCategorySearch($event)"></app-category-search-input-group>
		</div>
		<div class="col-3 icons" *ngIf="showIcons">
			<div class="user">
				<a routerLink="/login">
					<svg width="22" height="24" class="user-icon">
						<use xlink:href="../../../assets/icons/user.svg#user"></use>
					</svg>
				</a>
			</div>
			<div class="wishlist">
				<a routerLink="/wishlist">
					<svg width="24" height="22" class="heart-icon">
						<use xlink:href="../../../assets/icons/heart.svg#heart"></use>
					</svg>
					<span class="icon-badge">{{ wishlist.products.length }}</span>
				</a>
			</div>
			<div class="basket" (click)="isCartVisible = !isCartVisible">
				<svg width="24" height="22" class="basket-icon">
					<use xlink:href="../../../assets/icons/basket.svg#basket"></use>
				</svg>
				<span class="icon-badge">{{ cart.products.length }}</span>
			</div>
		</div>
	</div>
</div>