<div class="container">
	<div class="header">
		<div class="info">
			<div class="chat">
				<a href="#">Chat with us</a>
			</div>
			<div class="phone">+420 336 775 664</div>
			<div class="email">info@freshnesecom.com</div>
		</div>
		<div class="links">
			<div class="link">
				<a routerLink="/blogs">Blog</a>
			</div>
			<div class="link">
				<a href="#">About Us</a>
			</div>
			<div class="link">
				<a href="#">Careers</a>
			</div>
		</div>
	</div>

	<div class="horizontal-splitter"></div>

	<div class="row content">
		<!-- Adding cart class to class binding makes the cart appears then disappears -->
		<div class="cart" [class]="{ 'visible': isCartVisible }">
			<app-cart (onClose)="onCartClosed()"></app-cart>
		</div>
		<div class="col-3 brand">
			<img class="brand-image" src="../../../assets/images/brand.svg" alt="">
		</div>
		<div class="col-6 search">
			<div class="input-group">
				<div class="input-group-prepend">
					<div ngbDropdown class="d-inline-block">
						<button ngbDropdownToggle class="btn dropdown-button">{{ selectedCategory.name }} <img class="down-arrow-icon" src="../../../assets/icons/down-arrow-green.svg" alt=""></button>
						<div ngbDropdownMenu class="dropdown">
							<button ngbDropdownItem class="dropdown-item" (click)="onCategorySelected(category)" *ngFor="let category of categories">{{ category.name }}</button>
						</div>
					</div>
				</div>
				<div class="vertical-splitter"></div>
				<input class="form-control" type="text" placeholder="Search Products, categories ...">
				<img class="search-icon" src="../../../assets/icons/search.svg" alt="">
			</div>
		</div>
		<div class="col-3 icons">
			<div class="user">
				<img class="user-icon" src="../../../assets/icons/user.svg" alt="">
			</div>
			<div class="basket" (click)="isCartVisible = !isCartVisible">
				<img class="basket-icon" src="../../../assets/icons/basket.svg" alt="">
				<span class="icon-badge">4</span>
			</div>
		</div>
	</div>
</div>