<div class="container">
	<div class="header">
		<div class="info">
			<div class="chat">
				<a (click)="openChatWindow($event)">Chat with us</a>
			</div>
			<div class="phone">+420 336 775 664</div>
			<div class="email">info@freshnesecom.com</div>
		</div>
		<div class="links">
			<div class="link">
				<a routerLink="/blogs">Blog</a>
			</div>
			<div class="link">
				<a routerLink="/about">About Us</a>
			</div>
			<div class="link">
				<a href="#">Careers</a>
			</div>
		</div>
	</div>

	<div class="horizontal-splitter"></div>

	<div class="row content">
		<!-- Adding cart class to class binding makes the cart appears then disappears -->
		<div class="cart" [class]="{ 'visible': isCartVisible }">
			<app-cart [cart]="cart" (onClose)="onCartClosed()"></app-cart>
		</div>
		<div class="col-3 brand">
			<img class="brand-image" src="../../../assets/images/brand.svg" alt="">
		</div>
		<div class="col-6 search">
			<app-category-search-input-group [categories]="categories" (onSearch)="onCategorySearch($event)"></app-category-search-input-group>
		</div>
		<div class="col-3 icons">
			<div class="user">
				<a routerLink="/login">
					<img class="user-icon" src="../../../assets/icons/user.svg" alt="">
				</a>
			</div>
			<div class="basket" (click)="isCartVisible = !isCartVisible">
				<img class="basket-icon" src="../../../assets/icons/basket.svg" alt="">
				<span class="icon-badge">{{ cart.products.length }}</span>
			</div>
		</div>
	</div>
</div>