<form [ngClass]="{ 'rtl': rtl }">
	<div class="row">
		<div class="col-12 form-group">
			<div class="avatar-image">
				<img [src]="user.image" alt="">
			</div>
		</div>
		<div class="col-12 form-group">
			<label for="name">{{ 'translate.pages.profile.infoSection.fullName' | translate }}</label>
			<input class="form-control" name="name" id="name" type="text" placeholder="{{ 'translate.pages.profile.infoSection.fullName' | translate }}" [(ngModel)]="user.name">
		</div>
		<div class="col-12 form-group">
			<label for="email">{{ 'translate.pages.profile.infoSection.email' | translate }}</label>
			<input class="form-control" name="email" id="email" type="email" placeholder="{{ 'translate.pages.profile.infoSection.email' | translate }}" [(ngModel)]="user.email">
		</div>
		<div class="col-12 form-group">
			<label for="password">{{ 'translate.pages.profile.infoSection.password' | translate }}</label>
			<input class="form-control" name="password" id="password" type="password" placeholder="{{ 'translate.pages.profile.infoSection.password' | translate }}">
		</div>
		<div class="col-12 form-group">
			<label for="phone">{{ 'translate.pages.profile.infoSection.phone' | translate }}</label>
			<input class="form-control" name="phone" id="phone" type="text" placeholder="{{ 'translate.pages.profile.infoSection.phone' | translate }}" [(ngModel)]="user.phone">
		</div>
		<div class="col-12 form-group">
			<label class="form-label" for="avatar-image">{{ 'translate.pages.profile.infoSection.avatar' | translate }}</label>
			<div class="input-group custom-file-button">
				<label class="input-group-text" for="avatar-image">{{ 'translate.pages.profile.infoSection.chooseImage' | translate }}</label>
				<input class="form-control" type="file" id="avatar-image" accept="image/*">
			</div>
		</div>
		<div class="col-12 form-group">
			<button class="btn update-button">{{ 'translate.pages.profile.infoSection.update' | translate }}</button>
		</div>
	</div>
</form>