<form>
	<div class="row">
		<div class="col-12 form-group">
			<div class="avatar-image">
				<img src="https://picsum.photos/id/237/150/150" alt="">
			</div>
		</div>
		<div class="col-12 form-group">
			<label for="first-name">First name</label>
			<input class="form-control" id="first-name" type="text" placeholder="First name">
		</div>
		<div class="col-12 form-group">
			<label for="last-name">Last name</label>
			<input class="form-control" id="last-name" type="text" placeholder="Last name">
		</div>
		<div class="col-12 form-group">
			<label for="email">Email address</label>
			<input class="form-control" id="email" type="email" placeholder="Email address">
		</div>
		<div class="col-12 form-group">
			<label for="password">Password</label>
			<input class="form-control" id="password" type="password" placeholder="Password">
		</div>
		<div class="col-12 form-group">
			<label for="phone">Phone number</label>
			<input class="form-control" id="phone" type="text" placeholder="Phone number">
		</div>
		<div class="col-12 form-group">
			<label class="form-label" for="avatar-image">Avatar image</label>
			<input class="form-control" type="file" id="avatar-image">
		</div>
		<div class="col-12 form-group">
			<button class="btn update-button">Update</button>
		</div>
	</div>
</form>