<div class="container" [ngClass]="{ 'rtl': rtl }">
	<app-header></app-header>
	<app-menu></app-menu>

	<app-breadcrumb [breadcrumb]="breadcrumb"></app-breadcrumb>

	<div class="header">
		<h2 class="heading">{{ 'translate.pages.compare.compare' | translate }}</h2>
		<div class="view">
			<div class="item products">
				<span class="count">{{ products.length }}</span>
				<span class="text">{{ 'translate.pages.compare.products' | translate }}</span>
			</div>
		</div>
	</div>

	<div class="content">
		<div class="table-responsive">
			<table class="table">
				<thead>
					<tr>
						<th>{{ 'translate.pages.compare.name' | translate }}</th>
						<th *ngFor="let product of products">
							<a [routerLink]="['/products', product.slug]">{{ product.name }}</a>
						</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="title">{{ 'translate.pages.compare.image' | translate }}</td>
						<td *ngFor="let product of products">
							<img class="product-image" src="{{ product.images[0] }}" alt="" *ngIf="product.images.length > 0">
						</td>
					</tr>
					<tr>
						<td class="title">{{ 'translate.pages.compare.description' | translate }}</td>
						<td *ngFor="let product of products">{{ product.description }}</td>
					</tr>
					<tr>
						<td class="title">{{ 'translate.pages.compare.rating' | translate }}</td>
						<td *ngFor="let product of products">
							<div class="stars">
								<ng-template #starTemplate let-fill="fill">
									<div class="star-container">
										<svg width="15" height="15" class="star-icon">
											<use xlink:href="assets/icons/star.svg#star"></use>
										</svg>
										<div class="filled-container" [ngStyle]="{ 'width.%': fill }" *ngIf="fill > 0">
											<svg width="15" height="15" class="star-icon filled">
												<use xlink:href="assets/icons/star.svg#star"></use>
											</svg>
										</div>
									</div>
								</ng-template>
								<ngb-rating [(rate)]="product.rating" [starTemplate]="starTemplate" [readonly]="true" [max]="5"></ngb-rating>
							</div>
						</td>
					</tr>
					<tr>
						<td class="title">{{ 'translate.pages.compare.price' | translate }}</td>
						<td *ngFor="let product of products">{{ product.price }} {{ product.currency }}</td>
					</tr>
					<tr>
						<td class="title">{{ 'translate.pages.compare.oldPrice' | translate }}</td>
						<td *ngFor="let product of products"><span *ngIf="product.oldPrice != 0">{{ product.oldPrice }} {{ product.currency }}</span></td>
					</tr>
					<tr>
						<td class="title">{{ 'translate.pages.compare.sku' | translate }}</td>
						<td *ngFor="let product of products">{{ product.sku }}</td>
					</tr>
					<tr>
						<td class="title">{{ 'translate.pages.compare.freshness' | translate }}</td>
						<td *ngFor="let product of products">{{ product.freshness }}<span *ngIf="product.freshnessDescription"> ({{ product.freshnessDescription }})</span></td>
					</tr>
					<tr>
						<td class="title">{{ 'translate.pages.compare.farm' | translate }}</td>
						<td *ngFor="let product of products">{{ product.farm }}</td>
					</tr>
					<tr>
						<td class="title">{{ 'translate.pages.compare.category' | translate }}</td>
						<td *ngFor="let product of products">{{ product.category.name }}</td>
					</tr>
					<tr>
						<td class="title">{{ 'translate.pages.compare.delivery' | translate }}</td>
						<td *ngFor="let product of products">{{ product.delivery }}</td>
					</tr>
					<tr>
						<td class="title">{{ 'translate.pages.compare.shipping' | translate }}</td>
						<td *ngFor="let product of products">{{ product.shipping }}</td>
					</tr>
					<tr>
						<td class="title">{{ 'translate.pages.compare.deliveryDays' | translate }}</td>
						<td *ngFor="let product of products">{{ product.deliveryDays }} {{ 'translate.pages.compare.days' | translate }}</td>
					</tr>
					<tr>
						<td class="title"></td>
						<td *ngFor="let product of products">
							<div class="remove">
								<svg width="8" height="8" class="close-icon">
									<use xlink:href="assets/icons/close.svg#close"></use>
								</svg>
								{{ 'translate.pages.compare.remove' | translate }}
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<div class="footer">
		<div class="products">
			<span class="count">{{ products.length }}</span>
			<span class="text">{{ 'translate.pages.compare.products' | translate }}</span>
		</div>
	</div>

	<app-footer></app-footer>
</div>