.container {
	padding: 0px;
	background-color: #FFF;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);

	.header {
		padding: 8px 45px;

		.heading {
			margin-bottom: 12px;
			color: #151515;
			font-family: 'Poppins';
			font-weight: 600;
			font-size: 32px;

			@media (max-width: 767.98px) {
				font-size: 24px;
			}

			@media (max-width: 575.98px) {
				font-size: 20px;
			}
		}

		.date {
			color: #575757;
			font-family: 'Poppins';
			font-weight: 500;
			font-size: 14px;
		}

		.caution {
			color: #151515;
			font-family: 'Poppins';
			font-weight: 500;
			font-size: 36px;
		}
	}

	.content {
		padding: 30px 45px;

		.intro {
			margin-bottom: 30px;
			color: #151515;
			font-family: 'OpenSans';
			font-weight: 400;
			font-size: 14px;

			::ng-deep {
				p {
					margin-bottom: 8px;

					&:last-child {
						margin: 0px;
					}

					.bold {
						font-weight: 700;
					}
				}

				ul {
					margin: 0px 0px 8px 36px;
					padding-left: 0px;
				}
			}
		}

		.summary {
			margin-bottom: 30px;

			.heading {
				margin-bottom: 20px;
				color: #151515;
				font-family: 'OpenSans';
				font-weight: 500;
				font-size: 26px;
			}

			.table-content {
				color: #151515;
				font-family: 'OpenSans';
				font-weight: 400;
				font-size: 14px;

				::ng-deep {
					p {
						margin-bottom: 8px;

						&:last-child {
							margin: 0px;
						}

						.bold {
							font-weight: 700;
						}

						.italic {
							font-style: italic;
						}
					}
				}
			}
		}

		.table-of-contents {
			margin-bottom: 30px;

			.heading {
				margin-bottom: 20px;
				color: #151515;
				font-family: 'OpenSans';
				font-weight: 500;
				font-size: 26px;
			}

			.list {
				margin: 0px;
				padding: 0px;
				list-style: none;

				.list-item {
					a {
						color: #151515;
						font-family: 'OpenSans';
						font-weight: 400;
						font-size: 14px;
					}
				}
			}
		}

		.contents {
			.section {
				margin-bottom: 30px;

				&:last-of-type {
					margin: 0px;
				}

				.heading {
					margin-bottom: 20px;
					color: #151515;
					font-family: 'OpenSans';
					font-weight: 500;
					font-size: 26px;
				}

				.table-content {
					color: #151515;
					font-family: 'OpenSans';
					font-weight: 400;
					font-size: 14px;

					::ng-deep {
						p {
							margin-bottom: 8px;
							overflow-wrap: break-word;

							&:last-child {
								margin: 0px;
							}

							.bold {
								font-weight: 700;
							}

							.italic {
								font-style: italic;
							}

							.underline {
								text-decoration: underline;
							}
						}

						h4 {
							font-weight: 500;
							font-size: 20px;
						}

						ul {
							margin: 0px 0px 8px 36px;
							padding-left: 0px;

							&.remove-dots {
								list-style: none;
							}

							.bold {
								font-weight: 700;
							}
						}

						.table {
							thead {
								tr {
									color: #151515;
									font-family: 'Poppins';
									font-weight: 600;
									font-size: 14px;

									th {
										padding: 7px 0px;
										border-color: #EBEBEB;
									}
								}
							}

							tbody {
								border-top: none;

								tr {
									color: #575757;
									font-family: 'OpenSans';
									font-weight: 400;
									font-size: 14px;

									&:nth-of-type(odd) {
										background-color: #FDFDFD;
									}

									td {
										padding: 10px 0px;
										border: none;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}