.input-group {
	position: relative;

	.dropdown-button {
		padding: 11px 24px 11px 16px;
		border-radius: 12px 0px 0px 12px;
		border: 1px solid #D1D1D1;
		border-right: none;
		background-color: #F9F9F9;
		color: #151515;
		font-family: 'Poppins';
		font-weight: 700;
		font-size: 15px;

		&::after {
			display: none;
		}

		@media (max-width: 575.98px) {
			padding: 8px 21px 8px 13px;
			font-size: 12px;
		}

		.down-arrow-icon {
			margin-left: 8px;

			@media (max-width: 575.98px) {
				margin-left: 4px;
			}
		}
	}

	.dropdown-menu {
		background-color: #F9F9F9;

		.dropdown-item {
			font-family: 'Poppins';
			font-weight: 400;
			font-size: 15px;

			@media (max-width: 575.98px) {
				font-size: 12px;
			}
		}
	}

	.vertical-splitter {
		width: 1px;
		margin: 11px 0px;
		background-color: #D1D1D1;
		z-index: 4;
	}

	input {
		padding: 12px 44px 12px 24px;
		border-radius: 0px 12px 12px 0px !important;
		border: 1px solid #D1D1D1;
		border-left: none;
		background-color: #F9F9F9;
		color: #A9A9A9;
		font-family: 'OpenSans';
		font-weight: 400;
		font-size: 14px;

		&::placeholder {
			color: #A9A9A9;
		}

		@media (max-width: 575.98px) {
			padding: 9px 41px 9px 21px;
			font-size: 10px;
		}
	}

	.search-icon {
		position: absolute;
		top: 50%;
		right: 16px;
		width: 16px;
		height: 16px;
		transform: translateY(-50%);
		cursor: pointer;
		z-index: 4;
	}

	&.rtl {
		.dropdown-button {
			padding: 11px 16px 11px 24px;
			border-radius: 0px 12px 12px 0px;
			border-left: none;
			border-right: 1px solid #D1D1D1;
			font-family: 'NotoSansArabic';

			@media (max-width: 575.98px) {
				padding: 8px 13px 8px 21px;
			}

			.down-arrow-icon {
				margin: 0px 8px 0px 0px;

				@media (max-width: 575.98px) {
					margin-right: 4px;
				}
			}
		}

		.dropdown-menu {
			text-align: right;
			right: 0px !important;

			.dropdown-item {
				font-family: 'NotoSansArabic';
			}
		}

		input {
			padding: 12px 24px 12px 44px;
			border-radius: 12px 0px 0px 12px !important;
			border-left: 1px solid #D1D1D1;
			border-right: none;
			font-family: 'Cairo';

			@media (max-width: 575.98px) {
				padding: 9px 21px 9px 41px;
			}
		}

		.search-icon {
			left: 16px;
			right: initial;
			transform: translateY(-50%) scaleX(-1);
		}
	}
}