<div class="input-group">
	<div class="input-group-prepend">
		<div ngbDropdown class="d-inline-block">
			<button ngbDropdownToggle class="btn dropdown-button">{{ selectedCategory.name }} <img class="down-arrow-icon" src="../../../assets/icons/down-arrow-green.svg" alt=""></button>
			<div ngbDropdownMenu class="dropdown-menu">
				<button ngbDropdownItem class="dropdown-item" (click)="onCategorySelected(category)" *ngFor="let category of categories">{{ category.name }}</button>
			</div>
		</div>
	</div>
	<div class="vertical-splitter"></div>
	<input class="form-control" type="text" placeholder="Search Products, categories ..." #searchInput (keypress)="onSearchKeyPressed($event)">
	<img class="search-icon" src="../../../assets/icons/search.svg" alt="" (click)="onSearchIconClicked($event)">
</div>