@import '../../../variables';

.input-group {
	position: relative;

	.dropdown-button {
		padding: 11px 24px 11px 16px;
		border-radius: $default-border-radius 0px 0px $default-border-radius;
		border: 1px solid $secondary-border-color;
		border-right: none;
		background-color: $input-background-color;
		color: $dark-color;
		font-family: $primary-english-font;
		font-weight: 700;
		font-size: 15px;

		&::after {
			display: none;
		}
		&:focus {
			box-shadow: 0 0 0 4px $secondary-box-shadow-color;
		}

		@media (max-width: 575.98px) {
			padding: 8px 21px 8px 13px;
			font-size: 12px;
		}

		.selected-item {
			max-width: 150px;
			display: inline-block;
			vertical-align: top;
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
		}

		.arrow-icon {
			margin-left: 8px;
			display: inline-block;
			--color: #{$primary-color};

			@media (max-width: 575.98px) {
				margin-left: 4px;
			}
		}
	}

	.dropdown-menu {
		background-color: $input-background-color;

		.dropdown-item {
			color: $dark-color;
			font-family: $primary-english-font;
			font-weight: 400;
			font-size: 15px;

			@media (max-width: 575.98px) {
				font-size: 12px;
			}

			&:hover,
			&:focus
			&.active,
			&:active {
				background-color: $dropdown-item-background-color;
			}
		}
	}

	.vertical-splitter {
		width: 1px;
		margin: 11px 0px;
		background-color: $secondary-border-color;
		z-index: 4;
	}

	input {
		padding: 12px 44px 12px 24px;
		border-radius: 0px $default-border-radius $default-border-radius 0px !important;
		border: 1px solid $secondary-border-color;
		border-left: none;
		background-color: $input-background-color;
		color: $input-text-color;
		font-family: $secondary-english-font;
		font-weight: 400;
		font-size: 14px;

		&::placeholder {
			color: $input-placeholder-color;
		}
		&:focus {
			box-shadow: 0 0 0 4px $secondary-box-shadow-color;
		}

		@media (max-width: 575.98px) {
			padding: 9px 41px 9px 21px;
			font-size: 10px;
		}
	}

	.search-icon {
		position: absolute;
		top: 50%;
		right: 16px;
		transform: translateY(-50%);
		cursor: pointer;
		z-index: 4;
		--color: #{$dark-color};
	}

	&.rtl {
		.dropdown-button {
			padding: 11px 16px 11px 24px;
			border-radius: 0px $default-border-radius $default-border-radius 0px;
			border: 1px solid $secondary-border-color;
			border-left: none;
			font-family: $primary-arabic-font;

			@media (max-width: 575.98px) {
				padding: 8px 13px 8px 21px;
			}

			.arrow-icon {
				margin: 0px 8px 0px 0px;

				@media (max-width: 575.98px) {
					margin-right: 4px;
				}
			}
		}

		.dropdown-menu {
			text-align: right;
			inset: 0px 0px auto auto !important;

			.dropdown-item {
				font-family: $primary-arabic-font;
			}
		}

		input {
			padding: 12px 24px 12px 44px;
			border-radius: $default-border-radius 0px 0px $default-border-radius !important;
			border: 1px solid $secondary-border-color;
			border-right: none;
			font-family: $secondary-arabic-font;

			@media (max-width: 575.98px) {
				padding: 9px 21px 9px 41px;
			}
		}

		.search-icon {
			right: initial;
			left: 16px;
			transform: translateY(-50%) scaleX(-1);
		}
	}
}