@import '../../../variables';

.container {
	padding: 0px;
	background-color: $page-background-color;
	box-shadow: $page-box-shadow;

	.content {
		padding: 16px 45px;

		.cover-images {
			.cover-image {
				position: relative;
				margin-bottom: 32px;
				padding: 16px;
				height: 436px;
				border-radius: $default-border-radius;
				background-color: $image-background-color;
				overflow: hidden;

				@media (max-width: 991.98px) {
					height: 338px;
				}

				img {
					position: absolute;
					top: 0px;
					left: 0px;
					transform: translate(-50%, -50%);
				}

				.tags {
					position: absolute;

					.tag {
						margin: 0px 12px 8px 0px;
						display: inline-block;

						span {
							padding: 4px 10px;
							border-radius: $default-border-radius;
							background-color: $tag-background-color;
							color: $primary-color;
							font-family: $primary-english-font;
							font-weight: 600;
							font-size: 12px;
						}
					}
				}
			}
		}

		.details {
			.heading {
				margin-bottom: 4px;
				color: $dark-color;
				font-family: $primary-english-font;
				font-weight: 600;
				font-size: 32px;
			}

			.stars {
				margin-bottom: 36px;

				.star {
					position: relative;
					display: inline-block;
					font-size: 24px;
					color: $secondary-border-color;

					&.full {
						color: $star-color;
					}

					.half {
						position: absolute;
						display: inline-block;
						overflow: hidden;
						color: $star-color;
					}
				}

				.review {
					margin-left: 8px;
					display: inline-block;
					vertical-align: text-bottom;

					a {
						text-decoration: underline;
						color: $input-text-color;
						font-family: $secondary-english-font;
						font-weight: 400;
						font-size: 12px;
						cursor: pointer;
					}
				}
			}

			.description {
				margin-bottom: 40px;
				color: $dark-color;
				font-family: $secondary-english-font;
				font-weight: 400;
				font-size: 17px;
			}

			.details {
				margin-bottom: 40px;

				.details-column {
					margin-bottom: 12px;

					&:last-of-type {
						margin: 0px;
					}

					.details-row {
						margin: 0px 0px 12px 0px;
						padding: 0px;

						&:last-of-type {
							margin-bottom: 0px;
						}

						.text,
						.value {
							margin: auto;
							font-family: $secondary-english-font;
							font-weight: 400;
							font-size: 14px;
						}

						.text {
							padding: 0px 12px 0px 0px;
							color: $input-text-color;

							@media (max-width: 575.98px) {
								padding-right: 4px;
							}
						}

						.value {
							padding: 0px 0px 0px 12px;
							color: $dark-color;

							@media (max-width: 575.98px) {
								padding-left: 4px;
							}

							a {
								color: $dark-color;
							}
						}
					}
				}
			}

			.cart {
				margin-bottom: 24px;
				padding: 16px 24px 16px 16px;
				display: flex;
				justify-content: space-between;
				border-radius: $default-border-radius;
				border: 1px solid $secondary-border-color;

				@media (max-width: 991.98px) {
					display: block;
				}

				@media (max-width: 767.98px) {
					display: flex;
				}

				@media (max-width: 575.98px) {
					display: block;
				}

				.price {
					@media (max-width: 1199.98px) {
						margin: auto 0;
					}

					@media (max-width: 991.98px) {
						margin-bottom: 12px;
					}

					@media (max-width: 767.98px) {
						margin: auto 0;
					}

					@media (max-width: 575.98px) {
						margin-bottom: 12px;
						text-align: center;
					}

					.current-price {
						color: $primary-color;
						font-family: $primary-english-font;
						font-weight: 600;
						font-size: 26px;
					}

					.old-price {
						text-decoration: line-through;
						color: $input-text-color;
						font-family: $primary-english-font;
						font-weight: 600;
						font-size: 12px;
					}
				}

				.buttons {
					margin: auto 0px;

					@media (max-width: 1199.98px) {
						text-align: center;
					}

					.quantity {
						margin-right: 24px;
						display: inline-flex;

						@media (max-width: 1199.98px) {
							margin: 0px auto 12px auto;
						}
					}

					.add-button {
						padding: 12px 16px;
						border-radius: $default-border-radius;
						border: 2px solid $primary-border-color;
						background-color: $primary-color;
						color: $light-color;
						font-family: $primary-english-font;
						font-weight: 700;
						font-size: 15px;

						@media (max-width: 1199.98px) {
							display: block;
						}

						@media (max-width: 991.98px) {
							margin: auto;
						}

						&:focus {
							box-shadow: 0 0 0 4px $primary-box-shadow-color;
						}

						.plus-icon {
							margin-right: 6px;
						}
					}
				}
			}

			.options {
				margin-bottom: 62px;
				color: $dark-color;
				font-family: $primary-english-font;
				font-weight: 700;
				font-size: 15px;

				.wishlist {
					margin: 0px 42px 0px 12px;
					display: inline-block;
					cursor: pointer;

					@media (max-width: 991.98px) {
						margin: 0px 0px 8px 0px;
						display: block;
					}

					@media (max-width: 767.98px) {
						margin-right: 42px;
						display: inline-block;
					}

					@media (max-width: 575.98px) {
						margin: 0px 0px 8px 0px;
						display: block;
					}

					.heart-icon {
						margin-right: 6px;
					}
				}

				.compare {
					display: inline-block;
					cursor: pointer;

					@media (max-width: 991.98px) {
						display: block;
					}

					@media (max-width: 767.98px) {
						display: inline-block;
					}

					@media (max-width: 575.98px) {
						display: block;
					}

					.compare-icon {
						margin-right: 6px;
					}
				}
			}

			.info {
				.nav {
					&.nav-tabs {
						border: none;
					}

					.nav-link {
						width: 33.33%;
						margin-bottom: 0px;
						padding: 0px 0px 16px 0px;
						border: none;
						border-bottom: 1px solid $secondary-border-color;
						color: $dark-color;
						font-family: $primary-english-font;
						font-weight: 600;
						font-size: 18px;
						overflow-wrap: break-word;

						@media (max-width: 991.98px) {
							font-size: 14px;
						}

						&.active {
							border-bottom-color: $primary-color;
						}

						.tag {
							margin-left: 8px;
							padding: 0px 8px;
							border-radius: $default-border-radius;
							vertical-align: middle;
							background-color: $tag-background-color;
							color: $primary-color;
							font-family: $primary-english-font;
							font-weight: 600;
							font-size: 12px;
						}
					}
				}

				.tab-content {
					padding-top: 48px;

					::ng-deep {
						.heading {
							color: $dark-color;
							font-family: $primary-english-font;
							font-weight: 500;
							font-size: 15px;

							&:last-of-type {
								margin-bottom: 16px;
							}
						}

						.details {
							margin-bottom: 32px;
							color: $dark-color;
							font-family: $secondary-english-font;
							font-weight: 400;
							font-size: 14px;
						}

						.table {
							margin: 0px;

							thead {
								tr {
									color: $dark-color;
									font-family: $primary-english-font;
									font-weight: 600;
									font-size: 12px;

									th {
										padding: 7px 0px;
										border-color: $table-border-color;
									}
								}
							}

							tbody {
								border-top: none;

								tr {
									color: $table-text-color;
									font-family: $secondary-english-font;
									font-weight: 400;
									font-size: 14px;

									&:nth-of-type(odd) {
										background-color: $input-background-color;
									}

									td {
										padding: 10px 0px;
										border: none;
									}
								}
							}
						}

						form {
							margin-bottom: 48px;

							.form-group {
								margin-bottom: 32px;

								&:last-of-type {
									margin: 0px;
								}

								label {
									color: $dark-color;
									font-family: $primary-english-font;
									font-weight: 600;
									font-size: 12px;
								}

								input {
									font-family: $secondary-english-font;
									font-weight: 400;
									font-size: 14px;

									&[type=text] {
										padding: 11px 20px;
										border-radius: $default-border-radius;
										border: 1px solid $secondary-border-color;
										background-color: $input-background-color;
										color: $input-text-color;
									}

									&::placeholder {
										color: $input-placeholder-color;
									}
									&:focus {
										box-shadow: 0 0 0 4px $secondary-box-shadow-color;
									}
								}

								textarea {
									padding: 11px 20px;
									border-radius: $default-border-radius;
									border: 1px solid $secondary-border-color;
									resize: none;
									background-color: $input-background-color;
									color: $input-text-color;
									font-family: $secondary-english-font;
									font-weight: 400;
									font-size: 14px;

									&::placeholder {
										color: $input-placeholder-color;
									}
									&:focus {
										box-shadow: 0 0 0 4px $secondary-box-shadow-color;
									}
								}

								.review-stars {
									.star {
										position: relative;
										display: inline-block;
										font-size: 24px;
										color: $secondary-border-color;

										&.full {
											color: $star-color;
										}

										.half {
											position: absolute;
											display: inline-block;
											overflow: hidden;
											color: $star-color;
										}
									}
								}
							}

							.buttons {
								@media (max-width: 575.98px) {
									text-align: center;
								}

								.add-button {
									padding: 12px 48px;
									display: inline-block;
									border-radius: $default-border-radius;
									border: 2px solid $primary-border-color;
									background-color: $primary-color;
									color: $light-color;
									font-family: $primary-english-font;
									font-weight: 700;
									font-size: 15px;

									&:focus {
										box-shadow: 0 0 0 4px $primary-box-shadow-color;
									}
								}
							}
						}

						.reviews {
							.review {
								margin-bottom: 24px;

								&:last-of-type {
									margin: 0px;
								}
							}
						}

						.questions {
							::ng-deep {
								.accordion {
									.accordion-item {
										margin-bottom: 16px;
										border-radius: $default-border-radius;
										border: 1px solid $secondary-border-color;
										overflow: hidden;

										&:last-of-type {
											margin: 0px;
										}

										.accordion-header {
											.accordion-button {
												padding: 16px;
												background-color: $light-color;
												color: $dark-color;
												font-family: $primary-english-font;
												font-weight: 600;
												font-size: 12px;
												box-shadow: none;

												&:not(.collapsed) {
													&::after {
														background-image: url('data:image/svg+xml,%3csvg xmlns=\'http://www.w3.org/2000/svg\' viewBox=\'0 0 16 16\' fill=\'%23212529\'%3e%3cpath fill-rule=\'evenodd\' d=\'M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z\'/%3e%3c/svg%3e');
													}
												}
											}
										}

										.accordion-body {
											padding: 8px 16px;
											font-family: $secondary-english-font;
											font-weight: 400;
											font-size: 14px;
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}

	&.rtl {
		direction: rtl;

		.content {
			.cover-images {
				.cover-image {
					.tags {
						.tag {
							margin: 0px 0px 8px 12px;

							span {
								font-family: $primary-arabic-font;
							}
						}
					}
				}
			}

			.details {
				.heading {
					font-family: $primary-arabic-font;
				}

				.stars {
					.review {
						margin: 0px 8px 0px 0px;

						a {
							font-family: $secondary-arabic-font;
						}
					}
				}

				.description {
					font-family: $secondary-arabic-font;
				}

				.details {
					.details-column {
						.details-row {
							.text,
							.value {
								font-family: $secondary-arabic-font;

								&.text {
									padding: 0px 0px 0px 12px;

									@media (max-width: 575.98px) {
										padding-left: 4px;
									}
								}

								&.value {
									padding: 0px 12px 0px 0px;

									@media (max-width: 575.98px) {
										padding-right: 4px;
									}
								}
							}
						}
					}
				}

				.cart {
					padding: 16px 16px 16px 24px;

					.price {
						.current-price,
						.old-price {
							font-family: $primary-arabic-font;
						}
					}

					.buttons {
						.quantity {
							margin: 0px 0px 0px 24px;

							@media (max-width: 1199.98px) {
								margin: 0px auto 12px auto;
							}
						}

						.add-button {
							font-family: $primary-arabic-font;

							.plus-icon {
								margin: 0px 0px 0px 6px;
							}
						}
					}
				}

				.options {
					font-family: $primary-arabic-font;

					.wishlist {
						margin: 0px 12px 0px 42px;

						@media (max-width: 991.98px) {
							margin: 0px 0px 8px 0px;
						}

						@media (max-width: 767.98px) {
							margin-left: 42px;
						}

						@media (max-width: 575.98px) {
							margin: 0px 0px 8px 0px;
						}

						.heart-icon {
							margin: 0px 0px 0px 6px;
						}
					}

					.compare {
						.compare-icon {
							margin: 0px 0px 0px 6px;
						}
					}
				}

				.info {
					.nav {
						.nav-link {
							font-family: $primary-arabic-font;

							.tag {
								margin: 0px 8px 0px 0px;
								font-family: $primary-arabic-font;
							}
						}
					}

					.tab-content {
						::ng-deep {
							.heading {
								font-family: $primary-arabic-font;
							}

							.details {
								font-family: $secondary-arabic-font;
							}

							.table {
								thead {
									tr {
										font-family: $primary-arabic-font;
									}
								}

								tbody {
									tr {
										font-family: $secondary-arabic-font;
									}
								}
							}

							form {
								.form-group {
									label {
										font-family: $primary-arabic-font;
									}

									input,
									textarea {
										font-family: $secondary-arabic-font;
									}
								}

								.buttons {
									.add-button {
										font-family: $primary-arabic-font;
									}
								}
							}

							.questions {
								::ng-deep {
									.accordion {
										.accordion-item {
											.accordion-header {
												.accordion-button {
													font-family: $primary-arabic-font;

													&::after {
														margin: 0px auto 0px 0px;
													}
												}
											}

											.accordion-body {
												font-family: $secondary-arabic-font;
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}