<div class="container" [ngClass]="{ 'rtl': rtl }">
	<app-header></app-header>
	<app-menu></app-menu>

	<app-breadcrumb [breadcrumb]="breadcrumb"></app-breadcrumb>

	<div class="content">
		<div class="row">
			<div class="col-md-6 cover-images">
				<div class="cover-image" *ngFor="let image of product.images; first as isFirst">
					<img src="{{ image }}" alt="">
					<div class="tags" *ngIf="isFirst">
						<div class="tag" *ngIf="discount != 0"><span>&#65293;{{ discount }} &#65285;</span></div>
						<div class="tag"><span>{{ product.shipping }}</span></div>
					</div>
				</div>
			</div>
			<div class="col-md-6 details">
				<h2 class="heading">{{ product.name }}</h2>
				<div class="stars">
					<ng-template #starTemplate let-fill="fill">
						<span class="star" [class.full]="fill === 100">
							<span class="half" [style.width.%]="fill">&starf;</span>&starf;
						</span>
					</ng-template>
					<ngb-rating [(rate)]="product.rating" [starTemplate]="starTemplate" [readonly]="true" [max]="5"></ngb-rating>
					<div class="review">
						<a (click)="scrollToReviews($event, info, infoNav)">({{ product.reviews.length }} {{ 'translate.pages.productDetails.customerReview' | translate }})</a>
					</div>
				</div>
				<p class="description">{{ product.description }}</p>
				<div class="row details">
					<div class="col-lg-6 col-md-12 col-sm-6 details-column">
						<div class="row details-row">
							<div class="col-5 text">{{ 'translate.pages.productDetails.sku' | translate }}:</div>
							<div class="col-7 value">{{ product.sku }}</div>
						</div>
						<div class="row details-row">
							<div class="col-5 text">{{ 'translate.pages.productDetails.category' | translate }}:</div>
							<div class="col-7 value">
								<a [routerLink]="['/categories', product.category.slug, 'products']">{{ product.category.name }}</a>
							</div>
						</div>
						<div class="row details-row">
							<div class="col-5 text">{{ 'translate.pages.productDetails.farm' | translate }}:</div>
							<div class="col-7 value">{{ product.farm }}</div>
						</div>
						<div class="row details-row">
							<div class="col-5 text">{{ 'translate.pages.productDetails.stock' | translate }}:</div>
							<div class="col-7 value">
								<app-stock-input-group [availablePacks]="product.availablePacks" [readonly]="true"></app-stock-input-group>
							</div>
						</div>
					</div>
					<div class="col-lg-6 col-md-12 col-sm-6 details-column">
						<div class="row details-row">
							<div class="col-5 text">{{ 'translate.pages.productDetails.freshness' | translate }}:</div>
							<div class="col-7 value">
								{{ product.freshness }}<span *ngIf="product.freshnessDescription"> ({{ product.freshnessDescription }})</span>
							</div>
						</div>
						<div class="row details-row">
							<div class="col-5 text">{{ 'translate.pages.productDetails.delivery' | translate }}:</div>
							<div class="col-7 value">{{ 'translate.pages.productDetails.in' | translate }} {{ product.deliveryDays }} {{ 'translate.pages.productDetails.days' | translate }}</div>
						</div>
						<div class="row details-row">
							<div class="col-5 text">{{ 'translate.pages.productDetails.deliveryArea' | translate }}:</div>
							<div class="col-7 value">{{ product.delivery }}</div>
						</div>
					</div>
				</div>
				<div class="cart">
					<div class="price">
						<div class="current-price">{{ product.price }} {{ product.currency }}</div>
						<div class="old-price">{{ product.oldPrice }} {{ product.currency }}</div>
					</div>
					<div class="buttons">
						<div class="quantity">
							<app-stock-input-group [availablePacks]="product.availablePacks" [(quantity)]="product.selectedQuantity" [large]="true"></app-stock-input-group>
						</div>
						<button class="btn add-button">
							<svg width="14" height="14" class="plus-icon">
								<use xlink:href="assets/icons/plus.svg#plus"></use>
							</svg>
							{{ 'translate.pages.productDetails.addToCart' | translate }}
						</button>
					</div>
				</div>
				<div class="options">
					<div class="wishlist">
						<svg width="17" height="17" class="heart-icon">
							<use xlink:href="assets/icons/heart.svg#heart"></use>
						</svg>
						{{ 'translate.pages.productDetails.addToWishlist' | translate }}
					</div>
					<div class="compare">
						<svg width="17" height="17" class="compare-icon">
							<use xlink:href="assets/icons/compare.svg#compare"></use>
						</svg>
						{{ 'translate.pages.productDetails.compare' | translate }}
					</div>
				</div>
				<div class="info" #info>
					<nav ngbNav #infoNav="ngbNav" class="nav-tabs">
						<ng-container ngbNavItem="description">
							<a ngbNavLink>{{ 'translate.pages.productDetails.description' | translate }}</a>
							<ng-template ngbNavContent>
								<div [innerHtml]="product.info"></div>
							</ng-template>
						</ng-container>
						<ng-container ngbNavItem="reviews">
							<a ngbNavLink>
								{{ 'translate.pages.productDetails.reviews' | translate }}
								<span class="tag">{{ product.reviews.length }}</span>
							</a>
							<ng-template ngbNavContent>
								<h2 class="heading">{{ 'translate.pages.productDetails.leaveReview' | translate }}</h2>
								<form>
									<div class="row">
										<div class="form-group col-md-12">
											<label for="name">{{ 'translate.pages.productDetails.name' | translate }}</label>
											<input class="form-control" id="name" name="name" type="text" placeholder="{{ 'translate.pages.productDetails.name' | translate }}" [(ngModel)]="review.author">
										</div>
										<div class="form-group col-md-12">
											<label for="rate">{{ 'translate.pages.productDetails.rate' | translate }}</label>
											<div class="review-stars">
												<ng-template #reviewTemplate let-fill="fill">
													<span class="star" [class.full]="fill === 100">
														<span class="half" [style.width.%]="fill">&starf;</span>&starf;
													</span>
												</ng-template>
												<ngb-rating [(rate)]="review.rating" [starTemplate]="reviewTemplate" [max]="5"></ngb-rating>
											</div>
										</div>
										<div class="form-group col-md-12">
											<label for="comment">{{ 'translate.pages.productDetails.review' | translate }}</label>
											<textarea class="form-control" id="review" name="review" rows="4" placeholder="{{ 'translate.pages.productDetails.spaceForReview' | translate }}" [(ngModel)]="review.content"></textarea>
										</div>
										<div class="form-group col-md-12 buttons">
											<button class="btn add-button">{{ 'translate.pages.productDetails.addReview' | translate }}</button>
										</div>
									</div>
								</form>
								<h2 class="heading">{{ 'translate.pages.productDetails.reviews' | translate }}</h2>
								<div class="reviews">
									<div class="review" *ngFor="let review of product.reviews">
										<app-review [review]="review"></app-review>
									</div>
								</div>
							</ng-template>
						</ng-container>
						<ng-container ngbNavItem="questions">
							<a ngbNavLink>
								{{ 'translate.pages.productDetails.questions' | translate }}
								<span class="tag">{{ product.questions.length }}</span>
							</a>
							<ng-template ngbNavContent>
								<h2 class="heading">{{ 'translate.pages.productDetails.questions' | translate }}</h2>
								<div class="questions">
									<ngb-accordion>
										<ngb-panel [id]="'question-' + question.id" *ngFor="let question of product.questions">
											<ng-template ngbPanelTitle>{{ question.content }}</ng-template>
											<ng-template ngbPanelContent>{{ question.answer }}</ng-template>
										</ngb-panel>
									</ngb-accordion>
								</div>
							</ng-template>
						</ng-container>
					</nav>
					<div [ngbNavOutlet]="infoNav" class="mt-2"></div>
				</div>
			</div>
		</div>
	</div>

	<app-related-products [heading]="'translate.pages.productDetails.relatedProducts' | translate" [goto-button]="'translate.pages.productDetails.moreProducts' | translate" [products]="relatedProducts"></app-related-products>
	<app-footer></app-footer>
</div>