<div class="container">
	<app-header></app-header>
	<app-menu></app-menu>

	<app-breadcrumb [breadcrumb]="breadcrumb"></app-breadcrumb>

	<div class="content">
		<div class="row">
			<div class="col-md-6 cover-images">
				<div class="cover-image" *ngFor="let image of product.images; first as isFirst">
					<img src="{{ image }}" alt="">
					<div class="tags" *ngIf="isFirst">
						<div class="tag" *ngIf="discount != 0"><span>-{{ discount }} %</span></div>
						<div class="tag"><span>{{ product.shipping }}</span></div>
					</div>
				</div>
			</div>
			<div class="col-md-6 details">
				<h2 class="heading">{{ product.name }}</h2>
				<div class="stars">
					<ng-template #starTemplate let-fill="fill">
						<span class="star" [class.full]="fill === 100">
							<span class="half" [style.width.%]="fill">&starf;</span>&starf;
						</span>
					</ng-template>
					<ngb-rating [(rate)]="product.rating" [starTemplate]="starTemplate" [readonly]="true" [max]="5"></ngb-rating>
					<div class="review">
						<a href="#">({{ product.reviews.length }} customer review)</a>
					</div>
				</div>
				<p class="description">{{ product.description }}</p>
				<div class="row info">
					<div class="col-lg-6 col-md-12 col-sm-6">
						<div class="row">
							<div class="col-5">
								<div class="text gray">SKU:</div>
								<div class="text gray">Category:</div>
								<div class="text gray">Farm:</div>
								<div class="text gray">Stock:</div>
							</div>
							<div class="col-7">
								<div class="text">{{ product.sku }}</div>
								<div class="text"><a [routerLink]="['/products/categories', product.category.slug]">{{ product.category.name }}</a></div>
								<div class="text">{{ product.farm }}</div>
								<div class="text">
									<div class="input-group">
										<div class="input-group-prepend">
											<input class="form-control" type="text" [value]="selectedStockPack.stock" disabled>
										</div>
										<div class="vertical-splitter"></div>
										<div ngbDropdown class="d-inline-block">
											<button ngbDropdownToggle class="btn dropdown-button">{{ selectedStockPack.pack }} <img class="down-arrow-icon" src="../../../assets/icons/down-arrow-black.svg" alt=""></button>
											<div ngbDropdownMenu class="dropdown-menu">
												<button ngbDropdownItem class="dropdown-item" (click)="onStockPackSelected(pack)" *ngFor="let pack of product.availablePacks">{{ pack.pack }}</button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-6 col-md-12 col-sm-6">
						<div class="row">
							<div class="col-5">
								<div class="text gray">Freshness:</div>
								<div class="text gray">Delivery:</div>
								<div class="text gray">Delivery area:</div>
							</div>
							<div class="col-7">
								<div class="text">{{ product.freshness }}<span *ngIf="product.freshnessDescription"> ({{ product.freshnessDescription }})</span></div>
								<div class="text">in {{ product.deliveryDays }} day(s)</div>
								<div class="text">{{ product.delivery }}</div>
							</div>
						</div>
					</div>
				</div>
				<div class="cart">
					<div class="price">
						<div class="current-price">{{ product.price }} {{ product.currency }}</div>
						<div class="old-price">{{ product.oldPrice }} {{ product.currency }}</div>
					</div>
					<div class="buttons">
						<div class="input-group">
							<div class="input-group-prepend">
								<input class="form-control" type="text" [placeholder]="'1' + selectedCartPack.pack" [(ngModel)]="product.selectedQuantity.quantity">
							</div>
							<div class="vertical-splitter"></div>
							<div ngbDropdown class="d-inline-block">
								<button ngbDropdownToggle class="btn dropdown-button">{{ selectedCartPack.pack }} <img class="down-arrow-icon" src="../../../assets/icons/down-arrow-black.svg" alt=""></button>
								<div ngbDropdownMenu class="dropdown-menu">
									<button ngbDropdownItem class="dropdown-item" (click)="onCartPackSelected(pack)" *ngFor="let pack of product.availablePacks">{{ pack.pack }}</button>
								</div>
							</div>
						</div>
						<button class="btn add-button"><img class="plus-icon" src="../../../assets/icons/plus.svg" alt=""> Add to cart</button>
					</div>
				</div>
				<div class="options">
					<div class="wishlist"><img class="heart-icon" src="../../../assets/icons/heart-orange.svg" alt=""> Add to my wish list</div>
					<div class="compare"><img class="compare-icon" src="../../../assets/icons/compare.svg" alt=""> Compare</div>
				</div>
				<div class="info">
					<nav ngbNav #infoNav="ngbNav" class="nav-tabs">
						<ng-container ngbNavItem>
							<a ngbNavLink>Description</a>
							<ng-template ngbNavContent>
								<div [innerHtml]="product.info"></div>
							</ng-template>
						</ng-container>
						<ng-container ngbNavItem>
							<a ngbNavLink>
								Reviews
								<span class="tag">{{ product.reviews.length }}</span>
							</a>
							<ng-template ngbNavContent>
								<h2 class="heading">Reviews</h2>
							</ng-template>
						</ng-container>
						<ng-container ngbNavItem>
							<a ngbNavLink>
								Questions
								<span class="tag">{{ product.questions.length }}</span>
							</a>
							<ng-template ngbNavContent>
								<h2 class="heading">Questions</h2>
							</ng-template>
						</ng-container>
					</nav>
					<div [ngbNavOutlet]="infoNav" class="mt-2"></div>
				</div>
			</div>
		</div>
	</div>

	<app-related-products [heading]="'Related products'" [goto-button]="'More products'" [products]="relatedProducts"></app-related-products>
	<app-footer></app-footer>
</div>