@import '../../../variables';

.comment {
	.container {
		margin-bottom: 24px;
		padding: 16px;
		border-radius: $default-border-radius;
		border: 1px solid $secondary-border-color;

		&:last-of-type {
			margin-bottom: 0px;
		}

		.header {
			margin-bottom: 24px;
			display: flex;

			.avatar-image {
				position: relative;
				width: 40px;
				height: 40px;
				margin: auto 12px auto 0px;
				border-radius: $circle-border-radius;
				background-color: $image-background-color;

				img {
					position: absolute;
					top: 50%;
					width: 100%;
					height: auto;
					border-radius: $circle-border-radius;
					transform: translateY(-50%);
				}
			}

			.info {
				.author {
					margin-right: 6px;
					display: inline-block;
					color: $dark-color;
					font-family: $primary-english-font;
					font-weight: 600;
					font-size: 12px;
				}

				.tag {
					padding: 0px 8px;
					display: inline-block;
					border-radius: $default-border-radius;
					background-color: $image-background-color;
					color: $dark-color;
					font-family: $primary-english-font;
					font-weight: 600;
					font-size: 12px;

					&.admin {
						background-color: $tag-background-color;
						color: $primary-color;
					}
				}

				.date {
					padding: 6px 0px;
					display: block;
					border: none;
					color: $input-text-color;
					font-family: $secondary-english-font;
					font-weight: 400;
					font-size: 12px;

					&:focus {
						box-shadow: none;
					}
				}

				::ng-deep {
					.tooltip {
						.tooltip-inner {
							font-family: $secondary-english-font;
						}
					}
				}
			}
		}

		.content {
			color: $dark-color;
			font-family: $secondary-english-font;
			font-weight: 400;
			font-size: 14px;
		}
	}

	.reply {
		width: initial;
		margin-left: 100px;

		@media (max-width: 991.98px) {
			margin-left: 70px;
		}

		@media (max-width: 575.98px) {
			margin-left: 50px;
		}
	}

	&.rtl {
		.container {
			.header {
				.avatar-image {
					margin: auto 0px auto 12px;
				}

				.info {
					.author {
						margin: 0px 0px 0px 6px;
						font-family: $primary-arabic-font;
					}

					.date {
						font-family: $secondary-arabic-font;
					}

					::ng-deep {
						.tooltip {
							.tooltip-inner {
								font-family: $secondary-arabic-font;
							}
						}
					}
				}
			}

			.content {
				font-family: $secondary-arabic-font;
			}
		}

		.reply {
			margin: 0px 100px 0px 0px;

			@media (max-width: 991.98px) {
				margin-right: 70px;
			}

			@media (max-width: 575.98px) {
				margin-right: 50px;
			}
		}
	}
}