<div class="comment" [ngClass]="{ 'rtl': rtl }">
	<div class="container">
		<div class="header">
			<div class="avatar-image">
				<img src="{{ comment.author.image }}" alt="">
			</div>
			<div class="info">
				<div class="author">{{ comment.author.name }}</div>
				<div class="tag" [ngClass]="{ 'admin': comment.author.role.toLowerCase() === 'admin' }">{{ comment.author.role }}</div>
				<button class="btn date" placement="top" ngbTooltip="{{ comment.date.toLocaleString(language, { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric', hour: 'numeric', minute: 'numeric', second: 'numeric' }) }}">{{ moment(comment.date).fromNow() }}</button>
			</div>
		</div>
		<div class="content">{{ comment.content }}</div>
	</div>
	<div class="container reply" *ngFor="let reply of comment.replies">
		<div class="header">
			<div class="avatar-image">
				<img src="{{ reply.author.image }}" alt="">
			</div>
			<div class="info">
				<div class="author">{{ reply.author.name }}</div>
				<div class="tag" [ngClass]="{ 'admin': reply.author.role.toLowerCase() === 'admin' }">{{ reply.author.role }}</div>
				<button class="btn date" placement="top" ngbTooltip="{{ reply.date.toLocaleString(language, { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric', hour: 'numeric', minute: 'numeric', second: 'numeric' }) }}">{{ moment(reply.date).fromNow() }}</button>
			</div>
		</div>
		<div class="content">{{ reply.content }}</div>
	</div>
</div>