.container {
	margin-bottom: 24px;
	padding: 16px;
	border-radius: 12px;
	border: 1px solid #D1D1D1;

	&:last-of-type {
		margin-bottom: 0px;
	}

	.header {
		margin-bottom: 24px;

		.info {
			.author {
				margin-right: 6px;
				display: inline-block;
				vertical-align: text-top;
				color: #151515;
				font-family: 'Poppins';
				font-weight: 600;
				font-size: 12px;
			}

			.stars {
				display: inline-block;

				.star {
					position: relative;
					display: inline-block;
					font-size: 24px;
					color: #D1D1D1;

					&.full {
						color: #FDBC15;
					}

					.half {
						position: absolute;
						display: inline-block;
						overflow: hidden;
						color: #FDBC15;
					}
				}
			}

			.date {
				padding: 0px;
				display: block;
				border: none;
				color: #D1D1D1;
				font-family: 'OpenSans';
				font-weight: 400;
				font-size: 12px;

				&:focus {
					box-shadow: none;
				}
			}
		}
	}

	.content {
		color: #151515;
		font-family: 'OpenSans';
		font-weight: 400;
		font-size: 14px;
	}

	&.rtl {
		.header {
			.info {
				.author {
					margin: 0px 0px 0px 6px;
					font-family: 'NotoSansArabic';
				}

				.date {
					font-family: 'Cairo';
				}
			}
		}

		.content {
			font-family: 'Cairo';
		}
	}
}