@import '../../../../variables';

.container {
	margin-bottom: 24px;
	padding: 16px;
	border-radius: $default-border-radius;
	border: 1px solid $secondary-border-color;

	&:last-of-type {
		margin-bottom: 0px;
	}

	.header {
		margin-bottom: 24px;

		.info {
			.author {
				margin-right: 6px;
				display: inline-block;
				vertical-align: text-top;
				color: $dark-color;
				font-family: $primary-english-font;
				font-weight: 600;
				font-size: 12px;
			}

			.stars {
				display: inline-block;

				.star {
					position: relative;
					display: inline-block;
					font-size: 24px;
					color: $secondary-border-color;

					&.full {
						color: $star-color;
					}

					.half {
						position: absolute;
						display: inline-block;
						overflow: hidden;
						color: $star-color;
					}
				}
			}

			.date {
				padding: 0px;
				display: block;
				border: none;
				color: $input-text-color;
				font-family: $secondary-english-font;
				font-weight: 400;
				font-size: 12px;

				&:focus {
					box-shadow: none;
				}
			}
		}
	}

	.content {
		color: $dark-color;
		font-family: $secondary-english-font;
		font-weight: 400;
		font-size: 14px;
	}

	&.rtl {
		.header {
			.info {
				.author {
					margin: 0px 0px 0px 6px;
					font-family: $primary-arabic-font;
				}

				.date {
					font-family: $secondary-arabic-font;
				}
			}
		}

		.content {
			font-family: $secondary-arabic-font;
		}
	}
}