.container {
	padding: 0px;

	.cover-image {
		position: relative;
		height: 180px;
		margin-bottom: 24px;
		border-radius: 12px;
		background-color: #F5F5F5;
		overflow: hidden;

		img {
			position: absolute;
			width: 100%;
			height: auto;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}

	.tag {
		margin-bottom: 8px;

		span {
			padding: 0px 8px;
			border-radius: 12px;
			background-color: #F4F8EC;
			color: #6A983C;
			font-family: 'Poppins';
			font-weight: 600;
			font-size: 12px;
		}
	}

	.heading {
		margin-bottom: 16px;

		a {
			text-decoration: none;
			color: #151515;
			font-family: 'Poppins';
			font-weight: 600;
			font-size: 18px;
		}
	}

	.info {
		display: flex;
		color: #151515;
		font-family: 'OpenSans';
		font-weight: 400;
		font-size: 12px;

		.author {
			margin-right: 16px;
		}
	}
}