@import '../../../../../variables';

.create {
	margin-bottom: 16px;
	text-align: right;

	.create-button {
		padding: 12px 16px;
		border-radius: $default-border-radius;
		border: 2px solid $primary-border-color;
		background-color: $primary-color;
		color: $light-color;
		font-family: 'Poppins';
		font-weight: 700;
		font-size: 15px;

		&:focus {
			box-shadow: 0 0 0 4px $primary-box-shadow-color;
		}
	}

	&.rtl {
		text-align: left;

		.create-button {
			font-family: 'NotoSansArabic';
		}
	}
}

.table-responsive {
	.table {
		margin: 0px;

		thead {
			tr {
				color: $dark-color;
				font-family: $primary-english-font;
				font-weight: 600;
				font-size: 12px;

				th {
					padding: 7px 0px;
					border-color: $table-border-color;
				}
			}
		}

		tbody {
			border-top: none;

			tr {
				color: $table-text-color;
				font-family: $secondary-english-font;
				font-weight: 400;
				font-size: 14px;

				&:nth-of-type(odd) {
					background-color: $input-background-color;
				}

				td {
					padding: 10px 0px;
					border: none;

					a {
						cursor: pointer;
					}

					.edit {
						margin-right: 4px;
					}

					.edit-icon,
					.delete-icon {
						width: 20px;
						height: 20px;
					}
				}
			}
		}
	}

	&.rtl {
		.table {
			thead {
				tr {
					font-family: $primary-arabic-font;
				}
			}

			tbody {
				tr {
					font-family: $secondary-arabic-font;

					td {
						.edit {
							margin: 0px 0px 0px 4px;
						}
					}
				}
			}
		}
	}
}

::ng-deep {
	.modal {
		.modal-dialog {
			.modal-content {
				border-radius: $default-border-radius;

				.modal-header {
					.modal-title {
						color: $dark-color;
						font-family: $primary-english-font;
						font-weight: 600;
						font-size: 26px;
					}

					.btn-close {
						&:focus {
							box-shadow: none;
						}
					}
				}

				.modal-body {
					.caution {
						color: $dark-color;
						font-family: $secondary-english-font;
						font-weight: 400;
						font-size: 15px;

						.danger {
							color: $danger-color;
							font-family: $secondary-english-font;
							font-weight: 500;
						}
					}
				}

				.modal-footer {
					.close-button {
						padding: 12px 16px;
						border-radius: $default-border-radius;
						background-color: $secondary-color;
						color: $dark-color;
						font-family: $primary-english-font;
						font-weight: 700;
						font-size: 15px;

						&:focus {
							box-shadow: 0 0 0 4px $secondary-box-shadow-color;
						}
					}

					.delete-button {
						padding: 12px 16px;
						border-radius: $default-border-radius;
						border: 2px solid $danger-background-color;
						background-color: $danger-color;
						color: $light-color;
						font-family: $primary-english-font;
						font-weight: 700;
						font-size: 15px;

						&:focus {
							box-shadow: 0 0 0 4px $danger-box-shadow-color;
						}
					}
				}
			}
		}

		&.rtl {
			direction: rtl;

			.modal-dialog {
				.modal-content {
					.modal-header {
						.modal-title {
							font-family: $primary-arabic-font;
						}

						.btn-close {
							margin: -8px auto -8px -8px;
						}
					}

					.modal-body {
						.caution {
							font-family: $secondary-arabic-font;

							.danger {
								font-family: $secondary-arabic-font;
							}
						}
					}

					.modal-footer {
						.close-button,
						.delete-button {
							font-family: $primary-arabic-font;
						}
					}
				}
			}
		}
	}
}