<div class="create" [ngClass]="{ 'rtl': rtl }">
	<a class="btn create-button" routerLink="/profile/addresses/create">{{ 'translate.pages.profile.addressesSection.list.create' | translate }}</a>
</div>

<div class="table-responsive" [ngClass]="{ 'rtl': rtl }">
	<table class="table">
		<thead>
			<tr>
				<th>#</th>
				<th>{{ 'translate.pages.profile.addressesSection.list.title' | translate }}</th>
				<th>{{ 'translate.pages.profile.addressesSection.list.address' | translate }}</th>
				<th>{{ 'translate.pages.profile.addressesSection.list.options' | translate }}</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let address of addresses; let index = index;">
				<td>{{ index + 1 }}</td>
				<td>{{ address.title }}</td>
				<td>{{ address.address + ', ' + address.city + ', ' + address.country + ', ' + address.postal }}</td>
				<td>
					<a class="edit" [routerLink]="['/profile/addresses', address.id, 'edit']"><img class="edit-icon" src="../../../../../assets/icons/edit.svg" alt=""></a>
					<a class="delete" (click)="openDeleteModal(deleteModalContent, address)"><img class="delete-icon" src="../../../../../assets/icons/delete.svg" alt=""></a>
				</td>
			</tr>
		</tbody>
	</table>
</div>

<ng-template #deleteModalContent let-deleteModal>
	<div class="modal-header">
		<h4 class="modal-title">{{ 'translate.pages.profile.addressesSection.list.deletion' | translate }}: {{ modalTitle }}</h4>
		<button class="btn-close" (click)="deleteModal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
		<div class="caution">{{ 'translate.pages.profile.addressesSection.list.areYouSureToDelete' | translate }} <span class="red">{{ modalTitle }}</span></div>
	</div>
	<div class="modal-footer">
		<button class="btn close-button" ngbAutofocus (click)="deleteModal.dismiss('cancel click')">{{ 'translate.pages.profile.addressesSection.list.cancel' | translate }}</button>
		<button class="btn delete-button" (click)="deleteModal.close('Ok click')">{{ 'translate.pages.profile.addressesSection.list.delete' | translate }}</button>
	</div>
</ng-template>