.container {
	padding: 0px;
	background-color: #FFF;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);

	.header {
		padding: 8px 45px;

		.heading {
			margin-bottom: 12px;
			color: #151515;
			font-family: 'Poppins';
			font-weight: 600;
			font-size: 32px;

			@media (max-width: 767.98px) {
				font-size: 24px;
			}

			@media (max-width: 575.98px) {
				font-size: 20px;
			}
		}

		.subheading {
			color: #151515;
			font-family: 'OpenSans';
			font-weight: 400;
			font-size: 17px;

			a {
				color: #151515;
			}
		}
	}

	.content {
		padding: 30px 45px;

		form {
			width: 50%;
			margin: auto;

			@media (max-width: 991.98px) {
				width: 75%;
			}

			@media (max-width: 575.98px) {
				width: 100%;
			}

			.form-group {
				margin-bottom: 32px;

				&:last-of-type {
					margin: 0px;
				}

				label {
					color: #151515;
					font-family: 'Poppins';
					font-weight: 600;
					font-size: 12px;
				}

				input {
					font-family: 'OpenSans';
					font-weight: 400;
					font-size: 14px;

					&[type=email],
					&[type=password] {
						padding: 11px 20px;
						border-radius: 12px;
						border: 1px solid #D1D1D1;
						background-color: #F9F9F9;
						color: #A9A9A9;
					}

					&[type=checkbox] {
						width: 22px;
						height: 22px;
						margin: 1px 8px 0px 0px;
						padding: 0px;
						border: 1.5px solid #D1D1D1;
						cursor: pointer;

						&[type=checkbox]:checked {
							background-color: #6A983C;
							border-color: #46760A;
						}
					}

					&::placeholder {
						color: #A9A9A9;
					}
				}

				.form-check {
					margin: 0px;
					padding: 8px 16px;
					display: inline-block;
					border-radius: 12px;
					border: 1px solid #D1D1D1;
					background-color: #F9F9F9;

					label {
						display: inline;
						font-family: 'OpenSans';
						font-weight: 400;
						font-size: 14px;
						cursor: pointer;
					}
				}

				.login-button {
					padding: 12px 16px;
					border-radius: 12px;
					border: 2px solid #46760A;
					background-color: #6A983C;
					color: #FFF;
					font-family: 'Poppins';
					font-weight: 700;
					font-size: 15px;
				}
			}
		}
	}
}