.container {
	padding: 16px;
	border-radius: 12px;
	border: 1px solid #D1D1D1;

	.cover-image {
		position: relative;
		padding: 12px;
		height: 180px;
		margin-bottom: 16px;
		border-radius: 12px;
		background-color: #F9F9F9;
		overflow: hidden;

		img {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}

		.discount {
			position: absolute;
			padding: 0px 8px;
			border-radius: 12px;
			background-color: #F4F8EC;
			color: #6A983C;
			font-family: 'Poppins';
			font-weight: 600;
			font-size: 12px;
		}
	}

	.content {
		.heading {
			margin-bottom: 4px;
			text-decoration: none;
			color: #151515;
			font-family: 'Poppins';
			font-weight: 500;
			font-size: 15px;
		}

		.description {
			margin: 0px;
			color: #575757;
			font-family: 'OpenSans';
			font-weight: 400;
			font-size: 12px;
		}

		.stars {
			margin-bottom: 16px;

			.star {
				position: relative;
				display: inline-block;
				font-size: 24px;
				color: #D1D1D1;

				&.full {
					color: #FDBC15;
				}

				.half {
					position: absolute;
					display: inline-block;
					overflow: hidden;
					color: #FDBC15;
				}
			}
		}

		.footer {
			margin: auto;
			display: flex;
			justify-content: space-between;

			.price {
				margin: auto 0px;

				.current-price {
					color: #151515;
					font-family: 'Poppins';
					font-weight: 600;
					font-size: 18px;
				}

				.old-price {
					text-decoration: line-through;
					color: #A9A9A9;
					font-family: 'Poppins';
					font-weight: 600;
					font-size: 12px;
				}
			}

			.buttons {
				.buy-button {
					margin: 0px auto 12px auto;
					display: block;
					border-radius: 12px;
					border: 2px solid #46760A;
					background-color: #6A983C;
					color: #FFF;
					font-family: 'Poppins';
					font-weight: 700;
					font-size: 15px;
				}

				.wishlist-button {
					margin-left: auto;
					display: block;
					border-radius: 12px;
					border: 2px solid transparent;
					background-color: #F5F5F5;
					color: #151515;
					font-family: 'Poppins';
					font-weight: 700;
					font-size: 15px;
				}
			}
		}
	}

	&.large {
		padding: 0px;

		.cover-image {
			position: relative;
			width: 100%;
			height: 100%;
			min-height: 270px;
			margin-bottom: 0px;

			img {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
		}

		.content {
			padding: 32px;

			.row {
				justify-content: space-between;

				.heading {
					font-weight: 600;
					font-size: 18px;
				}

				.stars {
					margin-bottom: 25px;
				}

				.details {
					@media (max-width: 575.98px) {
						margin-bottom: 16px;
					}

					.text {
						margin-bottom: 12px;
						color: #A9A9A9;
						font-family: 'OpenSans';
						font-weight: 400;
						font-size: 14px;
						overflow-wrap: break-word;

						&:last-of-type {
							margin-bottom: 0px;
						}

						&.green {
							color: #6A983C;
						}

						span {
							&.green {
								color: #6A983C;
							}
						}
					}
				}

				.footer {
					height: 100%;
					display: block;

					@media (min-width: 576px) {
						position: relative;
					}

					.price {
						margin-bottom: 16px;
					}

					.shipping {
						margin-bottom: 26px;

						.type {
							color: #A9A9A9;
							font-family: 'Poppins';
							font-weight: 600;
							font-size: 12px;
						}

						.days {
							color: #A9A9A9;
							font-family: 'OpenSans';
							font-weight: 400;
							font-size: 12px;
						}
					}

					.buttons {
						@media (min-width: 576px) {
							position: absolute;
							bottom: 0px;
						}

						.buy-button,
						.wishlist-button {
							width: 100%;
						}
					}
				}
			}
		}
	}
}