<div class="container" [ngClass]="{ 'large': size === 'large', 'rtl': rtl }">
	<div [ngClass]="{ 'row': size === 'large' }">
		<div [ngClass]="{ 'col-md-4': size === 'large' }">
			<div class="cover-image">
				<img src="{{ product.images[0] }}" alt="" *ngIf="product.images.length > 0">
				<span class="discount" *ngIf="discount != 0">&#65293;{{ discount }} &#65285;</span>
			</div>
		</div>
		<div [ngClass]="{ 'col-md-8': size === 'large' }">
			<div class="content">
				<div [ngClass]="{ 'row': size === 'large' }">
					<div [ngClass]="{ 'col-sm-8': size === 'large' }">
						<a class="heading" [routerLink]="['/products', product.slug]">{{ product.name }}</a>
						<p class="description">{{ product.description }}</p>
						<div class="stars">
							<ng-template #starTemplate let-fill="fill">
								<span class="star" [class.full]="fill === 100">
									<span class="half" [style.width.%]="fill">&starf;</span>&starf;
								</span>
							</ng-template>
							<ngb-rating [(rate)]="product.rating" [starTemplate]="starTemplate" [readonly]="true" [max]="5"></ngb-rating>
						</div>
						<div class="details" *ngIf="size === 'large'">
							<div class="row details-row">
								<div class="col-sm-5 col-4 text">{{ 'translate.components.product.freshness' | translate }}:</div>
								<div class="col-sm-7 col-8 value">
									<span class="freshness">{{ product.freshness }}</span><span *ngIf="product.freshnessDescription"> ({{ product.freshnessDescription }})</span>
								</div>
							</div>
							<div class="row details-row">
								<div class="col-sm-5 col-4 text">{{ 'translate.components.product.farm' | translate }}:</div>
								<div class="col-sm-7 col-8 value">{{ product.farm }}</div>
							</div>
							<div class="row details-row">
								<div class="col-sm-5 col-4 text">{{ 'translate.components.product.delivery' | translate }}:</div>
								<div class="col-sm-7 col-8 value">{{ product.delivery }}</div>
							</div>
							<div class="row details-row">
								<div class="col-sm-5 col-4 text">{{ 'translate.components.product.stock' | translate }}:</div>
								<div class="col-sm-7 col-8 value">
									<app-stock-input-group [availablePacks]="product.availablePacks" [readonly]="true"></app-stock-input-group>
								</div>
							</div>
						</div>
					</div>
					<div [ngClass]="{ 'col-sm-4': size === 'large' }">
						<div class="footer">
							<div class="price">
								<div class="current-price">{{ product.price }} {{ product.currency }}</div>
								<div class="old-price" *ngIf="product.oldPrice != 0">{{ product.oldPrice }} {{ product.currency }}</div>
							</div>
							<div class="shipping" *ngIf="size === 'large'">
								<div class="type">{{ product.shipping }}</div>
								<div class="days">{{ 'translate.components.product.deliveryIn' | translate }} {{ product.deliveryDays }} {{ 'translate.components.product.days' | translate }}</div>
							</div>
							<div class="buttons">
								<button class="btn buy-button">{{ 'translate.components.product.buy' | translate }}</button>
								<button class="btn wishlist-button" *ngIf="showWishlist">
									<svg width="17" height="14" class="heart-icon">
										<use xlink:href="assets/icons/heart.svg#heart"></use>
									</svg>
									{{ 'translate.components.product.wishlist' | translate }}
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>