@import '../../../variables';

.container {
	padding: 16px;
	border-radius: $default-border-radius;
	border: 1px solid $secondary-border-color;

	.cover-image {
		position: relative;
		padding: 12px;
		height: 180px;
		margin-bottom: 16px;
		border-radius: $default-border-radius;
		background-color: $image-background-color;
		overflow: hidden;

		img {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}

		.discount {
			position: absolute;
			padding: 0px 8px;
			border-radius: $default-border-radius;
			background-color: $tag-background-color;
			color: $primary-color;
			font-family: $primary-english-font;
			font-weight: 600;
			font-size: 12px;
		}
	}

	.content {
		.heading {
			margin-bottom: 4px;
			text-decoration: none;
			color: $dark-color;
			font-family: $primary-english-font;
			font-weight: 500;
			font-size: 15px;
		}

		.description {
			margin-bottom: 10px;
			color: $input-text-color;
			font-family: $secondary-english-font;
			font-weight: 400;
			font-size: 12px;
		}

		.stars {
			margin-bottom: 16px;

			::ng-deep {
				span {
					margin-right: 2px;

					.star-container {
						position: relative;

						.star-icon {
							vertical-align: unset;
							--border-color: #{$secondary-border-color};

							&.filled {
								--color: #{$star-color};
							}
						}

						.filled-container {
							position: absolute;
							top: 0px;
							left: 0px;
							overflow: hidden;
						}
					}
				}
			}
		}

		.footer {
			margin: auto;
			display: flex;
			justify-content: space-between;

			.price {
				margin: auto 0px;

				.current-price {
					color: $dark-color;
					font-family: $primary-english-font;
					font-weight: 600;
					font-size: 18px;
				}

				.old-price {
					text-decoration: line-through;
					color: $input-text-color;
					font-family: $primary-english-font;
					font-weight: 600;
					font-size: 12px;
				}
			}

			.buttons {
				.buy-button {
					width: 100%;
					margin: 0px auto 12px auto;
					display: block;
					border-radius: $default-border-radius;
					border: 2px solid $primary-border-color;
					background-color: $primary-color;
					color: $light-color;
					font-family: $primary-english-font;
					font-weight: 700;
					font-size: 15px;

					&:focus {
						box-shadow: 0 0 0 4px $primary-box-shadow-color;
					}
				}

				.wishlist-button {
					width: 100%;
					margin-left: auto;
					display: block;
					border-radius: $default-border-radius;
					border: 2px solid transparent;
					background-color: $secondary-color;
					color: $dark-color;
					font-family: $primary-english-font;
					font-weight: 700;
					font-size: 15px;

					&:focus {
						box-shadow: 0 0 0 4px $secondary-box-shadow-color;
					}

					.heart-icon {
						--color: #{$dark-color};
					}
				}
			}
		}
	}

	&.large {
		padding: 0px;

		.cover-image {
			position: relative;
			width: 100%;
			height: 100%;
			min-height: 270px;
			margin-bottom: 0px;

			img {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
		}

		.content {
			padding: 32px;

			.heading {
				font-weight: 600;
				font-size: 18px;
			}

			.stars {
				margin-bottom: 25px;
			}

			.details {
				@media (max-width: 575.98px) {
					margin-bottom: 16px;
				}

				.details-row {
					margin: 0px 0px 12px 0px;
					padding: 0px;

					&:last-of-type {
						margin-bottom: 0px;
					}

					.text,
					.value {
						margin: auto;
						color: $input-text-color;
						font-family: $secondary-english-font;
						font-weight: 400;
						font-size: 14px;
						overflow-wrap: break-word;

						span {
							&.freshness {
								color: $primary-color;
							}
						}
					}

					.text {
						padding: 0px 12px 0px 0px;

						@media (max-width: 575.98px) {
							padding-right: 4px;
						}
					}

					.value {
						padding: 0px 0px 0px 12px;

						@media (max-width: 575.98px) {
							padding-left: 4px;
						}
					}
				}
			}

			.footer {
				height: 100%;
				display: block;

				@media (min-width: 576px) {
					position: relative;
				}

				.price {
					margin-bottom: 16px;
				}

				.shipping {
					margin-bottom: 26px;

					.type {
						color: $input-text-color;
						font-family: $primary-english-font;
						font-weight: 600;
						font-size: 12px;
					}

					.days {
						color: $input-text-color;
						font-family: $secondary-english-font;
						font-weight: 400;
						font-size: 12px;
					}
				}

				.buttons {
					@media (min-width: 576px) {
						position: absolute;
						bottom: 0px;
					}
				}
			}
		}
	}

	&.rtl {
		.cover-image {
			.discount {
				font-family: $primary-arabic-font;
			}
		}

		.content {
			.heading {
				font-family: $primary-arabic-font;
			}

			.description {
				font-family: $secondary-arabic-font;
			}

			.stars {
				::ng-deep {
					span {
						margin: 0px 0px 0px 2px;

						.star-container {
							.filled-container {
								right: 0px;
								left: unset;
							}
						}
					}
				}
			}

			.footer {
				.price {
					.current-price,
					.old-price {
						font-family: $primary-arabic-font;
					}
				}

				.buttons {
					.buy-button,
					.wishlist-button {
						font-family: $primary-arabic-font;
					}

					.wishlist-button {
						margin: 0px auto 0px 0px;
					}
				}
			}
		}

		&.large {
			.content {
				.details {
					.details-row {
						.text,
						.value {
							font-family: $secondary-arabic-font;
						}

						.text {
							padding: 0px 0px 0px 12px;

							@media (max-width: 575.98px) {
								padding-left: 4px;
							}
						}

						.value {
							padding: 0px 12px 0px 0px;

							@media (max-width: 575.98px) {
								padding-right: 4px;
							}
						}
					}
				}

				.footer {
					.shipping {
						.type {
							font-family: $primary-arabic-font;
						}

						.days {
							font-family: $secondary-arabic-font;
						}
					}
				}
			}
		}
	}
}