<div [class]="{ 'container': true, 'large': size === 'large' }">
	<div [class]="{ 'row': size === 'large' }">
		<div [class]="{ 'col-md-4': size === 'large' }">
			<div class="cover-image">
				<img src="{{ product.images[0] }}" alt="" *ngIf="product.images.length > 0">
				<span class="discount" *ngIf="discount != 0">-{{ discount }} %</span>
			</div>
		</div>
		<div [class]="{ 'col-md-8': size === 'large' }">
			<div class="content">
				<div [class]="{ 'row': size === 'large' }">
					<div [class]="{ 'col-sm-8': size === 'large' }">
						<a class="heading" [routerLink]="['/products', product.slug]">{{ product.name }}</a>
						<p class="description">{{ product.description }}</p>
						<div class="stars">
							<ng-template #starTemplate let-fill="fill">
								<span class="star" [class.full]="fill === 100">
									<span class="half" [style.width.%]="fill">&starf;</span>&starf;
								</span>
							</ng-template>
							<ngb-rating [(rate)]="product.rating" [starTemplate]="starTemplate" [readonly]="true" [max]="5"></ngb-rating>
						</div>
						<div class="details" *ngIf="size === 'large'">
							<div class="row details-row">
								<div class="col-sm-5 col-4 text">Freshness</div>
								<div class="col-sm-7 col-8 value">
									<span class="green">{{ product.freshness }}</span><span *ngIf="product.freshnessDescription"> ({{ product.freshnessDescription }})</span>
								</div>
							</div>
							<div class="row details-row">
								<div class="col-sm-5 col-4 text">Farm</div>
								<div class="col-sm-7 col-8 value">{{ product.farm }}</div>
							</div>
							<div class="row details-row">
								<div class="col-sm-5 col-4 text">Delivery</div>
								<div class="col-sm-7 col-8 value">{{ product.delivery }}</div>
							</div>
							<div class="row details-row">
								<div class="col-sm-5 col-4 text">Stock</div>
								<div class="col-sm-7 col-8 value">
									<div class="input-group">
										<div class="input-group-prepend">
											<input class="form-control" type="text" [value]="selectedPack.stock" disabled>
										</div>
										<div class="vertical-splitter"></div>
										<div ngbDropdown class="d-inline-block">
											<button ngbDropdownToggle class="btn dropdown-button">{{ selectedPack.pack }} <img class="down-arrow-icon" src="../../../assets/icons/down-arrow-black.svg" alt=""></button>
											<div ngbDropdownMenu class="dropdown-menu">
												<button ngbDropdownItem class="dropdown-item" (click)="onPackSelected(pack)" *ngFor="let pack of product.availablePacks">{{ pack.pack }}</button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div [class]="{ 'col-sm-4': size === 'large' }">
						<div class="footer">
							<div class="price">
								<div class="current-price">{{ product.price }} {{ product.currency }}</div>
								<div class="old-price" *ngIf="product.oldPrice != 0">{{ product.oldPrice }} {{ product.currency }}</div>
							</div>
							<div class="shipping" *ngIf="size === 'large'">
								<div class="type">{{ product.shipping }}</div>
								<div class="days">Delivery in {{ product.deliveryDays }} day(s)</div>
							</div>
							<div class="buttons">
								<button class="btn buy-button">Buy now</button>
								<button class="btn wishlist-button"><img class="heart-icon" src="../../../assets/icons/heart-black.svg" alt=""> Wishlist</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>