<div class="container">
	<app-header></app-header>
	<app-menu></app-menu>

	<app-breadcrumb [breadcrumb]="breadcrumb"></app-breadcrumb>

	<div class="header">
		<h2 class="heading">Register</h2>
		<div class="subheading">Already have an account? <a routerLink="/login">Login</a>.</div>
	</div>

	<div class="content">
		<form>
			<div class="row">
				<div class="col-12 form-group">
					<label for="first-name">First name</label>
					<input class="form-control" id="first-name" type="text" placeholder="First name">
				</div>
				<div class="col-12 form-group">
					<label for="last-name">Last name</label>
					<input class="form-control" id="last-name" type="text" placeholder="Last name">
				</div>
				<div class="col-12 form-group">
					<label for="email">Email address</label>
					<input class="form-control" id="email" type="email" placeholder="Email address">
				</div>
				<div class="col-12 form-group">
					<label for="password">Password</label>
					<input class="form-control" id="password" type="password" placeholder="Password">
				</div>
				<div class="col-12 form-group">
					<label for="phone">Phone number</label>
					<input class="form-control" id="phone" type="text" placeholder="Phone number">
				</div>
				<div class="col-12 form-group">
					<button class="btn register-button">Register</button>
				</div>
			</div>
		</form>
	</div>

	<app-footer></app-footer>
</div>