@import '../../../variables';

.container {
	padding: 0px;
	background-color: $page-background-color;
	box-shadow: $page-box-shadow;

	.header {
		padding: 8px 45px;

		.heading {
			margin-bottom: 12px;
			color: $dark-color;
			font-family: $primary-english-font;
			font-weight: 600;
			font-size: 32px;

			@media (max-width: 767.98px) {
				font-size: 24px;
			}

			@media (max-width: 575.98px) {
				font-size: 20px;
			}
		}

		.subheading {
			color: $dark-color;
			font-family: $secondary-english-font;
			font-weight: 400;
			font-size: 17px;

			a {
				color: $dark-color;
			}
		}
	}

	.content {
		padding: 30px 45px;

		form {
			width: 50%;
			margin: auto;

			@media (max-width: 991.98px) {
				width: 75%;
			}

			@media (max-width: 575.98px) {
				width: 100%;
			}

			.form-group {
				margin-bottom: 32px;

				&:last-of-type {
					margin: 0px;
				}

				label {
					color: $dark-color;
					font-family: $primary-english-font;
					font-weight: 600;
					font-size: 12px;
				}

				input {
					font-family: $secondary-english-font;
					font-weight: 400;
					font-size: 14px;

					&[type=text],
					&[type=email],
					&[type=password] {
						padding: 11px 20px;
					}

					&[type=text],
					&[type=email],
					&[type=password],
					&[type=file] {
						border-radius: $default-border-radius;
						border: 1px solid $secondary-border-color;
						background-color: $input-background-color;
						color: $input-text-color;
					}

					&::placeholder {
						color: $input-placeholder-color;
					}
					&:focus {
						box-shadow: 0 0 0 4px $secondary-box-shadow-color;
					}
				}

				.form-check {
					margin: 0px;
					padding: 8px 16px;
					display: inline-block;
					border-radius: $default-border-radius;
					border: 1px solid $secondary-border-color;
					background-color: $input-background-color;

					label {
						display: inline;
						font-family: $secondary-english-font;
						font-weight: 400;
						font-size: 14px;
						cursor: pointer;
					}
				}

				.register-button {
					padding: 12px 16px;
					border-radius: $default-border-radius;
					border: 2px solid $primary-border-color;
					background-color: $primary-color;
					color: $light-color;
					font-family: $primary-english-font;
					font-weight: 700;
					font-size: 15px;

					&:focus {
						box-shadow: 0 0 0 4px $primary-box-shadow-color;
					}
				}
			}
		}
	}

	&.rtl {
		direction: rtl;

		.header {
			.heading {
				font-family: $primary-arabic-font;
			}

			.subheading {
				font-family: $secondary-arabic-font;
			}
		}

		.content {
			form {
				.form-group {
					label,
					.register-button {
						font-family: $primary-arabic-font;
					}

					input {
						font-family: $secondary-arabic-font;
					}

					.form-check {
						label {
							font-family: $secondary-arabic-font;
						}
					}
				}
			}
		}
	}
}