@import '../../../../../variables';

.header {
	margin-bottom: 16px;
	display: flex;
	justify-content: space-between;

	.heading {
		margin: auto 0px;
		color: $dark-color;
		font-family: $primary-english-font;
		font-weight: 600;
		font-size: 24px;
	}

	.back-button {
		padding: 6px 0px;
		border-radius: $default-border-radius;
		background-color: $light-color;
		color: $dark-color;
		font-family: $primary-english-font;
		font-weight: 700;
		font-size: 15px;

		&:focus {
			box-shadow: 0 0 0 4px $secondary-box-shadow-color;
		}
	}

	&.rtl {
		.heading,
		.back-button {
			font-family: $primary-arabic-font;
		}

		.back-button {
			.back-icon {
				transform: scaleX(-1);
			}
		}
	}
}

.details {
	margin-bottom: 12px;

	.details-row {
		margin-bottom: 12px;

		.text,
		.value {
			margin: auto;
			font-family: $secondary-english-font;
			font-weight: 400;
			font-size: 14px;
			overflow-wrap: break-word;
		}

		.text {
			color: $input-text-color;
		}

		.value {
			color: $dark-color;

			.address {
				padding: 0px;
				border: none;
				color: $dark-color;
				font-family: $secondary-english-font;
				font-weight: 400;
				font-size: 14px;

				&:focus {
					box-shadow: none;
				}
			}
		}
	}

	&.rtl {
		.details-row {
			.text,
			.value {
				font-family: $secondary-arabic-font;
			}

			.value {
				.address {
					font-family: $secondary-arabic-font;
				}
			}
		}
	}
}

.table-responsive {
	.table {
		thead {
			tr {
				color: $dark-color;
				font-family: $primary-english-font;
				font-weight: 600;
				font-size: 12px;

				th {
					padding: 7px 0px;
					border-color: $table-border-color;
				}
			}
		}

		tbody {
			border-top: none;

			tr {
				color: $table-text-color;
				font-family: $secondary-english-font;
				font-weight: 400;
				font-size: 14px;

				&:nth-of-type(odd) {
					background-color: $input-background-color;
				}

				td {
					padding: 10px 0px;
					border: none;

					a {
						text-decoration: none;
						color: $table-text-color;
						cursor: pointer;
					}
				}
			}
		}
	}

	&.rtl {
		.table {
			thead {
				tr {
					font-family: $primary-arabic-font;
				}
			}

			tbody {
				tr {
					font-family: $secondary-arabic-font;
				}
			}
		}
	}
}