<div class="container">
	<app-header></app-header>
	<app-menu></app-menu>

	<app-breadcrumb [breadcrumb]="breadcrumb"></app-breadcrumb>

	<div class="header">
		<h2 class="heading">{{ recipe.title }}</h2>
		<div class="date">Created {{ recipe.date.toLocaleDateString('en-UK', { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' }) }}</div>
	</div>

	<div class="content">
		<div class="video">
			<iframe [src]="recipe.video | safe"></iframe>
		</div>
		<div class="row recipe">
			<div class="col-md-4 ingredients">
				<h3 class="heading">Ingredients</h3>
				<div class="groups">
					<ngb-accordion #ingredientsAccordion="ngbAccordion">
						<ngb-panel [title]="group.title" *ngFor="let group of recipe.ingredientGroups">
							<ng-template ngbPanelContent>
								<div class="form-check" *ngFor="let ingredient of group.ingredients">
									<input class="form-check-input" type="checkbox" id="ingredient-{{ ingredient.id }}">
									<label class="form-check-label" for="ingredient-{{ ingredient.id }}"><span><span class="bold">{{ ingredient.quantity }}</span> {{ ingredient.ingredient }}</span></label>
								</div>
							</ng-template>
						</ngb-panel>
					</ngb-accordion>
				</div>
			</div>
			<div class="col-md-8 execution">
				<h3 class="heading">Execution Method</h3>
				<div class="groups">
					<ngb-accordion #executionAccordion="ngbAccordion">
						<ngb-panel [title]="group.title" *ngFor="let group of recipe.executionGroups">
							<ng-template ngbPanelContent>
								<div class="form-check" *ngFor="let execution of group.executions">
									<input class="form-check-input" type="radio" name="execution-{{ execution.id }}" id="execution-{{ execution.id }}" (click)="onExecutionClicked($event)">
									<label class="form-check-label" for="execution-{{ execution.id }}">{{ execution.execution }}</label>
								</div>
							</ng-template>
						</ngb-panel>
					</ngb-accordion>
				</div>
			</div>
		</div>
		<div class="reply">
			<h3 class="heading">Leave a reply</h3>
			<div class="subheading">Already have an account? <a routerLink="/login">Login</a> to leave a reply.</div>
			<form>
				<div class="row">
					<div class="form-group col-md-6 col-sm-6">
						<label for="name">Name</label>
						<input class="form-control" id="name" type="text" placeholder="Name">
					</div>
					<div class="form-group col-md-6 col-sm-6">
						<label for="email">Email address</label>
						<input class="form-control" id="email" type="email" placeholder="Email address">
					</div>
					<div class="form-group col-md-12">
						<div class="form-check">
							<input class="form-check-input" type="checkbox" id="save">
							<label class="form-check-label" for="save">Save my name and email in this browser for a next time comment.</label>
						</div>
					</div>
					<div class="form-group col-md-12">
						<label for="comment">Comment</label>
						<textarea class="form-control" id="comment" rows="4" placeholder="Space for your comments"></textarea>
					</div>
					<div class="form-group col-md-12 buttons">
						<button class="btn send-button">Send a comment</button>
					</div>
				</div>
			</form>
		</div>
		<div class="comments">
			<h3 class="heading">Comments</h3>
			<div class="comment" *ngFor="let comment of recipe.comments">
				<app-comment [comment]="comment"></app-comment>
			</div>
		</div>
	</div>

	<app-footer></app-footer>
</div>