@import '../../../variables';

.container {
	padding: 0px;
	background-color: $page-background-color;
	box-shadow: $page-box-shadow;

	.header {
		padding: 8px 45px;

		.heading {
			margin-bottom: 12px;
			color: $dark-color;
			font-family: $primary-english-font;
			font-weight: 600;
			font-size: 32px;

			@media (max-width: 767.98px) {
				font-size: 24px;
			}

			@media (max-width: 575.98px) {
				font-size: 20px;
			}
		}

		.date {
			color: $input-text-color;
			font-family: $primary-english-font;
			font-weight: 500;
			font-size: 14px;
		}
	}

	.content {
		padding: 30px 45px;

		.video {
			width: 75%;
			height: 500px;
			margin: 0px auto 32px auto;

			@media (max-width: 991.98px) {
				width: 100%;
			}

			@media (max-width: 575.98px) {
				height: 400px;
			}

			iframe {
				width: 100%;
				height: 100%;
			}
		}

		.recipe {
			margin-bottom: 32px;

			.ingredients,
			.execution {
				.heading {
					margin-bottom: 16px;
					color: $dark-color;
					font-family: $primary-english-font;
					font-weight: 500;
					font-size: 24px;
				}

				.groups {
					::ng-deep {
						.accordion {
							.accordion-item {
								margin-bottom: 16px;
								border-radius: $default-border-radius;
								overflow: hidden;

								&:last-of-type {
									margin: 0px;
								}

								.accordion-header {
									.accordion-button {
										padding: 14px;
										background-color: $light-color;
										color: $dark-color;
										font-family: $primary-english-font;
										font-weight: 400;
										font-size: 16px;
										box-shadow: none;
									}
								}

								.accordion-body {
									padding: 8px 14px;
									font-family: $secondary-english-font;
									font-weight: 400;
									font-size: 14px;

									.form-check {
										margin-bottom: 6px;
										padding: 0px;

										&:last-of-type {
											margin: 0px;
										}

										input {
											width: 22px;
											height: 22px;
											margin: 1px 8px 0px 0px;
											border: 1.5px solid $secondary-border-color;
											cursor: pointer;

											&[type=radio]:checked,
											&[type=checkbox]:checked {
												background-color: $primary-color;
												border-color: $primary-border-color;
											}
											&:focus {
												box-shadow: 0 0 0 4px $primary-box-shadow-color;
											}
										}

										label {
											display: flex;
											color: $dark-color;
											font-family: $secondary-english-font;
											font-weight: 400;
											font-size: 14px;
											cursor: pointer;

											.bold {
												font-weight: 700;
											}
										}
									}
								}
							}
						}
					}
				}
			}

			.ingredients {
				@media (max-width: 767.98px) {
					margin-bottom: 32px;
				}

				.groups {
					::ng-deep {
						.accordion {
							.accordion-item {
								border: 1px solid $secondary-border-color;

								.accordion-header {
									.accordion-button {
										&:not(.collapsed) {
											&::after {
												background-image: url('data:image/svg+xml,%3csvg xmlns=\'http://www.w3.org/2000/svg\' viewBox=\'0 0 16 16\' fill=\'%23212529\'%3e%3cpath fill-rule=\'evenodd\' d=\'M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z\'/%3e%3c/svg%3e');
											}
										}
									}
								}
							}
						}
					}
				}
			}

			.execution {
				.groups {
					::ng-deep {
						.accordion {
							.accordion-item {
								border: none;

								.accordion-header {
									.accordion-button {
										background-color: $primary-color;
										color: $light-color;

										&::after {
											background-image: url('data:image/svg+xml,%3csvg xmlns=\'http://www.w3.org/2000/svg\' viewBox=\'0 0 16 16\' fill=\'%23FFFFFF\'%3e%3cpath fill-rule=\'evenodd\' d=\'M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z\'/%3e%3c/svg%3e');
										}
									}
								}
							}
						}
					}
				}
			}
		}

		.reply {
			margin-bottom: 48px;

			.heading {
				margin-bottom: 12px;
				color: $dark-color;
				font-family: $primary-english-font;
				font-weight: 600;
				font-size: 22px;
			}

			.subheading {
				margin-bottom: 16px;
				color: $dark-color;
				font-family: $secondary-english-font;
				font-weight: 400;
				font-size: 17px;

				a {
					color: $dark-color;
				}
			}

			form {
				.form-group {
					margin-bottom: 32px;

					&:last-of-type {
						margin: 0px;
					}

					label {
						color: $dark-color;
						font-family: $primary-english-font;
						font-weight: 600;
						font-size: 12px;
					}

					input {
						font-family: $secondary-english-font;
						font-weight: 400;
						font-size: 14px;

						&[type=text],
						&[type=email] {
							padding: 11px 20px;
							border-radius: $default-border-radius;
							border: 1px solid $secondary-border-color;
							background-color: $input-background-color;
							color: $input-text-color;
						}

						&[type=checkbox] {
							width: 22px;
							height: 22px;
							margin: 1px 8px 0px 0px;
							padding: 0px;
							border: 1.5px solid $secondary-border-color;
							cursor: pointer;

							&:checked {
								background-color: $primary-color;
								border-color: $primary-border-color;
							}
							&:focus {
								box-shadow: 0 0 0 4px $primary-box-shadow-color;
							}
						}

						&::placeholder {
							color: $input-placeholder-color;
						}
						&:focus {
							box-shadow: 0 0 0 4px $secondary-box-shadow-color;
						}
					}

					textarea {
						padding: 11px 20px;
						border-radius: $default-border-radius;
						border: 1px solid $secondary-border-color;
						resize: none;
						background-color: $input-background-color;
						color: $input-text-color;
						font-family: $secondary-english-font;
						font-weight: 400;
						font-size: 14px;

						&::placeholder {
							color: $input-placeholder-color;
						}
						&:focus {
							box-shadow: 0 0 0 4px $secondary-box-shadow-color;
						}
					}

					.form-check {
						margin: 0px;
						padding: 8px 16px;
						display: inline-block;
						border-radius: $default-border-radius;
						border: 1px solid $secondary-border-color;
						background-color: $input-background-color;

						label {
							display: inline;
							font-family: $secondary-english-font;
							font-weight: 400;
							font-size: 14px;
							cursor: pointer;
						}
					}
				}

				.buttons {
					@media (max-width: 575.98px) {
						text-align: center;
					}

					.send-button {
						padding: 12px 48px;
						display: inline-block;
						border-radius: $default-border-radius;
						border: 2px solid $primary-border-color;
						background-color: $primary-color;
						color: $light-color;
						font-family: $primary-english-font;
						font-weight: 700;
						font-size: 15px;

						&:focus {
							box-shadow: 0 0 0 4px $primary-box-shadow-color;
						}
					}
				}
			}
		}

		.comments {
			.heading {
				margin-bottom: 16px;
				color: $dark-color;
				font-family: $primary-english-font;
				font-weight: 600;
				font-size: 22px;
			}

			.comment {
				margin-bottom: 24px;

				&:last-of-type {
					margin: 0px;
				}
			}
		}
	}

	&.rtl {
		direction: rtl;

		.header {
			.heading,
			.date {
				font-family: $primary-arabic-font;
			}
		}

		.content {
			.recipe {
				.ingredients,
				.execution {
					.heading {
						font-family: $primary-arabic-font;
					}

					.groups {
						::ng-deep {
							.accordion {
								.accordion-item {
									.accordion-header {
										.accordion-button {
											font-family: $primary-arabic-font;
										}
									}

									.accordion-body {
										font-family: $secondary-arabic-font;

										.form-check {
											input {
												margin: 1px 0px 0px 8px;
												float: right;
											}

											label {
												font-family: $secondary-arabic-font;
											}
										}
									}
								}
							}
						}
					}
				}

				.ingredients,
				.execution {
					.groups {
						::ng-deep {
							.accordion {
								.accordion-item {
									.accordion-header {
										.accordion-button {
											&::after {
												margin: 0px auto 0px 0px;
											}
										}
									}
								}
							}
						}
					}
				}
			}

			.reply {
				.heading {
					font-family: $primary-arabic-font;
				}

				.subheading {
					font-family: $secondary-arabic-font;
				}

				form {
					.form-group {
						label {
							font-family: $primary-arabic-font;
						}

						input {
							font-family: $secondary-arabic-font;

							&[type=checkbox] {
								margin: 1px 0px 0px 8px;
								float: right;
							}
						}

						textarea {
							font-family: $secondary-arabic-font;
						}

						.form-check {
							label {
								font-family: $secondary-arabic-font;
							}
						}
					}

					.buttons {
						.send-button {
							font-family: $primary-arabic-font;
						}
					}
				}
			}

			.comments {
				.heading {
					font-family: $primary-arabic-font;
				}
			}
		}
	}
}