<div class="container" [ngClass]="{ 'rtl': rtl }">
	<app-header></app-header>
	<app-menu></app-menu>

	<app-breadcrumb [breadcrumb]="breadcrumb"></app-breadcrumb>

	<div class="header">
		<h2 class="heading">{{ recipe.title }}</h2>
		<div class="date">{{ 'translate.pages.recipeDetails.created' | translate }} {{ recipe.date.toLocaleDateString(language, { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' }) }}</div>
	</div>

	<div class="content">
		<div class="video">
			<iframe [src]="recipe.video | safe"></iframe>
		</div>
		<div class="row recipe">
			<div class="col-md-4 ingredients">
				<h3 class="heading">{{ 'translate.pages.recipeDetails.ingredients' | translate }}</h3>
				<div class="groups">
					<ngb-accordion #ingredientsAccordion="ngbAccordion">
						<ngb-panel [title]="group.title" [id]="'ingredient-group-' + group.id" *ngFor="let group of recipe.ingredientGroups">
							<ng-template ngbPanelContent>
								<div class="form-check" *ngFor="let ingredient of group.ingredients">
									<input class="form-check-input" type="checkbox" id="ingredient-{{ ingredient.id }}">
									<label class="form-check-label" for="ingredient-{{ ingredient.id }}"><span><span class="bold">{{ ingredient.quantity }}</span> {{ ingredient.ingredient }}</span></label>
								</div>
							</ng-template>
						</ngb-panel>
					</ngb-accordion>
				</div>
			</div>
			<div class="col-md-8 execution">
				<h3 class="heading">{{ 'translate.pages.recipeDetails.executionMethod' | translate }}</h3>
				<div class="groups">
					<ngb-accordion #executionAccordion="ngbAccordion">
						<ngb-panel [title]="group.title" [id]="'execution-group-' + group.id" *ngFor="let group of recipe.executionGroups">
							<ng-template ngbPanelContent>
								<div class="form-check" *ngFor="let execution of group.executions">
									<input class="form-check-input" type="radio" name="execution-{{ execution.id }}" id="execution-{{ execution.id }}" (click)="onExecutionClicked($event)">
									<label class="form-check-label" for="execution-{{ execution.id }}">{{ execution.execution }}</label>
								</div>
							</ng-template>
						</ngb-panel>
					</ngb-accordion>
				</div>
			</div>
		</div>
		<div class="reply">
			<h3 class="heading">{{ 'translate.pages.recipeDetails.leaveReply' | translate }}</h3>
			<div class="subheading">{{ 'translate.pages.recipeDetails.haveAccount' | translate }} <a routerLink="/login">{{ 'translate.pages.recipeDetails.login' | translate }}</a> {{ 'translate.pages.recipeDetails.toLeaveReply' | translate }}</div>
			<form>
				<div class="row">
					<div class="form-group col-md-6 col-sm-6">
						<label for="name">{{ 'translate.pages.recipeDetails.name' | translate }}</label>
						<input class="form-control" id="name" type="text" placeholder="{{ 'translate.pages.recipeDetails.name' | translate }}">
					</div>
					<div class="form-group col-md-6 col-sm-6">
						<label for="email">{{ 'translate.pages.recipeDetails.email' | translate }}</label>
						<input class="form-control" id="email" type="email" placeholder="{{ 'translate.pages.recipeDetails.email' | translate }}">
					</div>
					<div class="form-group col-md-12">
						<div class="form-check">
							<input class="form-check-input" type="checkbox" id="save">
							<label class="form-check-label" for="save">{{ 'translate.pages.recipeDetails.saveMyNameAndEmail' | translate }}</label>
						</div>
					</div>
					<div class="form-group col-md-12">
						<label for="comment">{{ 'translate.pages.recipeDetails.comment' | translate }}</label>
						<textarea class="form-control" id="comment" rows="4" placeholder="{{ 'translate.pages.recipeDetails.spaceForComments' | translate }}"></textarea>
					</div>
					<div class="form-group col-md-12 buttons">
						<button class="btn send-button">{{ 'translate.pages.recipeDetails.sendComment' | translate }}</button>
					</div>
				</div>
			</form>
		</div>
		<div class="comments">
			<h3 class="heading">{{ 'translate.pages.recipeDetails.comments' | translate }}</h3>
			<div class="comment" *ngFor="let comment of recipe.comments">
				<app-comment [comment]="comment"></app-comment>
			</div>
		</div>
	</div>

	<app-footer></app-footer>
</div>