.container {
	padding: 0px;
	display: flex;
	justify-content: space-between;

	.heading {
		color: #151515;
		font-family: 'Poppins';
		font-weight: 500;
		font-size: 15px;
		cursor: pointer;
	}

	.info {
		display: flex;
		color: #151515;
		font-family: 'OpenSans';
		font-weight: 400;
		font-size: 12px;

		.author {
			margin-right: 16px;
		}
	}

	.image {
		width: 96px;
		height: 96px;
		border-radius: 12px;
		background-color: #F5F5F5;
	}
}