@import '../../../../variables';

.container {
	padding: 0px;
	display: flex;
	justify-content: space-between;

	.heading {
		margin-bottom: 16px;

		a {
			text-decoration: none;
			color: $dark-color;
			font-family: $primary-english-font;
			font-weight: 500;
			font-size: 15px;
		}
	}

	.info {
		display: flex;
		color: $dark-color;
		font-family: $secondary-english-font;
		font-weight: 400;
		font-size: 12px;

		.author {
			margin-right: 16px;
		}
	}

	.cover-image {
		position: relative;
		width: 96px;
		height: 96px;
		border-radius: $default-border-radius;
		background-color: $image-background-color;
		overflow: hidden;

		img {
			position: absolute;
			width: 100%;
			height: auto;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}

	&.rtl {
		.heading {
			a {
				font-family: $primary-arabic-font;
			}
		}

		.info {
			font-family: $secondary-arabic-font;

			.author {
				margin: 0px 0px 0px 16px;
			}
		}
	}
}