<div class="input-group" [ngClass]="{ 'rtl': rtl }">
	<div class="input-group-prepend">
		<div class="form-check">
			<input class="form-check-input" type="checkbox" id="filter-text" checked>
			<label class="form-check-label" for="filter-text">{{ 'translate.components.filterInputGroup.filter' | translate }}</label>
		</div>
		<span class="tag">12</span>
	</div>
	<div class="vertical-splitter"></div>
	<div ngbDropdown class="d-inline-block">
		<button ngbDropdownToggle class="btn dropdown-button">
			{{ 'translate.components.filterInputGroup.select' | translate }}
			<svg width="8" height="4" class="arrow-icon">
				<use xlink:href="assets/icons/arrow.svg#arrow"></use>
			</svg>
		</button>
		<div ngbDropdownMenu class="dropdown-menu">
			<button ngbDropdownItem class="dropdown-item">{{ 'translate.components.filterInputGroup.select' | translate }}</button>
			<button ngbDropdownItem class="dropdown-item">{{ 'translate.components.filterInputGroup.select' | translate }}</button>
		</div>
	</div>
</div>