<div class="input-group">
	<div class="input-group-prepend">
		<div class="form-check">
			<input class="form-check-input" type="checkbox" id="filter-text" checked>
			<label class="form-check-label" for="filter-text">Filter</label>
		</div>
		<span class="tag">12</span>
	</div>
	<div class="vertical-splitter"></div>
	<div ngbDropdown class="d-inline-block">
		<button ngbDropdownToggle class="btn dropdown-button">Select <img class="down-arrow-icon" src="../../../assets/icons/down-arrow-black.svg" alt=""></button>
		<div ngbDropdownMenu class="dropdown-menu">
			<button ngbDropdownItem class="dropdown-item">Select</button>
			<button ngbDropdownItem class="dropdown-item">Select</button>
		</div>
	</div>
</div>