<div class="container">
	<app-header></app-header>
	<app-menu></app-menu>

	<div class="row section">
		<div class="col-lg-3 links">
			<h2 class="heading">Category menu</h2>
			<div class="link"><a routerLink="/products">Bakery</a></div>
			<div class="link"><a routerLink="/products">Fruit and vegetables</a></div>
			<div class="link"><a routerLink="/products">Meat and fish</a></div>
			<div class="link"><a routerLink="/products">Drinks</a></div>
			<div class="link"><a routerLink="/products">Kitchen</a></div>
			<a class="btn more-button" routerLink="/products">More categories <img class="right-arrow-icon" src="../../../assets/icons/right-arrow-black.svg" alt=""></a>
		</div>
		<div class="col-lg-9 items">
			<div class="row">
				<div class="col-md-6 item" *ngFor="let banner of banners">
					<app-banner [banner]="banner"></app-banner>
				</div>
			</div>
		</div>
	</div>

	<div class="row section">
		<div class="col-lg-3 links">
			<h2 class="heading">Best selling products</h2>
			<div class="link"><a routerLink="/products">Kitchen</a></div>
			<div class="link"><a routerLink="/products">Meat and fish</a></div>
			<div class="link"><a routerLink="/products">Special nutrition</a></div>
			<div class="link"><a routerLink="/products">Pharmacy</a></div>
			<div class="link"><a routerLink="/products">Bakery</a></div>
			<a class="btn more-button" routerLink="/products">More products <img class="right-arrow-icon" src="../../../assets/icons/right-arrow-black.svg" alt=""></a>
		</div>
		<div class="col-lg-9 items">
			<div class="row">
				<div class="col-xl-4 col-lg-6 col-md-6 item">
					<app-product></app-product>
				</div>
				<div class="col-xl-4 col-lg-6 col-md-6 item">
					<app-product></app-product>
				</div>
				<div class="col-xl-4 col-lg-6 col-md-6 item">
					<app-product></app-product>
				</div>
			</div>
		</div>
	</div>

	<div class="row section">
		<div class="col-lg-3 links">
			<h2 class="heading">Best from Farmers</h2>
			<div class="link"><a routerLink="/products">Carrots</a></div>
			<div class="link"><a routerLink="/products">Tomatoes</a></div>
			<div class="link"><a routerLink="/products">Potatoes</a></div>
			<div class="link"><a routerLink="/products">Chicken</a></div>
			<div class="link"><a routerLink="/products">Pork</a></div>
			<a class="btn more-button" routerLink="/products">More products <img class="right-arrow-icon" src="../../../assets/icons/right-arrow-black.svg" alt=""></a>
		</div>
		<div class="col-lg-9 items">
			<div class="row">
				<div class="col-xl-4 col-lg-6 col-md-6 item">
					<app-product></app-product>
				</div>
				<div class="col-xl-4 col-lg-6 col-md-6 item">
					<app-product></app-product>
				</div>
				<div class="col-xl-4 col-lg-6 col-md-6 item">
					<app-product></app-product>
				</div>
			</div>
		</div>
	</div>

	<div class="row extra-section quotes">
		<div class="header">
			<h2 class="heading">Our customers says</h2>
			<button class="btn goto-button">Button <img class="right-arrow-icon" src="../../../assets/icons/right-arrow-green.svg" alt=""></button>
		</div>
		<div class="carousel">
			<owl-carousel-o [options]="quotesOptions">
				<ng-template carouselSlide *ngFor="let quote of quotes">
					<app-quote [quote]="quote"></app-quote>
				</ng-template>
			</owl-carousel-o>
		</div>
	</div>

	<app-related-products [heading]="'Section Headline'" [goto-button]="'Button'"></app-related-products>

	<div class="row extra-section">
		<div class="header">
			<h2 class="heading">Read our Blog posts</h2>
			<a class="btn goto-button" routerLink="/blogs">Go to Blog <img class="right-arrow-icon" src="../../../assets/icons/right-arrow-green.svg" alt=""></a>
		</div>
		<div class="row blogs">
			<div class="col-xl-5 col-lg-6 item">
				<app-blog-large [blog]="largeBlog"></app-blog-large>
			</div>
			<div class="col-xl-3 col-lg-6 item">
				<app-blog-medium [blog]="mediumBlog"></app-blog-medium>
			</div>
			<div class="col-xl-4 col-lg-6 item">
				<div *ngFor="let blog of smallBlogs">
					<app-blog-small [blog]="blog"></app-blog-small>
				</div>
				<div>
			</div>
		</div>
	</div>

	<app-footer></app-footer>
</div>