<div class="container">
	<app-header></app-header>
	<app-menu></app-menu>

	<div class="row section">
		<div class="col-lg-3 links">
			<h2 class="heading">Category menu</h2>
			<div class="link"><a href="#">Bakery</a></div>
			<div class="link"><a href="#">Fruit and vegetables</a></div>
			<div class="link"><a href="#">Meat and fish</a></div>
			<div class="link"><a href="#">Drinks</a></div>
			<div class="link"><a href="#">Kitchen</a></div>
			<button class="btn more-button">More categories <img class="right-arrow-icon" src="../../../assets/icons/right-arrow-black.svg" alt=""></button>
		</div>
		<div class="col-lg-9 items">
			<div class="row">
				<div class="col-md-6 item">
					<app-banner></app-banner>
				</div>
				<div class="col-md-6 item">
					<app-banner></app-banner>
				</div>
			</div>
		</div>
	</div>
</div>