<div class="container">
	<app-header></app-header>
	<app-menu></app-menu>

	<div class="row categories">
		<div class="col-lg-3 links">
			<h2 class="heading">Category menu</h2>
			<div class="link" *ngFor="let category of categories">
				<a [routerLink]="['/categories', category.slug, 'products']">{{ category.name }}</a>
			</div>
			<a class="btn more-button" routerLink="/categories">More categories <img class="right-arrow-icon" src="../../../assets/icons/right-arrow-black.svg" alt=""></a>
		</div>
		<div class="col-lg-9 banners">
			<div class="header">
				<h2 class="heading">Recipes</h2>
				<a class="btn goto-button" routerLink="/recipes">Go to recipes <img class="right-arrow-icon" src="../../../assets/icons/right-arrow-green.svg" alt=""></a>
			</div>
			<div class="row">
				<div class="col-md-6 banner" *ngFor="let recipe of recipes">
					<app-banner [recipe]="recipe"></app-banner>
				</div>
			</div>
		</div>
	</div>

	<div class="row best-selling">
		<div class="col-lg-3 links">
			<h2 class="heading">Best selling products</h2>
			<div class="link" *ngFor="let category of bestSelling">
				<a [routerLink]="['/categories', category.slug, 'products']">{{ category.name }}</a>
			</div>
			<a class="btn more-button" routerLink="/products">More products <img class="right-arrow-icon" src="../../../assets/icons/right-arrow-black.svg" alt=""></a>
		</div>
		<div class="col-lg-9 products">
			<div class="row">
				<div class="col-xl-4 col-lg-6 col-md-6 product" *ngFor="let product of bestSellingProducts">
					<app-product [product]="product"></app-product>
				</div>
			</div>
		</div>
	</div>

	<div class="row best-from-farmers">
		<div class="col-lg-3 links">
			<h2 class="heading">Best from Farmers</h2>
			<div class="link" *ngFor="let category of bestFromFarmers">
				<a [routerLink]="['/categories', category.slug, 'products']">{{ category.name }}</a>
			</div>
			<a class="btn more-button" routerLink="/products">More products <img class="right-arrow-icon" src="../../../assets/icons/right-arrow-black.svg" alt=""></a>
		</div>
		<div class="col-lg-9 products">
			<div class="row">
				<div class="col-xl-4 col-lg-6 col-md-6 product" *ngFor="let product of bestSellingProducts">
					<app-product [product]="product"></app-product>
				</div>
			</div>
		</div>
	</div>

	<div class="quotes">
		<div class="header">
			<h2 class="heading">Our customers says</h2>
			<button class="btn goto-button">Button <img class="right-arrow-icon" src="../../../assets/icons/right-arrow-green.svg" alt=""></button>
		</div>
		<div class="carousel">
			<owl-carousel-o [options]="quotesOptions">
				<ng-template carouselSlide *ngFor="let quote of quotes">
					<app-quote [quote]="quote"></app-quote>
				</ng-template>
			</owl-carousel-o>
		</div>
	</div>

	<app-related-products [heading]="'Section Headline'" [goto-button]="'Button'" [products]="sectionProducts"></app-related-products>

	<div class="posts">
		<div class="header">
			<h2 class="heading">Read our Blog posts</h2>
			<a class="btn goto-button" routerLink="/blogs">Go to Blog <img class="right-arrow-icon" src="../../../assets/icons/right-arrow-green.svg" alt=""></a>
		</div>
		<div class="row blogs">
			<div class="col-xl-5 col-lg-6 blog">
				<app-blog-large [blog]="largeBlog"></app-blog-large>
			</div>
			<div class="col-xl-3 col-lg-6 blog">
				<app-blog-medium [blog]="mediumBlog"></app-blog-medium>
			</div>
			<div class="col-xl-4 col-lg-6 blog">
				<div class="small-blog" *ngFor="let blog of smallBlogs">
					<app-blog-small [blog]="blog"></app-blog-small>
				</div>
			</div>
		</div>
	</div>

	<app-footer></app-footer>
</div>