@import '../../../../variables';

.container {
	position: relative;
	padding: 24px 32px 40px 32px;
	border-radius: $default-border-radius;
	border: 1px solid $secondary-border-color;

	.quote {
		margin-bottom: 24px;
		text-align: center;
		color: $dark-color;
		font-family: $primary-english-font;
		font-weight: 500;
		font-size: 15px;
	}

	.author {
		text-align: center;
		color: $input-text-color;
		font-family: $primary-english-font;
		font-weight: 600;
		font-size: 12px;
	}

	.avatar-image {
		position: absolute;
		bottom: -24px;
		left: 50%;
		width: 48px;
		height: 48px;
		border-radius: $circle-border-radius;
		background-color: $image-background-color;
		transform: translateX(-50%);

		img {
			width: 100%;
			height: auto;
			border-radius: $circle-border-radius;
		}
	}

	&.rtl {
		.quote,
		.author {
			font-family: $primary-arabic-font;
		}
	}
}