<div class="container">
	<img class="background-image" src="../../../assets/images/page-not-found-background.svg" alt="">
	<app-header [show-icons]="false"></app-header>

	<div class="content">
		<h2 class="heading">404</h2>
		<h3 class="subheading">Sorry. the content you’re looking for doesn’t exist.<br/>Either it was removed, or you mistyped the link.</h3>
		<div class="buttons">
			<a class="btn home-button" routerLink="/">Go to homepage</a>
			<a class="btn contact-button" routerLink="/contact">Contact Us</a>
		</div>
	</div>
</div>