@import '../../../variables';

.input-group {
	.input-group-prepend {
		input {
			padding: 9px 20px;
			border-radius: $default-border-radius 0px 0px $default-border-radius;
			border: 1px solid $secondary-border-color;
			border-right: none;
			background-color: $input-background-color;
			color: $input-text-color;
			font-family: $secondary-english-font;
			font-weight: 400;
			font-size: 14px;

			&::placeholder {
				color: $input-placeholder-color;
			}
			&:focus {
				box-shadow: 0 0 0 4px $secondary-box-shadow-color;
			}
		}
	}

	button {
		padding: 8px 16px;
		border-radius: 0px $default-border-radius $default-border-radius 0px !important;
		border: 1px solid $secondary-border-color;
		border-left: none;
		background-color: $input-background-color;
		color: $dark-color;
		font-family: $primary-english-font;
		font-weight: 700;
		font-size: 15px;

		&:focus {
			box-shadow: 0 0 0 4px $secondary-box-shadow-color;
		}
	}

	&.rtl {
		.input-group-prepend {
			input {
				border-radius: 0px $default-border-radius $default-border-radius 0px;
				border: 1px solid $secondary-border-color;
				border-left: none;
				font-family: $secondary-arabic-font;
			}
		}

		button {
			border-radius: $default-border-radius 0px 0px $default-border-radius !important;
			border: 1px solid $secondary-border-color;
			border-right: none;
			font-family: $primary-arabic-font;
		}
	}
}