.container {
	padding: 0px;
	background-color: #FFF;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);

	.header {
		height: 576px;
		padding: 48px 45px;
		border-radius: 12px;

		.background {
			height: 100%;
			padding-top: 96px;
			border-radius: 12px;
			background-color: #F5F5F5;

			@media (max-width: 767.98px) {
				padding: 0px;
			}

			.shadow-box {
				height: 383px;
				margin: 0px;
				justify-content: center;
				border-radius: 0px 0px 12px 12px;
				background: linear-gradient(0deg, #000000 0%, rgba(0, 0, 0, 0) 100%);

				@media (max-width: 767.98px) {
					height: 100%;
					padding-top: 150px;
				}

				.column {
					position: relative;

					.info {
						position: absolute;
						bottom: 32px;

						@media (max-width: 767.98px) {
							bottom: 16px;
							width: 100%;
						}

						.text {
							margin-bottom: 12px;
							color: #A9A9A9;
							font-family: 'Poppins';
							font-weight: 600;
							font-size: 12px;
						}

						.value {
							margin-bottom: 12px;
							color: #FFF;
							font-family: 'Poppins';
							font-weight: 600;
							font-size: 12px;

							a {
								color: #FFF;
							}
						}
					}

					.heading {
						position: absolute;
						bottom: 32px;
						margin: 0px;
						color: #FFF;
						font-family: 'Poppins';
						font-weight: 600;
						font-size: 32px;

						@media (max-width: 767.98px) {
							bottom: 16px;
						}

						@media (max-width: 575.98px) {
							font-size: 24px;
						}
					}
				}
			}
		}
	}

	.content {
		padding: 48px 45px;

		.details {
			justify-content: center;

			.tags {
				margin-bottom: 48px;

				@media (max-width: 767.98px) {
					margin-bottom: 24px;
				}

				.heading {
					color: #151515;
					margin-bottom: 16px;
					font-family: 'Poppins';
					font-weight: 600;
					font-size: 18px;
				}

				.tag {
					margin: 0px 8px 8px 0px;
					padding: 4px 10px;
					display: inline-block;
					border-radius: 12px;
					background-color: #F4F8EC;
					color: #6A983C;
					font-family: 'Poppins';
					font-weight: 600;
					font-size: 12px;
				}
			}

			.back-button {
				padding: 6px 0px;
				border-radius: 12px;
				background-color: #FFF;
				color: #151515;
				font-family: 'Poppins';
				font-weight: 700;
				font-size: 15px;

				@media (max-width: 767.98px) {
					margin-bottom: 24px;
				}

				.back-icon {
					margin-right: 6px;
				}
			}

			.section {
				margin-bottom: 48px;

				.heading {
					margin-bottom: 12px;
					color: #151515;
					font-family: 'Poppins';
					font-weight: 600;
					font-size: 18px;
				}

				.paragraph {
					margin: 0px;
					color: #151515;
					font-family: 'OpenSans';
					font-weight: 400;
					font-size: 17px;

					&:not(:last-of-type) {
						margin-bottom: 32px;
					}
				}
			}

			.share {
				margin-bottom: 96px;

				.heading {
					margin: 0px 16px 16px 0px;
					display: inline-block;
					color: #151515;
					font-family: 'Poppins';
					font-weight: 600;
					font-size: 18px;
				}

				.social {
					margin: 0px 16px 16px 0px;
					display: inline-block;

					a {
						padding: 6.5px 12px;
						border-radius: 12px;
						background-color: #F5F5F5;
						text-decoration: none;
						color: #151515;
						font-family: 'Poppins';
						font-weight: 700;
						font-size: 15px;
					}
				}
			}

			.reply {
				margin-bottom: 48px;

				.heading {
					margin-bottom: 12px;
					color: #151515;
					font-family: 'Poppins';
					font-weight: 600;
					font-size: 22px;
				}

				.subheading {
					margin-bottom: 16px;
					color: #151515;
					font-family: 'OpenSans';
					font-weight: 400;
					font-size: 17px;

					a {
						color: #151515;
					}
				}

				form {
					.form-group {
						margin-bottom: 32px;

						&:last-of-type {
							margin: 0px;
						}

						label {
							color: #151515;
							font-family: 'Poppins';
							font-weight: 600;
							font-size: 12px;
						}

						input {
							font-family: 'OpenSans';
							font-weight: 400;
							font-size: 14px;

							&[type=text],
							&[type=email] {
								padding: 11px 20px;
								border-radius: 12px;
								border: 1px solid #D1D1D1;
								background-color: #F9F9F9;
								color: #A9A9A9;
							}

							&[type=checkbox] {
								width: 22px;
								height: 22px;
								margin: 1px 8px 0px 0px;
								padding: 0px;
								border: 1.5px solid #D1D1D1;
								cursor: pointer;

								&[type=checkbox]:checked {
									background-color: #6A983C;
									border-color: #46760A;
								}
							}

							&::placeholder {
								color: #A9A9A9;
							}
						}

						textarea {
							padding: 11px 20px;
							border-radius: 12px;
							border: 1px solid #D1D1D1;
							resize: none;
							background-color: #F9F9F9;
							color: #A9A9A9;
							font-family: 'OpenSans';
							font-weight: 400;
							font-size: 14px;

							&::placeholder {
								color: #A9A9A9;
							}
						}

						.form-check {
							margin: 0px;
							padding: 8px 16px;
							border-radius: 12px;
							border: 1px solid #D1D1D1;
							background-color: #F9F9F9;

							label {
								display: inline;
								font-family: 'OpenSans';
								font-weight: 400;
								font-size: 14px;
								cursor: pointer;
							}
						}
					}

					.buttons {
						@media (max-width: 575.98px) {
							text-align: center;
						}

						.send-button {
							padding: 12px 48px;
							display: inline-block;
							border-radius: 12px;
							border: 2px solid #46760A;
							background-color: #6A983C;
							color: #FFF;
							font-family: 'Poppins';
							font-weight: 700;
							font-size: 15px;
						}
					}
				}
			}

			.comments {
				.heading {
					margin-bottom: 16px;
					color: #151515;
					font-family: 'Poppins';
					font-weight: 600;
					font-size: 22px;
				}

				.comment {
					margin-bottom: 24px;

					&:last-of-type {
						margin: 0px;
					}
				}
			}
		}
	}
}