@import '../../../variables';

.container {
	padding: 0px;
	background-color: $page-background-color;
	box-shadow: $page-box-shadow;

	.header {
		height: 576px;
		padding: 48px 45px;
		border-radius: $default-border-radius;

		.background {
			position: relative;
			height: 100%;
			padding-top: 96px;
			border-radius: $default-border-radius;
			background-color: $image-background-color;
			overflow: hidden;

			@media (max-width: 767.98px) {
				padding: 0px;
			}

			.cover-image {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}

			.shadow-box {
				position: absolute;
				width: 100%;
				height: 383px;
				background: linear-gradient(0deg, $gradient-dark-start 0%, $gradient-dark-end 100%);

				@media (max-width: 767.98px) {
					height: 100%;
				}
			}

			.info {
				position: absolute;
				bottom: 32px;
				justify-content: center;

				@media (max-width: 1199.98px) {
					margin: 0px;
				}

				.info-column,
				.heading-column {
					.info-row {
						margin: 0px 0px 12px 0px;

						&:last-of-type {
							margin: 0px;
						}

						.text {
							margin: auto;
							padding: 0px 12px 0px 0px;
							overflow-wrap: break-word;
							color: $input-text-color;
							font-family: $primary-english-font;
							font-weight: 600;
							font-size: 12px;
						}

						.value {
							margin: auto;
							padding: 0px 0px 0px 12px;
							overflow-wrap: break-word;
							color: $light-color;
							font-family: $primary-english-font;
							font-weight: 600;
							font-size: 12px;

							a {
								color: $light-color;
							}
						}
					}

					.heading {
						margin: 0px;
						color: $light-color;
						font-family: $primary-english-font;
						font-weight: 600;
						font-size: 32px;

						@media (max-width: 575.98px) {
							font-size: 20px;
						}
					}
				}

				.info-column {
					margin-top: auto;
				}
			}
		}
	}

	.content {
		padding: 48px 45px;

		.details {
			justify-content: center;

			.tags {
				margin-bottom: 48px;

				@media (max-width: 767.98px) {
					margin-bottom: 24px;
				}

				.heading {
					color: $dark-color;
					margin-bottom: 16px;
					font-family: $primary-english-font;
					font-weight: 600;
					font-size: 18px;
				}

				.tag {
					margin: 0px 8px 8px 0px;
					display: inline-block;
					border-radius: $default-border-radius;
					background-color: $tag-background-color;

					a {
						padding: 4px 10px;
						text-decoration: none;
						color: $primary-color;
						font-family: $primary-english-font;
						font-weight: 600;
						font-size: 12px;
					}
				}
			}

			.back-button {
				padding: 6px 0px;
				border-radius: $default-border-radius;
				background-color: $light-color;
				color: $dark-color;
				font-family: $primary-english-font;
				font-weight: 700;
				font-size: 15px;

				@media (max-width: 767.98px) {
					margin-bottom: 24px;
				}

				&:focus {
					box-shadow: 0 0 0 4px $secondary-box-shadow-color;
				}

				.back-icon {
					--color: #{$dark-color};
				}
			}

			::ng-deep {
				.section {
					margin-bottom: 48px;

					.heading {
						margin-bottom: 12px;
						color: $dark-color;
						font-family: $primary-english-font;
						font-weight: 600;
						font-size: 18px;
					}

					.paragraph {
						margin: 0px;
						color: $dark-color;
						font-family: $secondary-english-font;
						font-weight: 400;
						font-size: 17px;

						&:not(:last-of-type) {
							margin-bottom: 32px;
						}
					}
				}
			}

			.share {
				margin-bottom: 96px;

				.heading {
					margin: 0px 16px 16px 0px;
					display: inline-block;
					color: $dark-color;
					font-family: $primary-english-font;
					font-weight: 600;
					font-size: 18px;
				}

				.social {
					margin: 0px 16px 16px 0px;
					display: inline-block;

					a {
						padding: 6.5px 12px;
						border-radius: $default-border-radius;
						background-color: $image-background-color;
						text-decoration: none;
						color: $dark-color;
						font-family: $primary-english-font;
						font-weight: 700;
						font-size: 15px;
					}
				}
			}

			.reply {
				margin-bottom: 48px;

				.heading {
					margin-bottom: 12px;
					color: $dark-color;
					font-family: $primary-english-font;
					font-weight: 600;
					font-size: 22px;
				}

				.subheading {
					margin-bottom: 16px;
					color: $dark-color;
					font-family: $secondary-english-font;
					font-weight: 400;
					font-size: 17px;

					a {
						color: $dark-color;
					}
				}

				form {
					.form-group {
						margin-bottom: 32px;

						&:last-of-type {
							margin: 0px;
						}

						label {
							color: $dark-color;
							font-family: $primary-english-font;
							font-weight: 600;
							font-size: 12px;
						}

						input {
							font-family: $secondary-english-font;
							font-weight: 400;
							font-size: 14px;

							&[type=text],
							&[type=email] {
								padding: 11px 20px;
								border-radius: $default-border-radius;
								border: 1px solid $secondary-border-color;
								background-color: $input-background-color;
								color: $input-text-color;
							}

							&[type=checkbox] {
								width: 22px;
								height: 22px;
								margin: 1px 8px 0px 0px;
								padding: 0px;
								border: 1.5px solid $secondary-border-color;
								cursor: pointer;

								&:checked {
									background-color: $primary-color;
									border-color: $primary-border-color;
								}
								&:focus {
									box-shadow: 0 0 0 4px $primary-box-shadow-color;
								}
							}

							&::placeholder {
								color: $input-placeholder-color;
							}
							&:focus {
								box-shadow: 0 0 0 4px $secondary-box-shadow-color;
							}
						}

						textarea {
							padding: 11px 20px;
							border-radius: $default-border-radius;
							border: 1px solid $secondary-border-color;
							resize: none;
							background-color: $input-background-color;
							color: $input-text-color;
							font-family: $secondary-english-font;
							font-weight: 400;
							font-size: 14px;

							&::placeholder {
								color: $input-placeholder-color;
							}
							&:focus {
								box-shadow: 0 0 0 4px $secondary-box-shadow-color;
							}
						}

						.form-check {
							margin: 0px;
							padding: 8px 16px;
							display: inline-block;
							border-radius: $default-border-radius;
							border: 1px solid $secondary-border-color;
							background-color: $input-background-color;

							label {
								display: inline;
								font-family: $secondary-english-font;
								font-weight: 400;
								font-size: 14px;
								cursor: pointer;
							}
						}
					}

					.buttons {
						@media (max-width: 575.98px) {
							text-align: center;
						}

						.send-button {
							padding: 12px 48px;
							display: inline-block;
							border-radius: $default-border-radius;
							border: 2px solid $primary-border-color;
							background-color: $primary-color;
							color: $light-color;
							font-family: $primary-english-font;
							font-weight: 700;
							font-size: 15px;

							&:focus {
								box-shadow: 0 0 0 4px $primary-box-shadow-color;
							}
						}
					}
				}
			}

			.comments {
				.heading {
					margin-bottom: 16px;
					color: $dark-color;
					font-family: $primary-english-font;
					font-weight: 600;
					font-size: 22px;
				}

				.comment {
					margin-bottom: 24px;

					&:last-of-type {
						margin: 0px;
					}
				}
			}
		}
	}

	&.rtl {
		direction: rtl;

		.header {
			.background {
				.info {
					.info-column,
					.heading-column {
						.info-row {
							.text {
								padding: 0px 0px 0px 12px;
								font-family: $primary-arabic-font;
							}

							.value {
								padding: 0px 12px 0px 0px;
								font-family: $primary-arabic-font;
							}
						}

						.heading {
							font-family: $primary-arabic-font;
						}
					}
				}
			}
		}

		.content {
			.details {
				.tags {
					.heading {
						font-family: $primary-arabic-font;
					}

					.tag {
						margin: 0px 0px 8px 8px;

						a {
							font-family: $primary-arabic-font;
						}
					}
				}

				.back-button {
					font-family: $primary-arabic-font;

					.back-icon {
						transform: scaleX(-1);
					}
				}

				::ng-deep {
					.section {
						.heading {
							font-family: $primary-arabic-font;
						}

						.paragraph {
							font-family: $secondary-arabic-font;
						}
					}
				}

				.share {
					.heading {
						margin: 0px 0px 16px 16px;
						font-family: $primary-arabic-font;
					}

					.social {
						margin: 0px 0px 28px 16px;

						a {
							font-family: $primary-arabic-font;
						}
					}
				}

				.reply {
					.heading {
						font-family: $primary-arabic-font;
					}

					.subheading {
						font-family: $secondary-arabic-font;
					}

					form {
						.form-group {
							label {
								font-family: $primary-arabic-font;
							}

							input {
								font-family: $secondary-arabic-font;

								&[type=checkbox] {
									margin: 1px 0px 0px 8px;
									float: right;
								}
							}

							textarea {
								font-family: $secondary-arabic-font;
							}

							.form-check {
								label {
									font-family: $secondary-arabic-font;
								}
							}
						}

						.buttons {
							.send-button {
								font-family: $primary-arabic-font;
							}
						}
					}
				}

				.comments {
					.heading {
						font-family: $primary-arabic-font;
					}
				}
			}
		}
	}
}