.container {
	padding: 0px;
	background-color: #FFF;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);

	.header {
		padding: 8px 45px;
		display: flex;
		justify-content: space-between;

		.heading {
			margin: auto 0px;
			color: #151515;
			font-family: 'Poppins';
			font-weight: 600;
			font-size: 32px;

			@media (max-width: 767.98px) {
				font-size: 24px;
			}

			@media (max-width: 575.98px) {
				font-size: 20px;
			}
		}

		.view {
			margin: auto 0px;

			@media (max-width: 991.98px) {
				text-align: right;
			}

			.item {
				margin-left: 24px;
				display: inline-block;
				color: #A9A9A9;
				font-family: 'OpenSans';
				font-weight: 400;
				font-size: 12px;

				.count {
					margin-right: 4px;
					padding: 0px 8px;
					border-radius: 12px;
					background-color: #F4F8EC;
					color: #6A983C;
					font-family: 'Poppins';
					font-weight: 600;
					font-size: 12px;
				}
			}
		}
	}

	.content {
		padding: 30px 45px;

		.recipes {
			.recipe {
				margin-bottom: 48px;
			}
		}
	}

	.footer {
		margin: 0px;
		padding: 16px 45px;
		display: flex;
		justify-content: space-between;

		.pages {
			margin: auto 0px;
			padding-left: 0px;

			@media (max-width: 991.98px) {
				width: 50%;
			}

			.title {
				margin: auto 8px auto 0px;
				display: inline-block;
				color: #A9A9A9;
				font-family: 'OpenSans';
				font-weight: 400;
				font-size: 12px;
			}

			.page {
				margin: auto 8px auto 0px;
				text-decoration: none;
				color: #151515;
				font-family: 'OpenSans';
				font-weight: 400;
				font-size: 12px;
				cursor: pointer;

				&.active {
					color: #6A983C;
				}
			}
		}

		.more {
			text-align: center;

			@media (max-width: 991.98px) {
				width: 100%;
				margin-top: 16px;
				order: 2;
			}

			.more-button {
				padding: 12px 16px;
				border-radius: 12px;
				border: 2px solid #46760A;
				background-color: #6A983C;
				color: #FFF;
				font-family: 'Poppins';
				font-weight: 700;
				font-size: 15px;

				.down-arrow-icon {
					width: 8px;
					height: 9px;
					margin-left: 6px;
					vertical-align: unset;
				}
			}
		}

		.recipes {
			margin: auto 0px;
			padding-right: 0px;
			text-align: right;

			@media (max-width: 991.98px) {
				width: 50%;
			}

			.count {
				margin-right: 4px;
				padding: 0px 8px;
				border-radius: 12px;
				background-color: #F4F8EC;
				color: #6A983C;
				font-family: 'Poppins';
				font-weight: 600;
				font-size: 12px;
			}

			.text {
				color: #A9A9A9;
				font-family: 'OpenSans';
				font-weight: 400;
				font-size: 12px;
			}
		}
	}

	&.rtl {
		direction: rtl;

		.header {
			.heading {
				font-family: 'NotoSansArabic';
			}

			.view {
				@media (max-width: 991.98px) {
					text-align: left;
				}

				.item {
					margin: 0px 24px 0px 0px;
					font-family: 'Cairo';

					.count {
						margin: 0px 0px 0px 4px;
						font-family: 'NotoSansArabic';
					}
				}
			}
		}

		.footer {
			.pages {
				padding: 0px 0px 0px 12px;

				.title,
				.page {
					margin: auto 0px auto 8px;
					font-family: 'Cairo';
				}

				.page {
					unicode-bidi: bidi-override;
				}
			}

			.more {
				.more-button {
					font-family: 'NotoSansArabic';

					.down-arrow-icon {
						margin: 0px 6px 0px 0px;
						transform: scaleX(-1);
					}
				}
			}

			.recipes {
				padding: 0px 12px 0px 0px;
				text-align: left;

				.count {
					margin: 0px 0px 0px 4px;
					font-family: 'NotoSansArabic';
				}

				.text {
					font-family: 'Cairo';
				}
			}
		}
	}
}