.table-responsive {
	.table {
		thead {
			tr {
				color: #151515;
				font-family: 'Poppins';
				font-weight: 600;
				font-size: 12px;

				th {
					padding: 7px 0px;
					border-color: #EBEBEB;
				}
			}
		}

		tbody {
			border-top: none;

			tr {
				color: #575757;
				font-family: 'OpenSans';
				font-weight: 400;
				font-size: 14px;

				&:nth-of-type(odd) {
					background-color: #FDFDFD;
				}

				td {
					padding: 10px 0px;
					border: none;

					.address {
						padding: 0px;
						border: none;
						color: #575757;
						font-family: 'OpenSans';
						font-weight: 400;
						font-size: 14px;

						&:focus {
							box-shadow: none;
						}
					}

					a {
						text-decoration: none;
						color: #575757;
						cursor: pointer;
					}
				}
			}
		}
	}

	&.rtl {
		.table {
			thead {
				tr {
					font-family: 'NotoSansArabic';
				}
			}

			tbody {
				tr {
					font-family: 'Cairo';

					td {
						.address {
							font-family: 'Cairo';
						}
					}
				}
			}
		}
	}
}

.footer {
	.pages {
		.title {
			margin: auto 8px auto 0px;
			display: inline-block;
			color: #A9A9A9;
			font-family: 'OpenSans';
			font-weight: 400;
			font-size: 12px;
		}

		.page {
			margin: auto 8px auto 0px;
			text-decoration: none;
			color: #151515;
			font-family: 'OpenSans';
			font-weight: 400;
			font-size: 12px;
			cursor: pointer;

			&.active {
				color: #6A983C;
			}
		}
	}

	&.rtl {
		.pages {
			.title,
			.page {
				margin: auto 0px auto 8px;
				font-family: 'Cairo';
			}
		}
	}
}