@import '../../../../../variables';

.table-responsive {
	.table {
		thead {
			tr {
				color: $dark-color;
				font-family: $primary-english-font;
				font-weight: 600;
				font-size: 12px;

				th {
					padding: 7px 0px;
					border-color: $table-border-color;
				}
			}
		}

		tbody {
			border-top: none;

			tr {
				color: $table-text-color;
				font-family: $secondary-english-font;
				font-weight: 400;
				font-size: 14px;

				&:nth-of-type(odd) {
					background-color: $input-background-color;
				}

				td {
					padding: 10px 0px;
					border: none;

					.address {
						padding: 0px;
						border: none;
						color: $table-text-color;
						font-family: $secondary-english-font;
						font-weight: 400;
						font-size: 14px;

						&:focus {
							box-shadow: none;
						}
					}

					::ng-deep {
						.tooltip {
							.tooltip-inner {
								font-family: $secondary-english-font;
							}
						}
					}

					a {
						text-decoration: none;
						color: $table-text-color;
						cursor: pointer;
					}
				}
			}
		}
	}

	&.rtl {
		.table {
			thead {
				tr {
					font-family: $primary-arabic-font;
				}
			}

			tbody {
				tr {
					font-family: $secondary-arabic-font;

					td {
						.address {
							font-family: $secondary-arabic-font;
						}

						::ng-deep {
							.tooltip {
								.tooltip-inner {
									font-family: $secondary-arabic-font;
								}
							}
						}
					}
				}
			}
		}
	}
}

.footer {
	.pages {
		.title {
			margin: auto 8px auto 0px;
			display: inline-block;
			color: $input-text-color;
			font-family: $secondary-english-font;
			font-weight: 400;
			font-size: 12px;
		}

		.page {
			margin: auto 8px auto 0px;
			text-decoration: none;
			color: $dark-color;
			font-family: $secondary-english-font;
			font-weight: 400;
			font-size: 12px;
			cursor: pointer;

			&.active {
				color: $primary-color;
			}
		}
	}

	&.rtl {
		.pages {
			.title,
			.page {
				margin: auto 0px auto 8px;
				font-family: $secondary-arabic-font;
				unicode-bidi: bidi-override;
			}
		}
	}
}