/* Global Variables */
$primary-english-font: 'Poppins';
$primary-arabic-font: 'NotoSansArabic';
$secondary-english-font: 'OpenSans';
$secondary-arabic-font: 'Cairo';

$default-border-radius: 12px;
$secondary-border-radius: 16px;
$circle-border-radius: 50%;

$cart-max-width: 400px;
$cart-max-height: 780px;
$cart-products-max-height: 500px;

$gradient-light-start: #FFFFFF;
$gradient-light-end: #FFFFFF00;
$gradient-dark-start: #000000;
$gradient-dark-end: #00000000;
$primary-shadow: #00000026;
$secondary-shadow: #00000040;

$body-background-color: #F9F9F9;
$page-background-color: #FFFFFF;
$page-box-shadow: 0px 2px 4px $primary-shadow;

$primary-color: #6A983C;
$secondary-color: #F5F5F5;
$light-color: #FFFFFF;
$danger-color: #E6704B;
$dark-color: #151515;
$primary-box-shadow-color: #46761E40;
$secondary-box-shadow-color: #A9A9BD40;
$danger-box-shadow-color: #E6705F40;

$input-text-color: #A9A9A9;
$table-text-color: #575757;

$input-placeholder-color: #D1D1D1;

$input-background-color: #F9F9F9;
$custom-file-hover-background-color: #DDE0E3;
$image-background-color: #F5F5F5;
$tag-background-color: #F4F8EC;
$dropdown-item-background-color: #EBEBEB;
$danger-background-color: #C7522D;

$primary-border-color: #46760A;
$secondary-border-color: #D1D1D1;
$table-border-color: #EBEBEB;

$star-color: #FDBC15;
$close-icon-light-color: #C8DEB3;
$close-icon-dark-color: #151515;