/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

/* Importing Owl Carousel SCSS files */
@import '../node_modules/ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import '../node_modules/ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';

/* Importing Bootstrap Slider SCSS files */
@import '~bootstrap-slider/src/sass/bootstrap-slider';

/* Importing Variables file */
@import './variables';

/* Importing Fonts */
@font-face {
	font-family: 'Poppins';
	src: url('./assets/fonts/Poppins/Poppins-Regular.ttf') format('truetype');
	font-weight: 400;
}
@font-face {
	font-family: 'Poppins';
	src: url('./assets/fonts/Poppins/Poppins-Medium.ttf') format('truetype');
	font-weight: 500;
}
@font-face {
	font-family: 'Poppins';
	src: url('./assets/fonts/Poppins/Poppins-SemiBold.ttf') format('truetype');
	font-weight: 600;
}
@font-face {
	font-family: 'Poppins';
	src: url('./assets/fonts/Poppins/Poppins-Bold.ttf') format('truetype');
	font-weight: 700;
}
@font-face {
	font-family: 'OpenSans';
	src: url('./assets/fonts/OpenSans/OpenSans-Regular.ttf') format('truetype');
	font-weight: 400;
}
@font-face {
	font-family: 'OpenSans';
	src: url('./assets/fonts/OpenSans/OpenSans-Medium.ttf') format('truetype');
	font-weight: 500;
}
@font-face {
	font-family: 'OpenSans';
	src: url('./assets/fonts/OpenSans/OpenSans-Bold.ttf') format('truetype');
	font-weight: 700;
}
@font-face {
	font-family: 'NotoSansArabic';
	src: url('./assets/fonts/NotoSansArabic/NotoSansArabic-Regular.ttf') format('truetype');
	font-weight: 400;
}
@font-face {
	font-family: 'NotoSansArabic';
	src: url('./assets/fonts/NotoSansArabic/NotoSansArabic-Medium.ttf') format('truetype');
	font-weight: 500;
}
@font-face {
	font-family: 'NotoSansArabic';
	src: url('./assets/fonts/NotoSansArabic/NotoSansArabic-SemiBold.ttf') format('truetype');
	font-weight: 600;
}
@font-face {
	font-family: 'NotoSansArabic';
	src: url('./assets/fonts/NotoSansArabic/NotoSansArabic-Bold.ttf') format('truetype');
	font-weight: 700;
}
@font-face {
	font-family: 'Cairo';
	src: url('./assets/fonts/Cairo/Cairo-Regular.ttf') format('truetype');
	font-weight: 400;
}
@font-face {
	font-family: 'Cairo';
	src: url('./assets/fonts/Cairo/Cairo-Medium.ttf') format('truetype');
	font-weight: 500;
}
@font-face {
	font-family: 'Cairo';
	src: url('./assets/fonts/Cairo/Cairo-Bold.ttf') format('truetype');
	font-weight: 700;
}

/* Global Styles */
body {
	background-color: $body-background-color;
}