<div class="container">
	<img class="cover-image" src="{{ blog.image }}" alt="">
	<div class="tag" *ngIf="blog.tags.length > 0">
		<span>{{ blog.tags[0].name }}</span>
	</div>
	<div class="details">
		<div class="heading">
			<a [routerLink]="['/blogs', blog.slug]">{{ blog.title }}</a>
		</div>
		<div class="info">
			<div class="avatar-image">
				<img src="{{ blog.author.image }}" alt="">
			</div>
			<div class="author">{{ blog.author.name }}</div>
			<div class="date">{{ blog.date.toLocaleDateString() | replaceString:'/':'. ' }}</div>
		</div>
	</div>
</div>