@import '../../../variables';

.container {
	position: relative;
	min-height: 400px;
	padding: 0px;
	border-radius: $default-border-radius;
	overflow: hidden;

	.cover-image {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	.tag {
		position: absolute;
		margin: 24px;

		a {
			padding: 0px 8px;
			border-radius: $default-border-radius;
			text-decoration: none;
			background-color: $tag-background-color;
			color: $primary-color;
			font-family: $primary-english-font;
			font-weight: 600;
			font-size: 12px;
		}
	}

	.details {
		position: absolute;
		bottom: 0px;
		padding: 76px 24px 24px;
		width: 100%;
		background: linear-gradient(0deg, $gradient-dark-start 0%, $gradient-dark-end 100%);

		.heading {
			margin-bottom: 8px;

			a {
				text-decoration: none;
				color: $light-color;
				font-family: $primary-english-font;
				font-weight: 600;
				font-size: 22px;
			}
		}

		.info {
			display: flex;
			color: $light-color;
			font-family: $secondary-english-font;
			font-weight: 400;
			font-size: 12px;

			.avatar-image {
				position: relative;
				width: 32px;
				height: 32px;
				margin-right: 8px;
				border-radius: $circle-border-radius;
				background-color: $image-background-color;

				img {
					position: absolute;
					top: 50%;
					width: 100%;
					height: auto;
					border-radius: $circle-border-radius;
					transform: translateY(-50%);
				}
			}

			.author {
				margin: auto 16px auto 0px;
			}

			.date {
				margin: auto 0px;
			}
		}
	}

	&.rtl {
		.tag {
			a {
				font-family: $primary-arabic-font;
			}
		}

		.details {
			.heading {
				a {
					font-family: $primary-arabic-font;
				}
			}

			.info {
				font-family: $secondary-arabic-font;

				.avatar-image {
					margin: 0px 0px 0px 8px;
				}

				.author {
					margin: auto 0px auto 16px;
				}
			}
		}
	}
}