@import '../../../variables';

.container {
	padding: 0px;
	background-color: $page-background-color;
	box-shadow: $page-box-shadow;

	.content {
		margin: 0px;
		padding: 16px 45px;

		.billing {
			padding-left: 0px;

			@media (max-width: 991.98px) {
				padding: 0px;
				order: 1;
			}

			.billing-info,
			.shipping-method,
			.payment-method,
			.additional,
			.confirm {
				margin-bottom: 64px;

				.heading {
					margin-bottom: 4px;
					color: $dark-color;
					font-family: $primary-english-font;
					font-weight: 600;
					font-size: 22px;
				}

				.subheading {
					margin-bottom: 32px;
					display: flex;
					justify-content: space-between;

					h3 {
						margin: 0px;
						color: $input-text-color;
						font-family: $secondary-english-font;
						font-weight: 400;
						font-size: 12px;
					}

					.step {
						color: $input-text-color;
						font-family: $secondary-english-font;
						font-weight: 400;
						font-size: 12px;
					}
				}

				.form-group {
					margin-bottom: 32px;

					&:last-of-type {
						margin: 0px;
					}

					label {
						color: $dark-color;
						font-family: $primary-english-font;
						font-weight: 600;
						font-size: 12px;
					}

					input {
						font-family: $secondary-english-font;
						font-weight: 400;
						font-size: 14px;

						&[type=text],
						&[type=email] {
							padding: 11px 20px;
							border-radius: $default-border-radius;
							border: 1px solid $secondary-border-color;
							background-color: $input-background-color;
							color: $input-text-color;
						}

						&[type=checkbox] {
							width: 22px;
							height: 22px;
							margin: 1px 8px 0px 0px;
							padding: 0px;
							border: 1.5px solid $secondary-border-color;
							cursor: pointer;

							&:checked {
								background-color: $primary-color;
								border-color: $primary-border-color;
							}
							&:focus {
								box-shadow: 0 0 0 4px $primary-box-shadow-color;
							}
						}

						&::placeholder {
							color: $input-placeholder-color;
						}
						&:focus {
							box-shadow: 0 0 0 4px $secondary-box-shadow-color;
						}
					}

					select {
						position: relative;
						padding: 11px 20px;
						border-radius: $default-border-radius;
						border: 1px solid $secondary-border-color;
						background-color: $input-background-color;
						background-image: url('../../../assets/icons/up-down-arrow.svg');
						color: $input-text-color;
						font-family: $secondary-english-font;
						font-weight: 400;
						font-size: 14px;

						&:focus {
							box-shadow: 0 0 0 4px $secondary-box-shadow-color;
						}
					}

					textarea {
						padding: 11px 20px;
						border-radius: $default-border-radius;
						border: 1px solid $secondary-border-color;
						background-color: $input-background-color;
						color: $input-text-color;
						font-family: $secondary-english-font;
						font-weight: 400;
						font-size: 14px;
						resize: none;

						&::placeholder {
							color: $input-placeholder-color;
						}
						&:focus {
							box-shadow: 0 0 0 4px $secondary-box-shadow-color;
						}
					}

					.form-check {
						margin: 0px;
						padding: 8px 16px;
						display: inline-block;
						border-radius: $default-border-radius;
						border: 1px solid $secondary-border-color;
						background-color: $input-background-color;

						label {
							display: inline;
							font-family: $secondary-english-font;
							font-weight: 400;
							font-size: 14px;
							cursor: pointer;
						}
					}
				}
			}

			.shipping-method {
				.shipping {
					margin: 0px 0px 16px 0px;
					padding: 14px 16px;
					border-radius: $default-border-radius;
					border: 1px solid $secondary-border-color;
					background-color: $input-background-color;

					&:last-of-type {
						margin: 0px;
					}

					.name,
					.data,
					.icon {
						padding: 0px;
					}

					.name {
						.form-check {
							margin: 0px;
							padding: 0px;

							input {
								width: 22px;
								height: 22px;
								margin: 2px 16px 0px 0px;
								border: 1.5px solid $secondary-border-color;
								cursor: pointer;

								&[type=radio]:checked {
									background-color: $primary-color;
									border-color: $primary-color;
								}
								&:focus {
									box-shadow: 0 0 0 4px $primary-box-shadow-color;
								}
							}

							label {
								display: inline;
								color: $dark-color;
								font-family: $primary-english-font;
								font-weight: 600;
								font-size: 12px;
								cursor: pointer;
							}
						}
					}

					.data {
						margin: auto 0px;
						text-align: center;

						@media (max-width: 767.98px) {
							order: 2;
						}

						.text {
							margin-right: 4px;
							color: $primary-color;
							font-family: $primary-english-font;
							font-weight: 600;
							font-size: 12px;
						}

						.tag {
							padding: 0px 8px;
							border-radius: $default-border-radius;
							background-color: $image-background-color;
							color: $dark-color;
							font-family: $primary-english-font;
							font-weight: 600;
							font-size: 12px;
						}
					}

					.icon {
						margin: auto 0px;
						text-align: right;

						.shipping-icon {
							max-width: 100%;
							height: auto;
						}
					}
				}
			}

			.payment-method {
				::ng-deep {
					.accordion {
						.accordion-item {
							margin-bottom: 16px;
							border-radius: $default-border-radius;
							border: 1px solid $secondary-border-color;
							background-color: $light-color;
							overflow: hidden;

							&:last-of-type {
								margin: 0px;
							}

							.accordion-header {
								.accordion-button {
									padding: 16px;
									background-color: $light-color;
									box-shadow: none;

									&::after {
										display: none;
									}

									.credit-card,
									.paypal,
									.bitcoin {
										width: 100%;
										display: flex;
										justify-content: space-between;

										.form-check {
											padding: 0px;

											input {
												width: 22px;
												height: 22px;
												margin: 2px 16px 0px 0px;
												border: 1.5px solid $secondary-border-color;
												cursor: pointer;

												&[type=radio]:checked {
													background-color: $primary-color;
													border-color: $primary-color;
												}
												&:focus {
													box-shadow: 0 0 0 4px $primary-box-shadow-color;
												}
											}

											label {
												display: inline;
												color: $dark-color;
												font-family: $primary-english-font;
												font-weight: 600;
												font-size: 12px;
												cursor: pointer;
											}
										}
									}
								}
							}

							.accordion-body {
								.card-holder-column {
									@media (min-width: 768px) {
										margin: 0px
									}

									@media (min-width: 992px) {
										margin-bottom: 32px;
									}

									@media (min-width: 1200px) {
										margin: 0px;
									}
								}

								.expiration-date-column {
									@media (min-width: 576px) {
										margin: 0px;
									}
								}
							}
						}
					}
				}
			}

			.confirm {
				margin: 0px;

				.button {
					margin-bottom: 32px;

					.complete-button {
						padding: 16.5px 48px;
						border-radius: $default-border-radius;
						border: 2px solid $primary-border-color;
						background-color: $primary-color;
						color: $light-color;
						font-family: $primary-english-font;
						font-weight: 700;
						font-size: 15px;

						&:focus {
							box-shadow: 0 0 0 4px $primary-box-shadow-color;
						}
					}
				}

				.safe {
					.icon {
						margin-bottom: 10px;
					}

					.heading {
						margin-bottom: 2px;
						font-size: 12px;
					}

					.paragraph {
						width: 40%;
						margin: 0px;
						color: $input-text-color;
						font-family: $secondary-english-font;
						font-weight: 400;
						font-size: 12px;
					}
				}
			}
		}

		.summary {
			padding-right: 0px;

			@media (max-width: 991.98px) {
				padding: 0px;
			}

			.summary-content {
				padding: 32px 16px;
				border-radius: $default-border-radius;
				border: 1px solid $secondary-border-color;

				@media (max-width: 991.98px) {
					margin-bottom: 32px;
				}

				.heading {
					margin-bottom: 4px;
					color: $dark-color;
					font-family: $primary-english-font;
					font-weight: 600;
					font-size: 22px;
				}

				.subheading {
					margin-bottom: 8px;
					color: $input-text-color;
					font-family: $secondary-english-font;
					font-weight: 400;
					font-size: 12px;
				}

				.products {
					margin-bottom: 40px;

					.product {
						padding: 32px 0px 16px 0px;
						border-bottom: 1px solid $input-background-color;
					}
				}

				.price {
					margin-bottom: 32px;
					color: $dark-color;
					font-family: $primary-english-font;
					font-weight: 600;
					font-size: 12px;

					.value-column {
						text-align: right;
					}

					.text,
					.value {
						margin-bottom: 12px;

						&:last-of-type {
							margin: 0px;
						}
					}
				}

				.promo {
					margin-bottom: 40px;
				}

				.total {
					.text {
						color: $dark-color;
						font-family: $primary-english-font;
						font-weight: 600;
						font-size: 12px;
					}

					.delivery {
						color: $primary-color;
						font-family: $secondary-english-font;
						font-weight: 400;
						font-size: 12px;
					}

					.price-column {
						margin: auto;
						text-align: right;

						.price {
							margin: auto;
							color: $primary-color;
							font-family: $primary-english-font;
							font-weight: 600;
							font-size: 26px;

							@media (max-width: 575.98px) {
								font-size: 20px;
							}
						}
					}
				}
			}
		}
	}

	&.rtl {
		direction: rtl;

		.content {
			.billing {
				padding: 0px 0px 0px 12px;

				@media (max-width: 991.98px) {
					padding: 0px;
				}

				.billing-info,
				.shipping-method,
				.payment-method,
				.additional,
				.confirm {
					.heading {
						font-family: $primary-arabic-font;
					}

					.subheading {
						h3,
						.step {
							font-family: $secondary-arabic-font;
						}
					}

					.form-group {
						label {
							font-family: $primary-arabic-font;
						}

						input {
							font-family: $secondary-arabic-font;

							&[type=checkbox] {
								margin: 1px 0px 0px 8px;
								float: right;
							}
						}

						select,
						textarea {
							font-family: $secondary-arabic-font;
						}

						select {
							background-position: left 12px center;
						}

						.form-check {
							label {
								font-family: $secondary-arabic-font;
							}
						}
					}
				}

				.shipping-method {
					.shipping {
						.name {
							.form-check {
								input {
									margin: 2px 0px 0px 16px;
									float: right;
								}

								label {
									font-family: $primary-arabic-font;
								}
							}
						}

						.data {
							.text,
							.tag {
								font-family: $primary-arabic-font;
							}

							.text {
								margin: 0px 0px 0px 4px;
							}
						}

						.icon {
							text-align: left;
						}
					}
				}

				.payment-method {
					::ng-deep {
						.accordion {
							.accordion-item {
								.accordion-header {
									.accordion-button {
										.credit-card,
										.paypal,
										.bitcoin {
											.form-check {
												input {
													margin: 2px 0px 0px 16px;
													float: right;
												}

												label {
													font-family: $primary-arabic-font;
												}
											}
										}
									}
								}
							}
						}
					}
				}

				.confirm {
					.button {
						.complete-button {
							font-family: $primary-arabic-font;
						}
					}

					.safe {
						.paragraph {
							font-family: $secondary-arabic-font;
						}
					}
				}
			}

			.summary {
				padding: 0px 12px 0px 0px;

				.summary-content {
					.heading {
						font-family: $primary-arabic-font;
					}

					.subheading {
						font-family: $secondary-arabic-font;
					}

					.price {
						font-family: $primary-arabic-font;

						.value-column {
							text-align: left;
						}
					}

					.total {
						.text {
							font-family: $primary-arabic-font;
						}

						.delivery {
							font-family: $secondary-arabic-font;
						}

						.price-column {
							text-align: left;

							.price {
								font-family: $primary-arabic-font;
							}
						}
					}
				}
			}
		}
	}
}