<div class="container" [ngClass]="{ 'rtl': rtl }">
	<app-header></app-header>
	<app-menu></app-menu>

	<app-breadcrumb [breadcrumb]="breadcrumb"></app-breadcrumb>

	<div class="content row">
		<div class="col-xl-7 col-lg-6 col-md-12 billing">
			<div class="billing-info">
				<h2 class="heading">{{ 'translate.pages.checkout.billingInfo' | translate }}</h2>
				<div class="subheading">
					<h3>{{ 'translate.pages.checkout.enterBillingInfo' | translate }}</h3>
					<div class="step">{{ 'translate.pages.checkout.step1' | translate }}</div>
				</div>
				<div class="row">
					<div class="col-md-6 form-group">
						<label for="name">{{ 'translate.pages.checkout.fullName' | translate }}</label>
						<input class="form-control" id="name" type="text" placeholder="{{ 'translate.pages.checkout.fullName' | translate }}">
					</div>
					<div class="col-md-6 form-group">
						<label for="email">{{ 'translate.pages.checkout.email' | translate }}</label>
						<input class="form-control" id="email" type="email" placeholder="{{ 'translate.pages.checkout.email' | translate }}">
					</div>
					<div class="col-md-12 form-group">
						<label for="address">{{ 'translate.pages.checkout.address' | translate }}</label>
						<input class="form-control" id="address" type="text" placeholder="{{ 'translate.pages.checkout.address' | translate }}">
					</div>
					<div class="col-md-6 form-group">
						<label for="phone">{{ 'translate.pages.checkout.phone' | translate }}</label>
						<input class="form-control" id="phone" type="text" placeholder="{{ 'translate.pages.checkout.phone' | translate }}">
					</div>
					<div class="col-md-6 form-group">
						<label for="city">{{ 'translate.pages.checkout.city' | translate }}</label>
						<input class="form-control" id="city" type="text" placeholder="{{ 'translate.pages.checkout.city' | translate }}">
					</div>
					<div class="col-md-6 form-group">
						<label for="country">{{ 'translate.pages.profile.addressesSection.create.country' | translate }}</label>
						<select class="form-select" name="country" id="country">
							<option [value]="0">{{ 'translate.pages.profile.addressesSection.create.selectCountry' | translate }}</option>
							<option *ngFor="let country of countries" [value]="country.id">{{ country.name }}</option>
						</select>
					</div>
					<div class="col-md-6 form-group">
						<label for="postal">{{ 'translate.pages.checkout.postal' | translate }}</label>
						<input class="form-control" id="postal" type="text" placeholder="{{ 'translate.pages.checkout.postal' | translate }}">
					</div>
					<div class="col-md-6 form-group">
						<div class="form-check">
							<input class="form-check-input" type="checkbox" id="different-address">
							<label class="form-check-label" for="different-address">{{ 'translate.pages.checkout.shipDifferentAddress' | translate }}</label>
						</div>
					</div>
				</div>
			</div>
			<div class="shipping-method">
				<h2 class="heading">{{ 'translate.pages.checkout.shippingMethod' | translate }}</h2>
				<div class="subheading">
					<h3>{{ 'translate.pages.checkout.enterShippingMethod' | translate }}</h3>
					<div class="step">{{ 'translate.pages.checkout.step2' | translate }}</div>
				</div>
				<div class="row shipping" *ngFor="let delivery of deliveries">
					<div class="col-md-2 col-6 name">
						<div class="form-check">
							<input class="form-check-input" type="radio" [value]="delivery.price" name="shipping-method" id="{{ 'shipping-button-' + delivery.id }}" [(ngModel)]="cart.shipping">
							<label class="form-check-label" for="{{ 'shipping-button-' + delivery.id }}">{{ delivery.name }}</label>
						</div>
					</div>
					<div class="col-md-8 col-12 data">
						<!-- Space is required for arabic words to not connect with each others -->
						<span class="text">+{{ delivery.price }} {{ delivery.currency }}</span>&nbsp;
						<span class="tag">{{ 'translate.pages.checkout.additionalPrice' | translate }}</span>
					</div>
					<div class="col-md-2 col-6 icon">
						<img class="shipping-icon" src="{{ delivery.logo }}" alt="">
					</div>
				</div>
			</div>
			<div class="payment-method">
				<h2 class="heading">{{ 'translate.pages.checkout.paymentMethod' | translate }}</h2>
				<div class="subheading">
					<h3>{{ 'translate.pages.checkout.enterPaymentMethod' | translate }}</h3>
					<div class="step">{{ 'translate.pages.checkout.step3' | translate }}</div>
				</div>
				<ngb-accordion [closeOthers]="true" activeIds="credit-card" #accordion="ngbAccordion">
					<ngb-panel id="credit-card" #creditCard>
						<ng-template ngbPanelTitle>
							<div class="credit-card">
								<div class="form-check">
									<input class="form-check-input" type="radio" id="credit-card-button" [checked]="accordion.isExpanded('credit-card')">
									<label class="form-check-label" for="credit-card-button" (click)="accordion.toggle('credit-card')">{{ 'translate.pages.checkout.creditCard' | translate }}</label>
								</div>
								<div class="icons">
									<img class="visa-icon" src="../../../assets/icons/visa.svg" alt="">
									<img class="master-card-icon" src="../../../assets/icons/master-card.svg" alt="">
								</div>
							</div>
						</ng-template>
						<ng-template ngbPanelContent>
							<div class="row">
								<div class="col-md-12 form-group">
									<label for="card-number">{{ 'translate.pages.checkout.cardNumber' | translate }}</label>
									<input class="form-control" id="card-number" type="text" placeholder="{{ 'translate.pages.checkout.cardNumber' | translate }}">
								</div>
								<div class="col-xl-6 col-lg-12 col-md-6 form-group card-holder-column">
									<label for="card-holder">{{ 'translate.pages.checkout.cardHolder' | translate }}</label>
									<input class="form-control" id="card-holder" type="text" placeholder="{{ 'translate.pages.checkout.cardHolder' | translate }}">
								</div>
								<div class="col-xl-3 col-lg-6 col-md-3 col-sm-6 form-group expiration-date-column">
									<label for="expiration-date">{{ 'translate.pages.checkout.expirationDate' | translate }}</label>
									<input class="form-control" id="expiration-date" type="text" placeholder="{{ 'translate.pages.checkout.dateFormat' | translate }}">
								</div>
								<div class="col-xl-3 col-lg-6 col-md-3 col-sm-6 form-group cvc-column">
									<label for="cvc">{{ 'translate.pages.checkout.cvc' | translate }}</label>
									<input class="form-control" id="cvc" type="text" placeholder="{{ 'translate.pages.checkout.cvc' | translate }}">
								</div>
							</div>
						</ng-template>
					</ngb-panel>
					<ngb-panel id="paypal">
						<ng-template ngbPanelTitle>
							<div class="paypal">
								<div class="form-check">
									<input class="form-check-input" type="radio" id="paypal-button" [checked]="accordion.isExpanded('paypal')">
									<label class="form-check-label" for="paypal-button" (click)="accordion.toggle('paypal')">{{ 'translate.pages.checkout.payPal' | translate }}</label>
								</div>
								<div class="icons">
									<img class="dhl-icon" src="../../../assets/icons/paypal.svg" alt="">
								</div>
							</div>
						</ng-template>
						<ng-template ngbPanelContent>{{ 'translate.pages.checkout.payPal' | translate }}</ng-template>
					</ngb-panel>
					<ngb-panel id="bitcoin">
						<ng-template ngbPanelTitle>
							<div class="bitcoin">
								<div class="form-check">
									<input class="form-check-input" type="radio" id="bitcoin-button" [checked]="accordion.isExpanded('bitcoin')">
									<label class="form-check-label" for="bitcoin-button" (click)="accordion.toggle('bitcoin')">{{ 'translate.pages.checkout.bitcoin' | translate }}</label>
								</div>
								<div class="icons">
									<img class="bitcoin-icon" src="../../../assets/icons/bitcoin.svg" alt="">
								</div>
							</div>
						</ng-template>
						<ng-template ngbPanelContent>{{ 'translate.pages.checkout.bitcoin' | translate }}</ng-template>
					</ngb-panel>
				</ngb-accordion>
			</div>
			<div class="additional">
				<h2 class="heading">{{ 'translate.pages.checkout.additionalInfo' | translate }}</h2>
				<div class="subheading">
					<h3>{{ 'translate.pages.checkout.needSomething' | translate }}</h3>
					<div class="step">{{ 'translate.pages.checkout.step4' | translate }}</div>
				</div>
				<div class="form-group">
					<label for="notes">{{ 'translate.pages.checkout.orderNotes' | translate }}</label>
					<textarea class="form-control" id="notes" rows="4" placeholder="{{ 'translate.pages.checkout.needSpecificDeliveryDay' | translate }}"></textarea>
				</div>
			</div>
			<div class="confirm">
				<h2 class="heading">{{ 'translate.pages.checkout.confirmation' | translate }}</h2>
				<div class="subheading">
					<h3>{{ 'translate.pages.checkout.gettingEnd' | translate }}</h3>
					<div class="step">{{ 'translate.pages.checkout.step5' | translate }}</div>
				</div>
				<div class="form-group">
					<div class="form-check">
						<input class="form-check-input" type="checkbox" id="newsletter">
						<label class="form-check-label" for="newsletter">{{ 'translate.pages.checkout.agreeSendingEmails' | translate }}</label>
					</div>
				</div>
				<div class="form-group">
					<div class="form-check">
						<input class="form-check-input" type="checkbox" id="terms">
						<label class="form-check-label" for="terms">{{ 'translate.pages.checkout.agreeTerms' | translate }}</label>
					</div>
				</div>
				<div class="button">
					<button class="btn complete-button">{{ 'translate.pages.checkout.completeOrder' | translate }}</button>
				</div>
				<div class="safe">
					<div class="icon">
						<svg width="30" height="32" class="safe-icon">
							<use xlink:href="../../../assets/icons/safe.svg#safe"></use>
						</svg>
					</div>
					<h3 class="heading">{{ 'translate.pages.checkout.allDataSafe' | translate }}</h3>
					<p class="paragraph">{{ 'translate.pages.checkout.usingMostSecurity' | translate }}</p>
				</div>
			</div>
		</div>
		<div class="col-xl-5 col-lg-6 col-md-12 summary">
			<div class="summary-content">
				<h2 class="heading">{{ 'translate.pages.checkout.orderSummary' | translate }}</h2>
				<h3 class="subheading">{{ 'translate.pages.checkout.priceChange' | translate }}</h3>
				<div class="products">
					<div class="product" *ngFor="let product of cart.products">
						<app-product-tiny [product]="product"></app-product-tiny>
					</div>
				</div>
				<div class="row price">
					<div class="col-6 text-column">
						<div class="text">{{ 'translate.pages.checkout.subtotal' | translate }}:</div>
						<div class="text">{{ 'translate.pages.checkout.tax' | translate }}: ({{ (cart.tax / cart.subtotal * 100) | number:'1.0-0' }}&#65285;)</div>
						<div class="text">{{ 'translate.pages.checkout.shipping' | translate }}:</div>
					</div>
					<div class="col-6 value-column">
						<div class="value">{{ cart.subtotal }} {{ cart.currency }}</div>
						<div class="value">{{ cart.tax }} {{ cart.currency }}</div>
						<div class="value">{{ cart.shipping }} {{ cart.currency }}</div>
					</div>
				</div>
				<div class="promo">
					<app-text-input-group [placeholder]="'translate.pages.checkout.applyPromo' | translate" [button]="'translate.pages.checkout.apply' | translate" (onApply)="onPromoApplied($event)"></app-text-input-group>
				</div>
				<div class="row total">
					<div class="col-6">
						<div class="text">{{ 'translate.pages.checkout.totalOrder' | translate }}</div>
						<div class="delivery">{{ 'translate.pages.checkout.guaranteedDeliveryDay' | translate }}: {{ deliveryDate.toLocaleDateString(language, { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' }) }}</div>
					</div>
					<div class="col-6 price-column">
						<div class="price">{{ (cart.subtotal + cart.tax + cart.shipping) | number:'1.0-2' }} {{ cart.currency }}</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<app-footer [show-links]="false" [show-tags]="false"></app-footer>
</div>