@import '../../../variables';

.navbar {
	padding: 12px 45px;
	background-color: $input-background-color !important;

	.container-fluid {
		padding: 0px;
		justify-content: flex-end;

		.navbar-toggler {
			&:focus {
				box-shadow: 0 0 0 4px $secondary-box-shadow-color;
			}
		}

		.navbar-collapse {
			@media (max-width: 991.98px) {
				margin-top: 0.5rem;
			}

			.navbar-nav {
				@media (min-width: 992px) {
					display: block;
				}

				.nav-item {
					margin-right: 40px;
					padding: 4px 0px;

					&:last-of-type {
						margin: 0px;
					}

					@media (min-width: 992px) {
						display: inline-block;
					}

					@media (max-width: 1199.98px) {
						margin-right: 12px;
					}

					@media (max-width: 991.98px) {
						margin-right: 0px;
					}

					.dropdown-button {
						padding: 0px;
						color: $dark-color;
						font-family: $primary-english-font;
						font-weight: 500;
						font-size: 15px;

						&::after {
							display: none;
						}
						&:focus {
							box-shadow: 0 0 0 4px $secondary-box-shadow-color;
						}

						.down-arrow-icon {
							width: 7px;
							height: 4.2px;
						}
					}

					.dropdown-menu {
						background-color: $input-background-color;

						.dropdown-item {
							color: $dark-color;
							font-family: $primary-english-font;
							font-weight: 400;
							font-size: 15px;

							&:hover,
							&:focus
							&.active,
							&:active {
								background-color: $dropdown-item-background-color;
							}
						}
					}
				}
			}
		}
	}

	&.rtl {
		.container-fluid {
			.navbar-collapse {
				.navbar-nav {
					padding: 0px 0px 0px 40px;

					.nav-item {
						margin: 0px 0px 0px 40px;

						&:last-of-type {
							margin: 0px;
						}

						@media (max-width: 1199.98px) {
							margin-left: 12px;
						}

						@media (max-width: 991.98px) {
							margin-left: 0px;
						}

						.dropdown-button {
							font-family: $primary-arabic-font;
						}

						.dropdown-menu {
							left: unset;
							text-align: right;

							.dropdown-item {
								font-family: $primary-arabic-font;
							}
						}
					}
				}
			}
		}
	}
}