<nav class="navbar navbar-expand-lg navbar-light bg-light" [ngClass]="{ 'rtl': rtl }">
	<div class="container-fluid">
		<button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
			<ul class="navbar-nav">
				<li class="nav-item" *ngFor="let category of categories">
					<div ngbDropdown class="d-inline-block">
						<button ngbDropdownToggle class="btn dropdown-button">
							{{ category.name }}
							<svg width="7" height="4.2" class="arrow-icon">
								<use xlink:href="../../../assets/icons/arrow.svg#arrow"></use>
							</svg>
						</button>
						<div ngbDropdownMenu class="dropdown-menu">
							<a ngbDropdownItem class="dropdown-item" [routerLink]="['/categories', subcategory.slug, 'products']" *ngFor="let subcategory of category.subcategories">{{ subcategory.name }}</a>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
</nav>