.navbar {
	padding: 12px 45px;
	background-color: #F9F9F9 !important;

	.container-fluid {
		padding: 0px;
		justify-content: flex-end;

		.navbar-collapse {
			@media (max-width: 991.98px) {
				margin-top: 0.5rem;
			}

			.navbar-nav {
				@media (min-width: 992px) {
					display: block;
				}

				.nav-item {
					margin-right: 40px;
					padding: 4px 0px;

					&:last-of-type {
						margin: 0px;
					}

					@media (min-width: 992px) {
						display: inline-block;
					}

					@media (max-width: 1199.98px) {
						margin-right: 12px;
					}

					@media (max-width: 991.98px) {
						margin-right: 0px;
					}

					.dropdown-button {
						padding: 0px;
						font-family: 'Poppins';
						font-weight: 500;
						font-size: 15px;

						&::after {
							display: none;
						}

						.down-arrow-icon {
							width: 7px;
							height: 4.2px;
						}
					}

					.dropdown {
						background-color: #F9F9F9;

						.dropdown-item {
							font-family: 'Poppins';
							font-weight: 400;
							font-size: 15px;
						}
					}
				}
			}
		}
	}
}