<div class="container">
	<div class="row">
		<div class="col-lg-3 col-md-4 col-sm-4 col-12 options">
			<div class="image"></div>
			<div class="wishlist"><img class="heart-icon" src="../../../assets/icons/heart-orange.svg" alt=""> Wishlist</div>
			<div class="compare"><img class="compare-icon" src="../../../assets/icons/compare.svg" alt=""> Compare</div>
			<div class="remove"><img class="close-icon" src="../../../assets/icons/close-black.svg" alt=""> Remove</div>
		</div>
		<div class="col-lg-9 col-md-8 col-sm-8 col-12 info">
			<h3 class="heading">Product title</h3>
			<div class="details">
				<div class="text-column">
					<div class="text">Farm:</div>
					<div class="text">Freshness:</div>
				</div>
				<div class="value-column">
					<div class="value">Tharamis Farm</div>
					<div class="value">1 day old</div>
				</div>
			</div>
			<div class="stars">
				<img class="star-icon" src="../../../assets/icons/star-yellow.svg" alt="">
				<img class="star-icon" src="../../../assets/icons/star-yellow.svg" alt="">
				<img class="star-icon" src="../../../assets/icons/star-yellow.svg" alt="">
				<img class="star-icon" src="../../../assets/icons/star-yellow.svg" alt="">
				<img class="star-icon" src="../../../assets/icons/star-white.svg" alt="">
			</div>
			<div class="price">
				<div class="price-column">
					<div class="current-price">36.99 USD</div>
					<div class="old-price">48.56 USD</div>
				</div>
				<div class="quantity-column">
					<div class="input-group">
						<div class="input-group-prepend">
							<input class="form-control" type="text" placeholder="1pcs">
						</div>
						<div class="vertical-splitter"></div>
						<div ngbDropdown class="d-inline-block">
							<button ngbDropdownToggle class="btn dropdown-button">Pcs <img class="down-arrow-icon" src="../../../assets/icons/down-arrow-black.svg" alt=""></button>
							<div ngbDropdownMenu class="dropdown">
								<button ngbDropdownItem class="dropdown-item">Pcs</button>
								<button ngbDropdownItem class="dropdown-item">Pcs</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>