.container {
	padding: 0px;

	.row {
		margin: 0px;

		.options {
			padding: 0px 8px 0px 0px;

			@media (max-width: 575.98px) {
				margin-bottom: 16px;
				padding: 0px;
			}

			.cover-image {
				position: relative;
				height: 67px;
				margin-bottom: 12px;
				border-radius: 12px;
				background-color: #F9F9F9;
				overflow: hidden;

				@media (max-width: 991.98px) {
					height: 100px;
				}

				img {
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
				}
			}

			.wishlist,
			.compare,
			.remove {
				margin-bottom: 8px;
				color: #A9A9A9;
				font-family: 'OpenSans';
				font-weight: 400;
				font-size: 12px;
				cursor: pointer;

				&:last-of-type {
					margin: 0px;
				}
			}

			.wishlist {
				.heart-icon {
					width: 12px;
					height: 12px;
					margin-right: 6px;
				}
			}

			.compare {
				.compare-icon {
					width: 12px;
					height: 12px;
					margin-right: 6px;
				}
			}

			.remove {
				.close-icon {
					margin-right: 8px;
					margin-left: 2px;
				}
			}
		}

		.info {
			padding: 0px 0px 0px 8px;

			@media (max-width: 575.98px) {
				padding: 0px;
			}

			.heading {
				margin-bottom: 4px;
				text-decoration: none;
				color: #151515;
				font-family: 'Poppins';
				font-weight: 500;
				font-size: 15px;
			}

			.details {
				.details-row {
					margin: 0px 0px 7px 0px;

					&:last-of-type {
						margin: 0px;
					}

					.text {
						margin: auto;
						padding-left: 0px;
						color: #A9A9A9;
						font-family: 'OpenSans';
						font-weight: 400;
						font-size: 12px;
						overflow-wrap: break-word;
					}

					.value {
						margin: auto;
						padding-right: 0px;
						color: #151515;
						font-family: 'OpenSans';
						font-weight: 400;
						font-size: 12px;
					}
				}
			}

			.stars {
				margin-bottom: 8px;

				.star {
					position: relative;
					display: inline-block;
					font-size: 20px;
					color: #D1D1D1;

					&.full {
						color: #FDBC15;
					}

					.half {
						position: absolute;
						display: inline-block;
						overflow: hidden;
						color: #FDBC15;
					}
				}
			}

			.price {
				display: flex;
				justify-content: space-between;

				@media (max-width: 575.98px) {
					display: block;
				}

				.price-column {
					@media (max-width: 575.98px) {
						margin-bottom: 8px;
					}

					.current-price {
						color: #6A983C;
						font-family: 'Poppins';
						font-weight: 600;
						font-size: 18px;
					}

					.old-price {
						text-decoration: line-through;
						color: #A9A9A9;
						font-family: 'Poppins';
						font-weight: 600;
						font-size: 12px;
					}
				}

				.quantity-column {
					margin: auto 0px;

					.input-group {
						input {
							width: 45px;
							padding: 5px 6px;
							border-radius: 12px 0px 0px 12px;
							border: 1px solid #D1D1D1;
							border-right: none;
							background-color: #F9F9F9;
							color: #D1D1D1;
							font-family: 'OpenSans';
							font-weight: 400;
							font-size: 14px;

							&::placeholder {
								color: #D1D1D1;
							}
						}

						.vertical-splitter {
							width: 1px;
							margin: 6px 0px;
							background-color: #D1D1D1;
							z-index: 4;
						}

						.dropdown-button {
							padding: 6.5px 6px;
							border-radius: 0px 12px 12px 0px;
							border: 1px solid #D1D1D1;
							border-left: none;
							background-color: #F9F9F9;
							color: #151515;
							font-family: 'Poppins';
							font-weight: 600;
							font-size: 12px;

							&::after {
								display: none;
							}

							.down-arrow-icon {
								margin-left: 4px;
							}
						}

						.dropdown-menu {
							background-color: #F9F9F9;

							.dropdown-item {
								font-family: 'Poppins';
								font-weight: 400;
								font-size: 12px;
							}
						}
					}
				}
			}
		}
	}
}