<div class="container">
	<div class="row">
		<div class="col-lg-3 col-md-4 col-sm-4 col-12 options">
			<div class="cover-image">
				<img src="{{ product.images[0] }}" alt="" *ngIf="product.images.length > 0">
			</div>
			<div class="wishlist"><img class="heart-icon" src="../../../assets/icons/heart-orange.svg" alt=""> Wishlist</div>
			<div class="compare"><img class="compare-icon" src="../../../assets/icons/compare.svg" alt=""> Compare</div>
			<div class="remove"><img class="close-icon" src="../../../assets/icons/close-black.svg" alt=""> Remove</div>
		</div>
		<div class="col-lg-9 col-md-8 col-sm-8 col-12 info">
			<a class="heading" [routerLink]="['/products', product.slug]">{{ product.name }}</a>
			<div class="details">
				<div class="row details-row">
					<div class="col-5 text">Farm:</div>
					<div class="col-7 value">{{ product.farm }}</div>
				</div>
				<div class="row details-row">
					<div class="col-5 text">Freshness:</div>
					<div class="col-7 value">{{ product.freshness }}</div>
				</div>
			</div>
			<div class="stars">
				<ng-template #starTemplate let-fill="fill">
					<span class="star" [class.full]="fill === 100">
						<span class="half" [style.width.%]="fill">&starf;</span>&starf;
					</span>
				</ng-template>
				<ngb-rating [(rate)]="product.rating" [starTemplate]="starTemplate" [readonly]="true" [max]="5"></ngb-rating>
			</div>
			<div class="price">
				<div class="price-column">
					<div class="current-price">{{ product.price }} {{ product.currency }}</div>
					<div class="old-price">{{ product.oldPrice }} {{ product.currency }}</div>
				</div>
				<div class="quantity-column">
					<app-stock-input-group [availablePacks]="product.availablePacks" [(quantity)]="product.selectedQuantity"></app-stock-input-group>
				</div>
			</div>
		</div>
	</div>
</div>