@import '../../../variables';

.container {
	padding: 0px;

	.row {
		margin: 0px;

		.options {
			padding: 0px 8px 0px 0px;

			@media (max-width: 575.98px) {
				margin-bottom: 16px;
				padding: 0px;
			}

			.cover-image {
				position: relative;
				height: 67px;
				margin-bottom: 12px;
				border-radius: $default-border-radius;
				background-color: $image-background-color;
				overflow: hidden;

				@media (max-width: 991.98px) {
					height: 100px;
				}

				img {
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
				}
			}

			.wishlist,
			.compare,
			.remove {
				margin-bottom: 8px;
				color: $input-text-color;
				font-family: $secondary-english-font;
				font-weight: 400;
				font-size: 12px;
				cursor: pointer;

				&:last-of-type {
					margin: 0px;
				}
			}

			.wishlist {
				.heart-icon {
					width: 12px;
					height: 12px;
					margin-right: 6px;
				}
			}

			.compare {
				.compare-icon {
					width: 12px;
					height: 12px;
					margin-right: 6px;
				}
			}

			.remove {
				.close-icon {
					margin-right: 8px;
					margin-left: 2px;
				}
			}
		}

		.info {
			padding: 0px 0px 0px 8px;

			@media (max-width: 575.98px) {
				padding: 0px;
			}

			.heading {
				margin-bottom: 4px;
				text-decoration: none;
				color: $dark-color;
				font-family: $primary-english-font;
				font-weight: 500;
				font-size: 15px;
			}

			.details {
				.details-row {
					margin: 0px 0px 7px 0px;

					&:last-of-type {
						margin: 0px;
					}

					.text {
						margin: auto;
						padding-left: 0px;
						color: $input-text-color;
						font-family: $secondary-english-font;
						font-weight: 400;
						font-size: 12px;
						overflow-wrap: break-word;
					}

					.value {
						margin: auto;
						padding-right: 0px;
						color: $dark-color;
						font-family: $secondary-english-font;
						font-weight: 400;
						font-size: 12px;
					}
				}
			}

			.stars {
				margin-bottom: 8px;

				.star {
					position: relative;
					display: inline-block;
					font-size: 20px;
					color: $secondary-border-color;

					&.full {
						color: $star-color;
					}

					.half {
						position: absolute;
						display: inline-block;
						overflow: hidden;
						color: $star-color;
					}
				}
			}

			.price {
				display: flex;
				justify-content: space-between;

				@media (max-width: 575.98px) {
					display: block;
				}

				.price-column {
					@media (max-width: 575.98px) {
						margin-bottom: 8px;
					}

					.current-price {
						color: $primary-color;
						font-family: $primary-english-font;
						font-weight: 600;
						font-size: 18px;
					}

					.old-price {
						text-decoration: line-through;
						color: $input-text-color;
						font-family: $primary-english-font;
						font-weight: 600;
						font-size: 12px;
					}
				}

				.quantity-column {
					margin: auto 0px;
				}
			}
		}
	}

	&.rtl {
		.row {
			.options {
				padding: 0px 0px 0px 8px;

				@media (max-width: 575.98px) {
					padding: 0px;
				}

				.wishlist,
				.compare,
				.remove {
					font-family: $secondary-arabic-font;
				}

				.wishlist {
					.heart-icon {
						margin: 0px 0px 0px 6px;
						transform: scaleX(-1);
					}
				}

				.compare {
					.compare-icon {
						margin: 0px 0px 0px 6px;
						transform: scaleX(-1);
					}
				}

				.remove {
					.close-icon {
						margin-right: 2px;
						margin-left: 8px;
						transform: scaleX(-1);
					}
				}
			}

			.info {
				padding: 0px 8px 0px 0px;

				.heading {
					font-family: $primary-arabic-font;
				}

				.details {
					.details-row {
						.text,
						.value {
							font-family: $secondary-arabic-font;
						}

						.text {
							padding: 0px 0px 0px 12px;
						}

						.value {
							padding: 0px 12px 0px 0px;
						}
					}
				}

				.price {
					.price-column {
						.current-price,
						.old-price {
							font-family: $primary-arabic-font;
						}
					}
				}
			}
		}
	}
}