<div class="container">
	<app-header></app-header>
	<app-menu></app-menu>

	<app-breadcrumb [breadcrumb]="breadcrumb"></app-breadcrumb>

	<div class="header">
		<h2 class="heading">Blogs</h2>
		<div class="view">
			<div class="item">
				<span class="count">{{ largeBlogs.length + blogs.length }}</span>
				<span class="text">Blogs</span>
			</div>
		</div>
	</div>

	<div class="content">
		<div class="row large-blogs">
			<div class="col-lg-6 blog" *ngFor="let blog of largeBlogs">
				<app-blog-large [blog]="blog"></app-blog-large>
			</div>
		</div>
		<div class="row small-blogs">
			<div class="col-lg-3 widgets">
				<div class="widget">
					<h3 class="heading">Archives</h3>
					<div class="link"><a href="#">March 2020</a></div>
					<div class="link"><a href="#">February 2020</a></div>
					<div class="link"><a href="#">January 2020</a></div>
					<div class="link"><a href="#">November 2019</a></div>
					<div class="link"><a href="#">December 2019</a></div>
				</div>
				<div class="widget">
					<h3 class="heading">Category</h3>
					<div class="link" *ngFor="let category of categories">
						<a class="gray" [routerLink]="['/blogs/categories', category.slug]">{{ category.name }}</a>
					</div>
				</div>
				<div class="widget">
					<h3 class="heading join">Join our list</h3>
					<p class="description">Signup to be the first to hear about exclusive deals, special offers, recepies from our masters and others.</p>
					<app-text-input-group [placeholder]="'Your email address'" [button]="'Subscribe'" (onApply)="onSubscribed($event)"></app-text-input-group>
				</div>
			</div>
			<div class="col-lg-9 blogs">
				<div class="row">
					<div class="col-xl-4 col-lg-6 col-md-6 blog" *ngFor="let blog of blogs">
						<app-blog-medium [blog]="blog"></app-blog-medium>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row footer">
		<div class="col-3 pages">
			<h3 class="title">Page:</h3>
			<a class="page active" href="#">1</a>
			<a class="page" href="#">2</a>
			<a class="page" href="#">3</a>
			<a class="page" href="#">4</a>
		</div>
		<div class="col-6 more">
			<button class="btn more-button">Next page <img class="down-arrow-icon" src="../../../assets/icons/right-arrow-white.svg" alt=""></button>
		</div>
		<div class="col-3 blogs">
			<span class="count">{{ largeBlogs.length + blogs.length }}</span>
			<span class="text">Blogs</span>
		</div>
	</div>

	<app-footer></app-footer>
</div>