@import '../../../variables';

.container {
	padding: 0px;
	background-color: $page-background-color;
	box-shadow: $page-box-shadow;

	.header {
		padding: 8px 45px;
		display: flex;
		justify-content: space-between;

		.heading {
			margin: auto 0px;
			color: $dark-color;
			font-family: $primary-english-font;
			font-weight: 600;
			font-size: 32px;

			@media (max-width: 767.98px) {
				font-size: 24px;
			}

			@media (max-width: 575.98px) {
				font-size: 20px;
			}
		}

		.view {
			margin: auto 0px;

			@media (max-width: 991.98px) {
				text-align: right;
			}

			.item {
				margin-left: 24px;
				display: inline-block;
				color: $input-text-color;
				font-family: $secondary-english-font;
				font-weight: 400;
				font-size: 12px;

				@media (max-width: 991.98px) {
					margin-bottom: 8px;
				}

				.count {
					margin-right: 4px;
					padding: 0px 8px;
					border-radius: $default-border-radius;
					background-color: $tag-background-color;
					color: $primary-color;
					font-family: $primary-english-font;
					font-weight: 600;
					font-size: 12px;
				}
			}
		}
	}

	.content {
		padding: 64px 45px 16px;

		.large-blogs {
			margin-bottom: 96px;

			.blog {
				&:not(:last-of-type) {
					@media (max-width: 991.98px) {
						margin-bottom: 16px;
					}
				}
			}
		}

		.small-blogs {
			.widgets {
				@media (max-width: 991.98px) {
					margin-bottom: 48px;
				}

				.widget {
					margin-bottom: 48px;

					&:last-of-type {
						margin: 0px;
					}

					.heading {
						margin-bottom: 16px;
						color: $dark-color;
						font-family: $primary-english-font;
						font-weight: 600;
						font-size: 18px;

						&.join {
							margin-bottom: 8px;
						}
					}

					.link {
						margin-bottom: 12px;

						&:last-of-type {
							margin: 0px;
						}

						a {
							color: $primary-color;
							font-family: $secondary-english-font;
							font-weight: 400;
							font-size: 14px;

							&.gray {
								color: $input-text-color;
							}
						}
					}

					.description {
						margin-bottom: 24px;
						color: $input-text-color;
						font-family: $secondary-english-font;
						font-weight: 400;
						font-size: 14px;
					}
				}
			}

			.blogs {
				.blog {
					margin-bottom: 32px;
				}
			}
		}
	}

	.footer {
		margin: 0px;
		padding: 16px 45px;
		display: flex;
		justify-content: space-between;

		.pages {
			margin: auto 0px;
			padding-left: 0px;

			@media (max-width: 991.98px) {
				width: 50%;
			}

			.title {
				margin: auto 8px auto 0px;
				display: inline-block;
				color: $input-text-color;
				font-family: $secondary-english-font;
				font-weight: 400;
				font-size: 12px;
			}

			.page {
				margin: auto 8px auto 0px;
				text-decoration: none;
				color: $dark-color;
				font-family: $secondary-english-font;
				font-weight: 400;
				font-size: 12px;
				cursor: pointer;

				&.active {
					color: $primary-color;
				}
			}
		}

		.more {
			text-align: center;

			@media (max-width: 991.98px) {
				width: 100%;
				margin-top: 16px;
				order: 2;
			}

			.more-button {
				padding: 12px 16px;
				border-radius: $default-border-radius;
				border: 2px solid $primary-border-color;
				background-color: $primary-color;
				color: $light-color;
				font-family: $primary-english-font;
				font-weight: 700;
				font-size: 15px;

				.arrow-icon {
					margin-left: 6px;
					--color: #{$light-color};
				}
			}
		}

		.blogs {
			margin: auto 0px;
			padding-right: 0px;
			text-align: right;

			@media (max-width: 991.98px) {
				width: 50%;
			}

			.count {
				margin-right: 4px;
				padding: 0px 8px;
				border-radius: $default-border-radius;
				background-color: $tag-background-color;
				color: $primary-color;
				font-family: $primary-english-font;
				font-weight: 600;
				font-size: 12px;
			}

			.text {
				color: $input-text-color;
				font-family: $secondary-english-font;
				font-weight: 400;
				font-size: 12px;
			}
		}
	}

	&.rtl {
		direction: rtl;

		.header {
			.heading {
				font-family: $primary-arabic-font;
			}

			.view {
				@media (max-width: 991.98px) {
					text-align: left;
				}

				.item {
					margin: 0px 24px 0px 0px;
					font-family: $secondary-arabic-font;

					.count {
						margin: 0px 0px 0px 4px;
						font-family: $primary-arabic-font;
					}
				}
			}
		}

		.content {
			.small-blogs {
				.widgets {
					.widget {
						.heading {
							font-family: $primary-arabic-font;
						}

						.link {
							a {
								font-family: $secondary-arabic-font;
							}
						}

						.description {
							font-family: $secondary-arabic-font;
						}
					}
				}
			}
		}

		.footer {
			.pages {
				padding: 0px 0px 0px 12px;

				.title,
				.page {
					margin: auto 0px auto 8px;
					font-family: $secondary-arabic-font;
					unicode-bidi: bidi-override;
				}
			}

			.more {
				.more-button {
					font-family: $primary-arabic-font;

					&:focus {
						box-shadow: 0 0 0 4px $primary-box-shadow-color;
					}

					.arrow-icon {
						margin: 0px 6px 0px 0px;
					}
				}
			}

			.blogs {
				padding: 0px 12px 0px 0px;
				text-align: left;

				.count {
					margin: 0px 0px 0px 4px;
					font-family: $primary-arabic-font;
				}

				.text {
					font-family: $secondary-arabic-font;
				}
			}
		}
	}
}