<div class="container" [ngClass]="{ 'rtl': rtl }">
	<app-header></app-header>
	<app-menu></app-menu>

	<app-breadcrumb [breadcrumb]="breadcrumb"></app-breadcrumb>

	<div class="header">
		<h2 class="heading">{{ title | translate }}</h2>
		<div class="view">
			<div class="item">
				<span class="count">{{ largeBlogs.length + blogs.length }}</span>
				<span class="text">{{ 'translate.pages.blogs.blogs' | translate }}</span>
			</div>
		</div>
	</div>

	<div class="content">
		<div class="row large-blogs">
			<div class="col-lg-6 blog" *ngFor="let blog of largeBlogs">
				<app-blog-large [blog]="blog"></app-blog-large>
			</div>
		</div>
		<div class="row small-blogs">
			<div class="col-lg-3 widgets">
				<div class="widget">
					<h3 class="heading">{{ 'translate.pages.blogs.archives' | translate }}</h3>
					<div class="link" *ngFor="let archive of archives">
						<a href="#">{{ archive }}</a>
					</div>
				</div>
				<div class="widget">
					<h3 class="heading">{{ 'translate.pages.blogs.categories' | translate }}</h3>
					<div class="link" *ngFor="let category of categories">
						<a class="gray" [routerLink]="['/categories', category.slug, 'blogs']">{{ category.name }}</a>
					</div>
				</div>
				<div class="widget">
					<h3 class="heading join">{{ 'translate.pages.blogs.join' | translate }}</h3>
					<p class="description">{{ 'translate.pages.blogs.signupToBeFirst' | translate }}</p>
					<app-text-input-group [placeholder]="'translate.pages.blogs.yourEmail' | translate" [button]="'translate.pages.blogs.subscribe' | translate" (onApply)="onSubscribed($event)"></app-text-input-group>
				</div>
			</div>
			<div class="col-lg-9 blogs">
				<div class="row">
					<div class="col-xl-4 col-lg-6 col-md-6 blog" *ngFor="let blog of blogs">
						<app-blog-medium [blog]="blog"></app-blog-medium>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row footer">
		<div class="col-3 pages">
			<h3 class="title">{{ 'translate.pages.blogs.page' | translate }}:</h3>
			<a class="page active" href="#">1</a>
			<a class="page" href="#">2</a>
			<a class="page" href="#">3</a>
			<a class="page" href="#">4</a>
		</div>
		<div class="col-6 more">
			<button class="btn more-button">{{ 'translate.pages.blogs.nextPage' | translate }} <img class="down-arrow-icon" src="../../../assets/icons/right-arrow-white.svg" alt=""></button>
		</div>
		<div class="col-3 blogs">
			<span class="count">{{ largeBlogs.length + blogs.length }}</span>
			<span class="text">{{ 'translate.pages.blogs.blogs' | translate }}</span>
		</div>
	</div>

	<app-footer></app-footer>
</div>